# All values in this files can be overriden by environment variables
# with the same names, or by command line arguments.

# Credentials for GitHub
########################

# First, create a GitHub app as described on https://develop.sentry.dev/integrations/github/.
# This will give you the App ID and a private key you can save as a .pem file.
# Then install the app on your account. You'll then find the installation ID
# in the "Configure" URL listed on https://github.com/settings/installations.
GITHUB_APP_ID=2876513
GITHUB_PRIVATE_KEY_PATH=github.pem
GITHUB_INSTALLATION_ID=120833184

# Credentials for GitLab
########################

GITLAB_BASE_URL=https://gitlab.com
# GitLab access token, from https://gitlab.com/-/user_settings/personal_access_tokens.
GITLAB_ACCESS_TOKEN=

# Credentials for RPC
#####################
SCM_RPC_SECRET=some-other-shared-secret-for-scm-etc

# Default repositories
######################

# The GitLab project ID is a numeric identifier for your repository.
# You can find it on the project page, in the "..." menu in the top right corner.
GITLAB_PROJECT_ID=

# For GitHub, the full repository name is used for bin/scm-*-client
GITHUB_REPOSITORY_NAME={owner}/{repo}
# but the repository ID is required for bin/sentry-rpc-github-client.
# You can find it in the HTML code of the repository page, as:
# <meta name="octolytics-dimension-repository_id" content="1234567890" />
#                                                          ^^^^^^^^^^
GITHUB_REPOSITORY_ID=
