interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://gitlab.com/api/v4/projects/79787061/merge_requests/1/notes
  response:
    body:
      string: '[{"id":3537345846,"type":"DiffNote","body":"A review comment on a line,
        made by the API on 2026-07-08 12:00:00.","author":{"id":150871,"username":"jacquev6","public_email":"","name":"Vincent
        Jacques","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/64b276c831d40984ef60c18f9d8d046cffc9b20292e357df709b929a4dc3c188?s=80\u0026d=identicon","web_url":"https://gitlab.com/jacquev6"},"created_at":"2026-07-08T14:21:39.387Z","updated_at":"2026-07-08T14:21:39.387Z","system":false,"noteable_id":459277081,"noteable_type":"MergeRequest","project_id":79787061,"commit_id":null,"position":{"base_sha":"0941ee0a9eac9914cfddf5adec7a9558a2f1c447","start_sha":"0941ee0a9eac9914cfddf5adec7a9558a2f1c447","head_sha":"7497e018d01503b6abc3053b7896266115e631f6","old_path":"BLAH.md","new_path":"BLAH.md","position_type":"text","old_line":null,"new_line":5,"line_range":null},"resolvable":true,"resolved":false,"resolved_by":null,"resolved_at":null,"suggestions":[],"confidential":false,"internal":false,"imported":false,"imported_from":"none","noteable_iid":1,"commands_changes":{}},{"id":3537342606,"type":null,"body":"A
        great comment!","author":{"id":150871,"username":"jacquev6","public_email":"","name":"Vincent
        Jacques","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/64b276c831d40984ef60c18f9d8d046cffc9b20292e357df709b929a4dc3c188?s=80\u0026d=identicon","web_url":"https://gitlab.com/jacquev6"},"created_at":"2026-07-08T14:21:06.369Z","updated_at":"2026-07-08T14:21:06.369Z","system":false,"noteable_id":459277081,"noteable[...]
- request:
    body: '{"body": "Another comment, made through the API."}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - SCRUBBED
    method: POST
    uri: https://gitlab.com/api/v4/projects/79787061/merge_requests/1/notes
  response:
    body:
      string: '{"id":3537357520,"type":null,"body":"Another comment, made through
        the API.","author":{"id":150871,"username":"jacquev6","public_email":"","name":"Vincent
        Jacques","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/64b276c831d40984ef60c18f9d8d046cffc9b20292e357df709b929a4dc3c188?s=80\u0026d=identicon","web_url":"https://gitlab.com/jacquev6"},"created_at":"2026-07-08T14:24:27.788Z","updated_at":"2026-07-08T14:24:27.788Z","system":false,"noteable_id":459277081,"noteable_type":"MergeRequest","project_id":79787061,"resolvable":false,"confidential":false,"internal":false,"imported":false,"imported_from":"none","noteable_iid":1,"commands_changes":{}}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"1d2f0ae612561e805a48eea56b1fab28"
      gitlab-lb:
      - haproxy-main-20-lb-gprd
      gitlab-sv:
      - api-gke-us-east1-c
      ratelimit-limit:
      - '2000'
      ratelimit-name:
      - throttle_authenticated_api
      ratelimit-observed:
      - '2'
      ratelimit-remaining:
      - '1998'
      ratelimit-reset:
      - '1783520700'
      x-gitlab-meta:
      - '{"correlation_id":"a17fc0abc9e53d01-CDG","version":"1"}'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: DELETE
    uri: https://gitlab.com/api/v4/projects/79787061/merge_requests/1/notes/3537357520
  response:
    body:
      string: ''
    headers:
      gitlab-lb:
      - haproxy-main-16-lb-gprd
      gitlab-sv:
      - api-gke-us-east1-b
      ratelimit-limit:
      - '2000'
      ratelimit-name:
      - throttle_authenticated_api
      ratelimit-observed:
      - '4'
      ratelimit-remaining:
      - '1996'
      ratelimit-reset:
      - '1783520700'
      x-gitlab-meta:
      - '{"correlation_id":"a17fc0b26c18bb7b-CDG","version":"1"}'
    status:
      code: 204
      message: No Content
[...]
