interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://gitlab.com/api/v4/projects/79787061/merge_requests/1/versions
  response:
    body:
      string: '[{"id":1692137080,"head_commit_sha":"7497e018d01503b6abc3053b7896266115e631f6","base_commit_sha":"0941ee0a9eac9914cfddf5adec7a9558a2f1c447","start_commit_sha":"0941ee0a9eac9914cfddf5adec7a9558a2f1c447","created_at":"2026-03-05T11:16:06.468Z","merge_request_id":459277081,"state":"collected","real_size":"1","patch_id_sha":"7e2de654ed21ae09a78ad51592379d8a582e90ff"},{"id":1682341969,"head_commit_sha":"6d8ca33dae268d3c5835e721e5702ef9dcb43c8c","base_commit_sha":"0941ee0a9eac9914cfddf5adec7a9558a2f1c447","start_commit_sha":"0941ee0a9eac9914cfddf5adec7a9558a2f1c447","created_at":"2026-02-26T08:48:23.979Z","merge_request_id":459277081,"state":"collected","real_size":"1","patch_id_sha":"f86adf0229d6ac6d77ac8d2087cd5fae3cc052d8"}]'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"c06439a8c56f71c8e40feb9fd73897c1"
      Link:
      - <https://gitlab.com/api/v4/projects/79787061/merge_requests/1/versions?id=79787061&merge_request_iid=1&page=1&per_page=20>;
        rel="first", <https://gitlab.com/api/v4/projects/79787061/merge_requests/1/versions?id=79787061&merge_request_iid=1&page=1&per_page=20>;
        rel="last"
      gitlab-lb:
      - haproxy-main-07-lb-gprd
      gitlab-sv:
      - api-gke-us-east1-b
      ratelimit-limit:
      - '2000'
      ratelimit-name:
      - throttle_authenticated_api
      ratelimit-observed:
      - '1'
      ratelimit-remaining:
      - '1999'
      ratelimit-reset:
      - '1783945320'
      x-gitlab-meta:
      - '{"correlation_id":"a1a83eb59d6653ad-CDG","version":"1"}'
      x-next-page:
      - ''
      x-page:
      - '1'
      x-per-page:
      - '20'
      x-prev-page:
      - ''
      x-total:
      - '2'
      x-total-pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"body": "A review comment, on a file, made by the API on 2026-07-08 12:00:00.",
      "position": {"position_type": "file", "base_sha": "0941ee0a9eac9914cfddf5adec7a9558a2f1c447",
      "head_sha": "7497e018d01503b6abc3053b7896266115e631f6", "start_sha": "0941ee0a9eac9914cfddf5adec7a9558a2f1c447",
      "new_path": "BLAH.md", "old_path": "BLAH.md"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - SCRUBBED
    method: POST
    uri: https://gitlab.com/api/v4/projects/79787061/merge_requests/1/discussions
  response:
    body:
      string: '{"id":"087684727cc6d823dcfce76754900421a06a7fec","individual_note":false,"resolvable":true,"resolved":false,"notes":[{"id":3551846613,"type":"DiffNote","body":"A
        review comment, on a file, made by the API on 2026-07-08 12:00:00.","author":{"id":150871,"username":"jacquev6","public_email":"","name":"Vincent
        Jacques","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/64b276c831d40984ef60c18f9d8d046cffc9b20292e357df709b929a4dc3c188?s=80\u0026d=identicon","web_url":"https://gitlab.com/jacquev6"},"created_at":"2026-07-13T12:21:00.923Z","updated_at":"2026-07-13T12:21:00.923Z","system":false,"noteable_id":459277081,"noteable_type":"MergeRequest","project_id":79787061,"commit_id":null,"position":{"base_sha":"0941ee0a9eac9914cfddf5adec7a9558a2f1c447","start_sha":"0941ee0a9eac9914cfddf5adec7a9558a2f1c447","head_sha":"7497e018d01503b6abc3053b7896266115e631f6","old_path":"BLAH.md","new_path":"BLAH.md","position_type":"file"},"resolvable":true,"resolved":false,"resolved_by":null,"resolved_at":null,"suggestions":[],"confidential":false,"internal":false,"imported":false,"imported_from":"none","noteable_iid":1,"commands_changes":{}}]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"6213f3a6f620d5a335760bdf39e8eb38"
      gitlab-lb:
      - haproxy-main-04-lb-gprd
      gitlab-sv:
      - api-gke-us-east1-b
      ratelimit-limit:
      - '2000'
      ratelimit-name:
      - throttle_authenticated_api
      ratelimit-observed:
      - '2'
      ratelimit-remaining:
      - '1998'
      ratelimit-reset:
      - '1783945320'
      x-gitlab-meta:
      - '{"correlation_id":"a1a83eb75a38d14b-CDG","version":"1"}'
      x-gitlab-namespace:
      - jacquev6-sentry
      x-gitlab-score-gitaly:
      - '22'
    status:
      code: 201
      message: Created
- request:
    body: '{"body": "A reply to the previous comment, made by the API on 2026-07-08
      12:00:00."}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - SCRUBBED
    method: POST
    uri: https://gitlab.com/api/v4/projects/79787061/merge_requests/1/discussions/087684727cc6d823dcfce76754900421a06a7fec/notes
  response:
    body:
      string: '{"id":3551846715,"type":"DiffNote","body":"A reply to the previous
        comment, made by the API on 2026[...]
[...]
- request:
    body: '{"body": "A review comment, on a line, made by the API on 2026-07-08 12:00:00.",
      "position": {"position_type": "text", "base_sha": "0941ee0a9eac9914cfddf5adec7a9558a2f1c447",
      "head_sha": "7497e018d01503b6abc3053b7896266115e631f6", "start_sha": "0941ee0a9eac9914cfddf5adec7a9558a2f1c447",
      "new_path": "BLAH.md", "old_path": "BLAH.md", "new_line": 5}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - SCRUBBED
    method: POST
    uri: https://gitlab.com/api/v4/projects/79787061/merge_requests/1/discussions
  response:
    body:
      string: '{"id":"c6af88dad1c69bf3ef8ece4f66c8b2bfe93b770d","individual_note":false,"resolvable":true,"resolved":false,"notes":[{"id":3551846838,"type":"DiffNote","body":"A
        review comment, on a line, made by the API on 2026-07-08 12:00:00.","author":{"id":150871,"username":"jacquev6","public_email":"","name":"Vincent
        Jacques","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/64b276c831d40984ef60c18f9d8d046cffc9b20292e357df709b929a4dc3c188?s=80\u0026d=identicon","web_url":"https://gitlab.com/jacquev6"},"created_at":"2026-07-13T12:21:03.731Z","updated_at":"2026-07-13T12:21:03.731Z","system":false,"noteable_id":459277081,"noteable_type":"MergeRequest","project_id":79787061,"commit_id":null,"position":{"base_sha":"0941ee0a9eac9914cfddf5adec7a9558a2f1c447","start_sha":"0941ee0a9eac9914cfddf5adec7a9558a2f1c447","head_sha":"7497e018d01503b6abc3053b7896266115e631f6","old_path":"BLAH.md","new_path":"BLAH.md","position_type":"text","old_line":null,"new_line":5,"line_range":null},"resolvable":true,"resolved":false,"resolved_by":null,"resolved_at":null,"suggestions":[],"confidential":false,"internal":false,"imported":false,"imported_from":"none","noteable_iid":1,"commands_changes":{}}]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"df16f41513c90716cc7d9e206d395a79"
      gitlab-lb:
      - haproxy-main-36-lb-gprd
      gitlab-sv:
      - gke-cny-api
      ratelimit-limit:
      - '2000'
      ratelimit-name:
      - throttle_authenticated_api
      ratelimit-observed:
      - '5'
      ratelimit-remaining:
      - '1995'
      ratelimit-reset:
      - '1783945320'
      x-gitlab-meta:
      - '{"correlation_id":"a1a83ec75d3b9e8b-CDG","version":"1"}'
      x-gitlab-namespace:
      - jacquev6-sentry
      x-gitlab-score-gitaly:
      - '60'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"body": "A review comment, on multiple lines, made by the API on 2026-07-08
      12:00:00.", "position": {"position_type": "text", "base_sha": "0941ee0a9eac9914cfddf5adec7a9558a2f1c447",
      "head_sha": "7497e018d01503b6abc3053b7896266115e631f6", "start_sha": "0941ee0a9eac9914cfddf5adec7a9558a2f1c447",
      "new_path": "BLAH.md", "old_path": "BLAH.md", "new_line": 7, "line_range": {"start":
      {"new_line": 5, "type": "new"}, "end": {"new_line": 7, "type": "new"}}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - SCRUBBED
    method: POST
    uri: https://gitlab.com/api/v4/projects/79787061/merge_requests/1/discussions
  response:
    body:
      string: '{"id":"cca76ec6b37b322022dc0b3d49d8b68ca5c899bd","individual_note":false,"resolvable":true,"resolved":false,"notes":[{"id":3551847079,"type":"DiffNote","body":"A
        review comment, on multiple lines, made by the API on 2026-07-[...]
[...]
- request:
    body: '{"resolved": true}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - SCRUBBED
    method: PUT
    uri: https://gitlab.com/api/v4/projects/79787061/merge_requests/1/discussions/087684727cc6d823dcfce76754900421a06a7fec
  response:
    body:
      string: '{"id":"087684727cc6d823dcfce76754900421a06a7fec","individual_note":false,"resolvable":true,"resolved":true,"notes":[{"id":3551846613,"type":"DiffNote","body":"A
        review comment, o[...]
[...]
- request:
    body: '{"body": "An edited, then collapsed, review comment, made by the API on
      2026-07-08 12:00:00."}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - SCRUBBED
    method: PUT
    uri: https://gitlab.com/api/v4/projects/79787061/merge_requests/1/discussions/c6af88dad1c69bf3ef8ece4f66c8b2bfe93b770d/notes/3551846838
  response:
    body:
      string: '{"id":3551846838,"type":"DiffNote","body":"An edited, then collapsed,
        review co[...]
[...]
