interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: POST
    uri: https://api.github.com/app/installations/_/access_tokens
  response:
    body:
      string: '{"token": "SCRUBBED", "expires_at": "2026-07-08T15:12:55Z", "permissions":
        {"administration": "read", "checks": "write", "contents": "write", "issues":
        "write", "metadata": "read", "pull_requests": "write", "repository_hooks":
        "write", "statuses": "write", "workflows": "write"}, "repository_selection":
        "selected"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"5f42987ac22af56b9c2bdd1388c87107a2e310300bad12f7e0afd8d79ebd2c59"'
      X-GitHub-Media-Type:
      - github.v3; format=json
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/pulls?state=closed
  response:
    body:
      string: '[{"url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/pulls/61","id":4015117332,"node_id":"PR_kwDORRhd7M7vUdQU","html_url":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/pull/61","diff_url":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/pull/61.diff","patch_url":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/pull/61.patch","issue_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/issues/61","number":61,"state":"closed","locked":false,"title":"PR
        from API 2026-07-08 12:00:00","user":{"login":"sentry-integration-dev-jacquev6[bot]","id":261902604,"node_id":"BOT_kgDOD5xRDA","avatar_url":"https://avatars.githubusercontent.com/u/327146?v=4","gravatar_id":"","url":"https://api.github.com/users/sentry-integration-dev-jacquev6%5Bbot%5D","html_url":"https://github.com/apps/sentry-integration-dev-jacquev6","followers_url":"https://api.github.com/users/sentry-integration-dev-jacquev6%5Bbot%5D/followers","following_url":"https://api.github.com/users/sentry-integration-dev-jacquev6%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/sentry-integration-dev-jacquev6%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/sentry-integration-dev-jacquev6%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sentry-integration-dev-jacquev6%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/sentry-integration-dev-jacquev6%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/sentry-integration-dev-jacquev6%5Bbot%5D/repos","events_url":"https://api.github.com/users/sentry-integration-dev-jacquev6%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/sentry-integration-dev-jacquev6%5Bbot%5D/received_events","type":"Bot","user_view_type":"public","site_admin":false},"body":"Another
        PR, made through the API.","created_at":"2026-07-08T14:12:52Z","updated_at":"2026-07-08T14:12:53Z","closed_at":"2026-07-08T14:12:53Z","merged_at":null,"merge_commit_sha":"363b62267ccb9c94c7dd6414b0a602b17abf0349","assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/pulls/61/commits","review_comments_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/pulls/61/comments","review_comment_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/pulls/comments{/number}","comments_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/issues/61/comments","statuses_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/statuses/6d8ca33dae268d3c5835e721e5702ef9dcb43c8c","head":{"label":"jacquev6:topics/blih","ref":"topics/blih","sha":"6d8ca33dae268d3c5835e721e5702ef9dcb43c8c","user":{"login":"jacquev6","id":327146,"node_id":"MDQ6VXNlcjMyNzE0Ng==","avatar_url":"https://avatars.githubusercontent.com/u/327146?v=4","gravatar_id":"","url":"https://api.github.com/users/jacquev6","html_url":"https://github.com/jacquev6","followers_url":"https://api.github.com/users/jacquev6/followers","following_url":"https://api.github.com/users/jacquev6/following{/other_user}","gists_url":"https://api.github.com/users/jacquev6/gists{/gist_id}","starred_url":"https://api.github.com/users/jacquev6/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jacquev6/subscriptions","organizations_url":"https://api.github.com/users/jacquev6/orgs","repos_url":"https://api.github.com/users/jacquev6/repos","events_url":"https://api.github.com/users/jacquev6/events{/privacy}","received_events_url":"https://api.github.com/users/jacquev6/received_events","type":"User","user_view_type":"public","site_admin":false},"repo":{"id":1159224812,"node_id":"R_kgDORRhd7A","name":"test-Sentry-Integration-Dev-jacquev6","full_name":"jacquev6/test-Sentry-Integration-Dev-jacquev6","private":false,"owner":{"login":"jacquev6","id":327146,"node_id":"MDQ6VXNlcjMyNzE0Ng==","avatar_url":"https://avatars.githubusercontent.com/u/327146?v=4","gravatar_id":"","url":"https://api.github.com/users/jacquev6","html_url":"https://github.com/jacquev6","followers_url":"https://api.github.com/users/jacquev6/followers","following_url":"https://api.github.com/users/jacquev6/following{/other_user}","gists_url":"https://api.github.com/users/jacquev6/gists{/gist_id}","starred_url":"https://api.github.com/users/jacquev6/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jacquev6/subscriptions","organizations_url":"https://api.github.com/users/jacquev6/orgs","repos_url":"https://api.github.com/users/jacquev6/repos","events_url":"https://api.github.com/users/jacquev6/events{/privacy}","received_events_url":"https://api.github.com/users/jacquev6/received_events","type":"User","user_view_type":"public","site_admin":false},"html_url":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6","description":"Test
        repo for my developments in Sentry''s App","fork":false,"url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6","forks_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/forks","keys_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/keys{/key_id}","collaborators_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/teams","hooks_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/hooks","issue_events_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/issues/events{/number}","events_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/events","assignees_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/assignees{/user}","branches_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/branches{/branch}","tags_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/tags","blobs_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/refs{/sha}","trees_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/trees{/sha}","statuses_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/statuses/{sha}","languages_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/languages","stargazers_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/stargazers","contributors_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/contributors","subscribers_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/subscribers","subscription_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/subscription","commits_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/commits{/sha}","git_commits_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/commits{/sha}","comments_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/comments{/number}","issue_comment_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/issues/comments{/number}","contents_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/contents/{+path}","compare_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/compare/{base}...{head}","merges_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/merges","archive_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/downloads","issues_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/issues{/number}","pulls_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/pulls{/number}","milestones_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/milestones{/number}","notifications_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/labels{/name}","releases_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/releases{/id}","deployments_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/deployments","created_at":"2026-02-16T13:24:18Z","updated_at":"2026-07-06T08:59:44Z","pushed_at":"2026-07-08T13:03:40Z","git_url":"git://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6.git","ssh_url":"git@github.com:jacquev6/test-Sentry-Integration-Dev-jacquev6.git","clone_url":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6.git","svn_url":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6","homepage":"","size":1,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":2,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"has_pull_requests":true,"pull_request_creation_policy":"all","topics":[],"visibility":"public","forks":0,"open_issues":2,"watchers":0,"default_branch":"main"}},"base":{"label":"jacquev6:main","ref":"main","sha":"0941ee0a9eac9914cfddf5adec7a9558a2f1c447","user":{"login":"jacquev6","id":327146,"node_id":"MDQ6VXNlcjMyNzE0Ng==","avatar_url":"https://avatars.githubusercontent.com/u/327146?v=4","gravatar_id":"","url":"https://api.github.com/users/jacquev6","html_url":"https://github.com/jacquev6","followers_url":"https://api.github.com/users/jacquev6/followers","following_url":"https://api.github.com/users/jacquev6/following{/other_user}","gists_url":"https://api.g[...]
