interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://gitlab.com/api/v4/projects/79787061/users
  response:
    body:
      string: '[{"id":150871,"username":"jacquev6","public_email":"","name":"Vincent
        Jacques","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/64b276c831d40984ef60c18f9d8d046cffc9b20292e357df709b929a4dc3c188?s=80\u0026d=identicon","web_url":"https://gitlab.com/jacquev6"}]'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"14a84aba0232bf4501acd97a28df94bc"
      Link:
      - <https://gitlab.com/api/v4/projects/79787061/users?id=79787061&page=1&per_page=20>;
        rel="first", <https://gitlab.com/api/v4/projects/79787061/users?id=79787061&page=1&per_page=20>;
        rel="last"
      gitlab-lb:
      - haproxy-main-06-lb-gprd
      gitlab-sv:
      - api-gke-us-east1-d
      ratelimit-limit:
      - '2000'
      ratelimit-name:
      - throttle_authenticated_api
      ratelimit-observed:
      - '1'
      ratelimit-remaining:
      - '1999'
      ratelimit-reset:
      - '1783938480'
      x-gitlab-meta:
      - '{"correlation_id":"a1a799104836d6f2-CDG","version":"1"}'
      x-next-page:
      - ''
      x-page:
      - '1'
      x-per-page:
      - '20'
      x-prev-page:
      - ''
      x-total:
      - '1'
      x-total-pages:
      - '1'
    status:
      code: 200
      message: OK
version: 1
