interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/refs/branches/topics/blah
  response:
    body:
      string: '{"name": "topics/blah", "target": {"type": "commit", "hash": "7497e018d01503b6abc3053b7896266115e631f6",
        "date": "2026-03-05T11:15:50+00:00", "author": {"type": "author", "raw": "Vincent
        Jacques <vincent@vincent-jacques.net>"}, "message": "Add content\n", "links":
        {"self": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/7497e018d01503b6abc3053b7896266115e631f6"},
        "html": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commits/7497e018d01503b6abc3053b7896266115e631f6"},
        "diff": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/diff/7497e018d01503b6abc3053b7896266115e631f6"},
        "approve": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/7497e018d01503b6abc3053b7896266115e631f6/approve"},
        "comments": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/7497e018d01503b6abc3053b7896266115e631f6/comments"},
        "statuses": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/7497e018d01503b6abc3053b7896266115e631f6/statuses"},
        "patch": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/patch/7497e018d01503b6abc3053b7896266115e631f6"}},
        "parents": [{"hash": "6d8ca33dae268d3c5835e721e5702ef9dcb43c8c", "links":
        {"self": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/6d8ca33dae268d3c5835e721e5702ef9dcb43c8c"},
        "html": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commits/6d8ca33dae268d3c5835e721e5702ef9dcb43c8c"}},
        "type": "commit"}], "repository": {"type": "repository", "full_name": "jacquev6-sentry/test-sentry-integration-dev-jacquev6",
        "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6"},
        "html": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6"},
        "avatar": {"href": "https://bytebucket.org/ravatar/%7B3f35a240-0a4c-4f25-b27c-8d0b3e84c063%7D?ts=default"}},
        "name": "test-sentry-integration-dev-jacquev6", "uuid": "{3f35a240-0a4c-4f25-b27c-8d0b3e84c063}"}},
        "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/refs/branches/topics/blah"},
        "commits": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commits/topics/blah"},
        "html": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6/branch/topics/blah"},
        "pullrequest_create": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pull-requests/new?source=topics/blah&t=1"}},
        "type": "branch", "merge_strategies": ["merge_commit", "squash", "fast_forward",
        "squash_fast_forward", "rebase_fast_forward", "rebase_merge"], "sync_strategies":
        ["merge_commit", "rebase"], "default_merge_strategy": "merge_commit"}'
    headers:
      Atl-Request-Id:
      - f6172282-9946-49ec-9383-14cdf2e6d5bd
      Atl-Traceid:
      - f6172282994649ec938314cdf2e6d5bd
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0bf1ab194c127a350a4c1950f5111d5b"
      X-Accepted-Oauth-Scopes:
      - repository
      X-Asap-Succeeded:
      - 'True'
      X-Credential-Type:
      - api_token
      X-Dc-Location:
      - Micros-3
      X-Oauth-Scopes:
      - read:workspace:bitbucket, read:pipeline:bitbucket, read:project:bitbucket,
        read:permission:bitbucket, write:test:bitbucket, read:wiki:bitbucket, read:issue:bitbucket,
        read:ssh-key:bitbucket, write:issue:bitbucket, read:user:bitbucket, read:package:bitbucket,
        read:snippet:bitbucket, read:webhook:bitbucket, read:repository:bitbucket,
        read:test:bitbucket, read:pullrequest:bitbucket, read:runner:bitbucket, write:repository:bitbucket,
        read:gpg-key:bitbucket, write:pullrequest:bitbucket
      X-Render-Time:
      - '0.18407917022705078'
      X-Request-Count:
      - '844'
      X-Static-Version:
      - 20825b29ac86
      X-Token-Id:
      - b8861f3e-b291-47f3-8402-af161e75b2ca
      X-Usage-Input-Ops:
      - '32'
      X-Usage-Output-Ops:
      - '0'
      X-Usage-System-Time:
      - '0.007714'
      X-Usage-User-Time:
      - '0.075137'
      X-Used-Mesh:
      - 'False'
      X-Version:
      - 20825b29ac86
      X-View-Name:
      - bitbucket.apps.repo2.api.v20.refs.BranchHandler
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests/20260708-120000", "target": {"hash": "0941ee0a9eac9914cfddf5adec7a9558a2f1c447"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - SCRUBBED
    method: POST
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/refs/branches
  response:
    body:
      string: '{"name": "tests/20260708-120000", "target": {"type": "commit", "hash":
        "0941ee0a9eac9914cfddf5adec7a95[...]
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/refs/branches/tests/20260708-120000
  response:
    body:
      string: '{"name": "tests/20260708-120000", "target": {"type": "commit", "hash":
        "0941ee0a9eac9914cfddf5adec7a9558a2f1c447", "date": "2026-02-26T08:01:54+00:00",
        "author": {"type": "author", "raw": "Vincent Jacques <vincent[...]
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: DELETE
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/refs/branches/tests/20260708-120000
  response:
    body:
      string: ''
    headers:
      Atl-Request-Id:
      - 6db724d8-dcc4-478a-9de2-b7ddf859755e
      Atl-Traceid:
      - 6db724d8dcc4478a9de2b7ddf859755e
      Content-Type:
      - text/html; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - repository:write
      X-Asap-Succeeded:
      - 'True'
      X-Credential-Type:
      - api_token
      X-Dc-Location:
      - Micros-3
      X-Oauth-Scopes:
      - read:workspace:bitbucket, write:test:bitbucket, read:project:bitbucket, read:wiki:bitbucket,
        read:ssh-key:bitbucket, read:package:bitbucket, read:pipeline:bitbucket, read:snippet:bitbucket,
        read:webhook:bitbucket, read:repository:bitbucket, read:pullrequest:bitbucket,
        read:test:bitbucket, read:permission:bitbucket, read:issue:bitbucket, read:runner:bitbucket,
        write:issue:bitbucket, write:repository:bitbucket, read:gpg-key:bitbucket,
        write:pullrequest:bitbucket, read:user:bitbucket
      X-Render-Time:
      - '1.67681884765625'
      X-Request-Count:
      - '3854'
      X-Static-Version:
      - 20825b29ac86
      X-Token-Id:
      - b8861f3e-b291-47f3-8402-af161e75b2ca
      X-Usage-Input-Ops:
      - '40'
      X-Usage-Output-Ops:
      - '0'
      X-Usage-System-Time:
      - '0.151884'
      X-Usage-User-Time:
      - '0.805246'
      X-Used-Mesh:
      - 'True'
      X-Version:
      - 20825b29ac86
      X-View-Name:
      - bitbucket.apps.repo2.api.v20.refs.BranchHandler
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/refs/branches/tests/20260708-120000
  response:
    body:
      string: '{"type": "error", "error": {"message": "tests/20260708-120000"}}'
    headers:
      Atl-Request-Id:
      - c609e413-5014-4351-a929-454d4eb629a2
      Atl-Traceid:
      - c609e41350144351a929454d4eb629a2
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f244795d85e892650c1a7ee0c48813eb"'
      X-Accepted-Oauth-Scopes:
      - repository
      X-Asap-Succeeded:
      - 'True'
      X-Credential-Type:
      - api_token
      X-Dc-Location:
      - Micros-3
      X-Oauth-Scopes:
      - wri[...]
