interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://gitlab.com/api/v4/projects/79787061/merge_requests/1/award_emoji
  response:
    body:
      string: '[{"id":43924243,"name":"thumbsdown","user":{"id":150871,"username":"jacquev6","public_email":"","name":"Vincent
        Jacques","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/64b276c831d40984ef60c18f9d8d046cffc9b20292e357df709b929a4dc3c188?s=80\u0026d=identicon","web_url":"https://gitlab.com/jacquev6"},"created_at":"2026-03-02T15:00:37.869Z","updated_at":"2026-03-02T15:00:37.869Z","awardable_id":459277081,"awardable_type":"MergeRequest","url":null},{"id":43924251,"name":"smiling_face_with_hearts","user":{"id":150871,"username":"jacquev6","public_email":"","name":"Vincent
        Jacques","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/64b276c831d40984ef60c18f9d8d046cffc9b20292e357df709b929a4dc3c188?s=80\u0026d=identicon","web_url":"https://gitlab.com/jacquev6"},"created_at":"2026-03-02T15:00:43.985Z","updated_at":"2026-03-02T15:00:43.985Z","awardable_id":459277081,"awardable_type":"MergeRequest","url":null}]'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"deeabca7dbc7f33eff43e56082ed5c5a"
      Link:
      - <https://gitlab.com/api/v4/projects/79787061/merge_requests/1/award_emoji?id=79787061&merge_request_iid=1&page=1&per_page=20>;
        rel="first", <https://gitlab.com/api/v4/projects/79787061/merge_requests/1/award_emoji?id=79787061&merge_request_iid=1&page=1&per_page=20>;
        rel="last"
      gitlab-lb:
      - haproxy-main-01-lb-gprd
      gitlab-sv:
      - api-gke-us-east1-b
      ratelimit-limit:
      - '2000'
      ratelimit-name:
      - throttle_authenticated_api
      ratelimit-observed:
      - '11'
      ratelimit-remaining:
      - '1989'
      ratelimit-reset:
      - '1783934700'
      x-gitlab-meta:
      - '{"correlation_id":"a1a73c3e8ec02068-CDG","version":"1"}'
      x-next-page:
      - ''
      x-page:
      - '1'
      x-per-page:
      - '20'
      x-prev-page:
      - ''
      x-total:
      - '2'
      x-total-pages:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: DELETE
    uri: https://gitlab.com/api/v4/projects/79787061/merge_requests/1/award_emoji/51433713
  response:
    body:
      string: ''
    headers:
      gitlab-lb:
      - haproxy-main-33-lb-gprd
      gitlab-sv:
      - api-gke-us-east1-d
      ratelimit-limit:
      - '2000'
      ratelimit-name:
      - throttle_authenticated_api
      ratelimit-observed:
      - '14'
      ratelimit-remaining:
      - '1986'
      ratelimit-reset:
      - '1783934700'
      x-gitlab-meta:
      - '{"correlation_id":"a1a73c43fc7f215b-CDG","version":"1"}'
    status:
      code: 204
      message: No Content
[...]
