interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/refs/branches/topics/templates
  response:
    body:
      string: '{"name": "topics/templates", "target": {"type": "commit", "hash": "77dfc3738e864cd54cdc71ffc127266598d5a889",
        "date": "2026-07-13T13:10:26+00:00", "author": {"type": "author", "raw": "Vincent
        Jacques <vincent@vincent-jacques.net>"}, "message": "Add PR/MR templates\n",
        "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/77dfc3738e864cd54cdc71ffc127266598d5a889"},
        "html": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commits/77dfc3738e864cd54cdc71ffc127266598d5a889"},
        "diff": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/diff/77dfc3738e864cd54cdc71ffc127266598d5a889"},
        "approve": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/77dfc3738e864cd54cdc71ffc127266598d5a889/approve"},
        "comments": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/77dfc3738e864cd54cdc71ffc127266598d5a889/comments"},
        "statuses": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/77dfc3738e864cd54cdc71ffc127266598d5a889/statuses"},
        "patch": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/patch/77dfc3738e864cd54cdc71ffc127266598d5a889"}},
        "parents": [{"hash": "0941ee0a9eac9914cfddf5adec7a9558a2f1c447", "links":
        {"self": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/0941ee0a9eac9914cfddf5adec7a9558a2f1c447"},
        "html": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commits/0941ee0a9eac9914cfddf5adec7a9558a2f1c447"}},
        "type": "commit"}], "repository": {"type": "repository", "full_name": "jacquev6-sentry/test-sentry-integration-dev-jacquev6",
        "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6"},
        "html": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6"},
        "avatar": {"href": "https://bytebucket.org/ravatar/%7B3f35a240-0a4c-4f25-b27c-8d0b3e84c063%7D?ts=default"}},
        "name": "test-sentry-integration-dev-jacquev6", "uuid": "{3f35a240-0a4c-4f25-b27c-8d0b3e84c063}"}},
        "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/refs/branches/topics/templates"},
        "commits": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commits/topics/templates"},
        "html": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6/branch/topics/templates"},
        "pullrequest_create": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pull-requests/new?source=topics/templates&t=1"}},
        "type": "branch", "merge_strategies": ["merge_commit", "squash", "fast_forward",
        "squash_fast_forward", "rebase_fast_forward", "rebase_merge"], "sync_strategies":
        ["merge_commit", "rebase"], "default_merge_strategy": "merge_commit"}'
    headers:
      Atl-Request-Id:
      - 2f145805-ef47-486e-8a7a-1e983bf1aac2
      Atl-Traceid:
      - 2f145805ef47486e8a7a1e983bf1aac2
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ad5b4b3a454a45164cc9c544647d57c5"
      X-Accepted-Oauth-Scopes:
      - repository
      X-Asap-Succeeded:
      - 'True'
      X-Credential-Type:
      - api_token
      X-Dc-Location:
      - Micros-3
      X-Oauth-Scopes:
      - read:snippet:bitbucket, read:gpg-key:bitbucket, read:repository:bitbucket,
        read:permission:bitbucket, read:issue:bitbucket, read:pullrequest:bitbucket,
        read:workspace:bitbucket, write:issue:bitbucket, write:test:bitbucket, read:wiki:bitbucket,
        read:ssh-key:bitbucket, read:pipeline:bitbucket, read:webhook:bitbucket, write:repository:bitbucket,
        write:pullrequest:bitbucket, read:package:bitbucket, read:test:bitbucket,
        read:user:bitbucket, read:runner:bitbucket, read:project:bitbucket
      X-Render-Time:
      - '0.1425936222076416'
      X-Request-Count:
      - '2830'
      X-Static-Version:
      - a1ea9c7db4bd
      X-Token-Id:
      - b8861f3e-b291-47f3-8402-af161e75b2ca
      X-Usage-Input-Ops:
      - '32'
      X-Usage-Output-Ops:
      - '0'
      X-Usage-System-Time:
      - '0.002709'
      X-Usage-User-Time:
      - '0.074399'
      X-Used-Mesh:
      - 'False'
      X-Version:
      - a1ea9c7db4bd
      X-View-Name:
      - bitbucket.apps.repo2.api.v20.refs.BranchHandler
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/src/77dfc3738e864cd54cdc71ffc127266598d5a889/.bitbucket/pull_request_template.md
  response:
    body:
      string: 'Template for bitbucket.

        '
    headers:
      Atl-Request-Id:
      - 6e6c94aa-3f7c-4d45-bb03-386151625fcd
      Atl-Traceid:
      - 6e6c94aa3f7c4d45bb03386151625fcd
      Con[...]
