interactions:
- request:
    body: '{"title": "Draft PR from API 2026-07-08 12:00:00", "description": "A draft
      PR, made through the API.", "source": {"branch": {"name": "topics/blih"}}, "destination":
      {"branch": {"name": "main"}}, "draft": true}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - SCRUBBED
    method: POST
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pullrequests
  response:
    body:
      string: '{"comment_count": 0, "task_count": 0, "type": "pullrequest", "id":
        9, "title": "Draft PR from API 2026-07-08 12:00:00", "description": "A draft
        PR, made through the API.", "rendered": {"title": {"type": "rendered", "raw":
        "Draft PR from API 2026-07-08 12:00:00", "markup": "markdown", "html": "<p>Draft
        PR from API 2026-07-08 12:00:00</p>"}, "description": {"type": "rendered",
        "raw": "A draft PR, made through the API.", "markup": "markdown", "html":
        "<p>A draft PR, made through the API.</p>"}}, "state": "OPEN", "draft": true,
        "merge_commit": null, "close_source_branch": false, "closed_by": null, "author":
        {"display_name": "Vincent Jacques", "links": {"self": {"href": "https://api.bitbucket.org/2.0/users/%7Bb116ba0e-54b0-48c1-8118-77624b8c8d33%7D"},
        "avatar": {"href": "https://secure.gravatar.com/avatar/d20cb9a4fcfed3bb0a5f0a2f1ffb51f9?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FVJ-3.png"},
        "html": {"href": "https://bitbucket.org/%7Bb116ba0e-54b0-48c1-8118-77624b8c8d33%7D/"}},
        "type": "user", "uuid": "{b116ba0e-54b0-48c1-8118-77624b8c8d33}", "account_id":
        "557058:657aa95a-39b4-47ed-94ae-643c19a32a3c", "nickname": "jacquev6"}, "reason":
        "", "created_on": "2026-07-13T09:38:24.080651+00:00", "updated_on": "2026-07-13T09:38:24.507853+00:00",
        "destination": {"branch": {"name": "main"}, "commit": {"hash": "0941ee0a9eac",
        "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/0941ee0a9eac"},
        "html": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commits/0941ee0a9eac"}},
        "type": "commit"}, "repository": {"type": "repository", "full_name": "jacquev6-sentry/test-sentry-integration-dev-jacquev6",
        "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6"},
        "html": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6"},
        "avatar": {"href": "https://bytebucket.org/ravatar/%7B3f35a240-0a4c-4f25-b27c-8d0b3e84c063%7D?ts=default"}},
        "name": "test-sentry-integration-dev-jacquev6", "uuid": "{3f35a240-0a4c-4f25-b27c-8d0b3e84c063}"}},
        "source": {"branch": {"name": "topics/blih", "links": {}, "sync_strategies":
        ["merge_commit", "rebase"]}, "commit": {"hash": "6d8ca33dae26", "links": {"self":
        {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/6d8ca33dae26"},
        "html": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commits/6d8ca33dae26"}},
        "type": "commit"}, "repository": {"type": "repository", "full_name": "jacquev6-sentry/test-sentry-integration-dev-jacquev6",
        "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6"},
        "html": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6"},
        "avatar": {"href": "https://bytebucket.org/ravatar/%7B3f35a240-0a4c-4f25-b27c-8d0b3e84c063%7D?ts=default"}},
        "name": "test-sentry-integration-dev-jacquev6", "uuid": "{3f35a240-0a4c-4f25-b27c-8d0b3e84c063}"}},
        "reviewers": [], "participants": [], "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pullrequests/9"},
        "html": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pull-requests/9"},
        "commits": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pullrequests/9/commits"},
        "approve": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pullrequests/9/approve"},
        "request-changes": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pullrequests/9/request-changes"},
        "diff": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/diff/jacquev6-sentry/test-sentry-integration-dev-jacquev6:6d8ca33dae26%0D0941ee0a9eac?from_pullrequest_id=9&topic=true"},
        "diffstat": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/diffstat/jacquev6-sentry/test-sentry-integration-dev-jacquev6:6d8ca33dae26%0D0941ee0a9eac?from_pullrequest_id=9&topic=true"},
        "comments": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pullrequests/9/comments"},
        "activity": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pullrequests/9/activity"},
        "merge": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pullrequests/9/merge"},
        "decline": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pullrequests/9/decline"},
        "statuses": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pullrequests/9/statuses"}},
        "summary": {"type": "rendered", "raw": "A draft PR, made through the API.",
        "markup": "markdown", "html": "<p>A draft PR, made through the API.</p>"},
        "queued": false}'
    headers:
      Atl-Request-Id:
      - 73a17673-d6aa-4005-bf75-1ba827d8fc2f
      Atl-Traceid:
      - 73a17673d6aa4005bf751ba827d8fc2f
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pullrequests/9
      X-Accepted-Oauth-Scopes:
      - pullrequest:write
      X-Asap-Succeeded:
      - 'True'
      X-Credential-Type:
      - api_token
      X-Dc-Location:
      - Micros-3
      X-Oauth-Scopes:
      - write:repository:bitbucket, write:pullrequest:bitbucket, read:package:bitbucket,
        read:test:bitbucket, read:runner:bitbucket, read:user:bitbucket, read:project:bitbucket,
        read:snippet:bitbucket, read:gpg-key:bitbucket, read:repository:bitbucket,
        read:permission:bitbucket, read:issue:bitbucket, read:pullrequest:bitbucket,
        read:workspace:bitbucket, write:test:bitbucket, write:issue:bitbucket, read:wiki:bitbucket,
        read:ssh-key:bitbucket, read:pipeline:bitbucket, read:webhook:bitbucket
      X-Render-Time:
      - '0.9270312786102295'
      X-Request-Count:
      - '2588'
      X-Static-Version:
      - a1ea9c7db4bd
      X-Token-Id:
      - b8861f3e-b291-47f3-8402-af161e75b2ca
      X-Usage-Input-Ops:
      - '64'
      X-Usage-Output-Ops:
      - '0'
      X-Usage-System-Time:
      - '0.031565'
      X-Usage-User-Time:
      - '0.331283'
      X-Used-Mesh:
      - 'False'
      X-Version:
      - a1ea9c7db4bd
      X-View-Name:
      - bitbucket.apps.pullrequests.api.v20.handlers.RepositoryPullRequestsHandler
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - SCRUBBED
    method: PUT
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pullrequests/9
  response:
    body:
      string: '{"comment_count": 0, "task_count": 0, "type": "pullrequest", "id":
        9, "title": "Draft PR from API 2026-07-08 12:00:00", "description": "A draft
        PR, made through the API.", "rendered": {"tit[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - SCRUBBED
    method: POST
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pullrequests/9/decline
  response:
    body:
      string: '{"comment_count": 0, "task_count": 0, "type": "pullrequest", "id":
        9, "title": "Draft PR from API 2026-07-08 12:00:00", "description": "A draft
        PR, made through the API.", "rendere[...]
