interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://gitlab.com/api/v4/projects/79787061/merge_requests/1/commits
  response:
    body:
      string: '[{"id":"7497e018d01503b6abc3053b7896266115e631f6","short_id":"7497e018","created_at":"2026-03-05T12:15:50.000+01:00","parent_ids":["6d8ca33dae268d3c5835e721e5702ef9dcb43c8c"],"title":"Add
        content","message":"Add content\n","author_name":"Vincent Jacques","author_email":"vincent@vincent-jacques.net","authored_date":"2026-03-05T12:15:50.000+01:00","committer_name":"Vincent
        Jacques","committer_email":"vincent@vincent-jacques.net","committed_date":"2026-03-05T12:15:50.000+01:00","trailers":{},"extended_trailers":{},"web_url":"https://gitlab.com/jacquev6-sentry/test-sentry-integration-dev-jacquev6/-/commit/7497e018d01503b6abc3053b7896266115e631f6"},{"id":"6d8ca33dae268d3c5835e721e5702ef9dcb43c8c","short_id":"6d8ca33d","created_at":"2026-02-26T09:47:45.000+01:00","parent_ids":["0941ee0a9eac9914cfddf5adec7a9558a2f1c447"],"title":"Add
        blah","message":"Add blah\n","author_name":"Vincent Jacques","author_email":"vincent@vincent-jacques.net","authored_date":"2026-02-26T09:47:45.000+01:00","committer_name":"Vincent
        Jacques","committer_email":"vincent@vincent-jacques.net","committed_date":"2026-02-26T09:47:45.000+01:00","trailers":{},"extended_trailers":{},"web_url":"https://gitlab.com/jacquev6-sentry/test-sentry-integration-dev-jacquev6/-/commit/6d8ca33dae268d3c5835e721e5702ef9dcb43c8c"}]'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"fe1be972be342a1a06c21767e3379c73"
      Link:
      - <https://gitlab.com/api/v4/projects/79787061/merge_requests/1/commits?id=79787061&merge_request_iid=1&page=1&per_page=20>;
        rel="first", <https://gitlab.com/api/v4/projects/79787061/merge_requests/1/commits?id=79787061&merge_request_iid=1&page=1&per_page=20>;
        rel="last"
      gitlab-lb:
      - haproxy-main-30-lb-gprd
      gitlab-sv:
      - api-gke-us-east1-d
      ratelimit-limit:
      - '2000'
      ratelimit-name:
      - throttle_authenticated_api
      ratelimit-observed:
      - '31'
      ratelimit-remaining:
      - '1969'
      ratelimit-reset:
      - '1783520280'
      x-gitlab-meta:
      - '{"correlation_id":"a17fb6d60b3dd476-CDG","version":"1"}'
      x-gitlab-namespace:
      - jacquev6-sentry
      x-gitlab-score-gitaly:
      - '2'
      x-next-page:
      - ''
      x-page:
      - '1'
      x-per-page:
      - '20'
      x-prev-page:
      - ''
      x-total:
      - '2'
      x-total-pages:
      - '1'
    status:
      code: 200
      message: OK
version: 1
