interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://gitlab.com/api/v4/projects/79787061/repository/branches/topics%2Fblah
  response:
    body:
      string: '{"name":"topics/blah","commit":{"id":"7497e018d01503b6abc3053b7896266115e631f6","short_id":"7497e018","created_at":"2026-03-05T12:15:50.000+01:00","parent_ids":["6d8ca33dae268d3c5835e721e5702ef9dcb43c8c"],"title":"Add
        content","message":"Add content\n","author_name":"Vincent Jacques","author_email":"vincent@vincent-jacques.net","authored_date":"2026-03-05T12:15:50.000+01:00","committer_name":"Vincent
        Jacques","committer_email":"vincent@vincent-jacques.net","committed_date":"2026-03-05T12:15:50.000+01:00","trailers":{},"extended_trailers":{},"web_url":"https://gitlab.com/jacquev6-sentry/test-sentry-integration-dev-jacquev6/-/commit/7497e018d01503b6abc3053b7896266115e631f6"},"merged":false,"protected":false,"developers_can_push":false,"developers_can_merge":false,"can_push":true,"default":false,"web_url":"https://gitlab.com/jacquev6-sentry/test-sentry-integration-dev-jacquev6/-/tree/topics/blah"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"be3a07d6e1d5e13f604b8e41a1bfab1f"
      gitlab-lb:
      - haproxy-main-16-lb-gprd
      gitlab-sv:
      - api-gke-us-east1-b
      ratelimit-limit:
      - '2000'
      ratelimit-name:
      - throttle_authenticated_api
      ratelimit-observed:
      - '22'
      ratelimit-remaining:
      - '1978'
      ratelimit-reset:
      - '1783520280'
      x-gitlab-meta:
      - '{"correlation_id":"a17fb6b299362a58-CDG","version":"1"}'
      x-gitlab-namespace:
      - jacquev6-sentry
      x-gitlab-score-gitaly:
      - '4'
    status:
      code: 200
      message: OK
- request:
    body: '{"branch": "tests/20260708-120000", "ref": "0941ee0a9eac9914cfddf5adec7a9558a2f1c447"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - SCRUBBED
    method: POST
    uri: https://gitlab.com/api/v4/projects/79787061/repository/branches
  response:
    body:
      string: '{"name":"tests/20260708-120000","commit":{"id":"0941ee0a9eac9914cfddf5adec7a9558a2f1c447","short_id":"0941ee0a","created_at":"2026-02-26T09:01:54.000+01:00","parent_ids":["1403774c82d64068af027d0b5d0cc4f52473b6f2"],"title":"Another[...]
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://gitlab.com/api/v4/projects/79787061/repository/branches/tests%2F20260708-120000
  response:
    body:
      string: '{"name":"tests/20260708-120000","commit":{"id":"0941ee0a9eac9914cfddf5adec7a9558a2f1c447","short_id":"0941ee0a","created_at":"2026-02-26T09:01:54.000+01:00","parent_ids":["1403774c82d64068af027d0b5d0cc4f52473b6f2"],"title":"Another","message":"Another\n","author_name":"Vin[...]
[...]
