interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/src/main/?pagelen=100
  response:
    body:
      string: '{"values":[{"path":"README.md","commit":{"hash":"0941ee0a9eac9914cfddf5adec7a9558a2f1c447","links":{"self":{"href":"https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/0941ee0a9eac9914cfddf5adec7a9558a2f1c447"},"html":{"href":"https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commits/0941ee0a9eac9914cfddf5adec7a9558a2f1c447"}},"type":"commit"},"type":"commit_file","attributes":[],"escaped_path":"README.md","size":92,"mimetype":"text/markdown","links":{"self":{"href":"https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/src/0941ee0a9eac9914cfddf5adec7a9558a2f1c447/README.md"},"meta":{"href":"https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/src/0941ee0a9eac9914cfddf5adec7a9558a2f1c447/README.md?format=meta"},"history":{"href":"https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/filehistory/0941ee0a9eac9914cfddf5adec7a9558a2f1c447/README.md"}}},{"path":"README2.md","commit":{"hash":"0941ee0a9eac9914cfddf5adec7a9558a2f1c447","links":{"self":{"href":"https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/0941ee0a9eac9914cfddf5adec7a9558a2f1c447"},"html":{"href":"https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commits/0941ee0a9eac9914cfddf5adec7a9558a2f1c447"}},"type":"commit"},"type":"commit_file","attributes":[],"escaped_path":"README2.md","size":0,"mimetype":"text/markdown","links":{"self":{"href":"https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/src/0941ee0a9eac9914cfddf5adec7a9558a2f1c447/README2.md"},"meta":{"href":"https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/src/0941ee0a9eac9914cfddf5adec7a9558a2f1c447/README2.md?format=meta"},"history":{"href":"https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/filehistory/0941ee0a9eac9914cfddf5adec7a9558a2f1c447/README2.md"}}}],"pagelen":100,"page":1}'
    headers:
      Atl-Request-Id:
      - 97106a0d-cc9f-47b9-89f1-6ff3fa9566d3
      Atl-Traceid:
      - 97106a0dcc9f47b989f16ff3fa9566d3
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d94fba8ce5e5590e81aecc0e93f8e317"
      X-Accepted-Oauth-Scopes:
      - repository
      X-Asap-Succeeded:
      - 'True'
      X-Credential-Type:
      - api_token
      X-Dc-Location:
      - Micros-3
      X-Oauth-Scopes:
      - read:project:bitbucket, read:wiki:bitbucket, read:ssh-key:bitbucket, read:snippet:bitbucket,
        read:webhook:bitbucket, read:repository:bitbucket, read:permission:bitbucket,
        read:issue:bitbucket, read:pullrequest:bitbucket, write:test:bitbucket, write:issue:bitbucket,
        read:pipeline:bitbucket, read:user:bitbucket, read:gpg-key:bitbucket, write:repository:bitbucket,
        write:pullrequest:bitbucket, read:package:bitbucket, read:test:bitbucket,
        read:workspace:bitbucket, read:runner:bitbucket
      X-Render-Time:
      - '0.20242571830749512'
      X-Request-Count:
      - '3052'
      X-Static-Version:
      - 7cc8689747e8
      X-Token-Id:
      - b8861f3e-b291-47f3-8402-af161e75b2ca
      X-Usage-Input-Ops:
      - '48'
      X-Usage-Output-Ops:
      - '0'
      X-Usage-System-Time:
      - '0.006328'
      X-Usage-User-Time:
      - '0.084761'
      X-Used-Mesh:
      - 'False'
      X-Version:
      - 7cc8689747e8
      X-View-Name:
      - bitbucket.apps.repo2.api.v20.src.SourceHandler
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/src/main/README.md
  response:
    body:
      string: '# test-Sentry-Integration-Dev-jacquev6

        Test repo for my developments in Sentry''s GitHub App

        '
    headers:
      Atl-Request-Id:
      - 24336260-cc1c-4c94-9f16-8310f838ee29
      Atl-Traceid:
      - 24336260cc1c4c949f168310f8[...]
