interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://gitlab.com/api/v4/projects/79787061/merge_requests/1/notes/3124015530/award_emoji
  response:
    body:
      string: '[{"id":43921665,"name":"thumbsup","user":{"id":150871,"username":"jacquev6","public_email":"","name":"Vincent
        Jacques","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/64b276c831d40984ef60c18f9d8d046cffc9b20292e357df709b929a4dc3c188?s=80\u0026d=identicon","web_url":"https://gitlab.com/jacquev6"},"created_at":"2026-03-02T14:23:16.980Z","updated_at":"2026-03-02T14:23:16.980Z","awardable_id":3124015530,"awardable_type":"Note","url":null},{"id":43921671,"name":"dart","user":{"id":150871,"username":"jacquev6","public_email":"","name":"Vincent
        Jacques","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/64b276c831d40984ef60c18f9d8d046cffc9b20292e357df709b929a4dc3c188?s=80\u0026d=identicon","web_url":"https://gitlab.com/jacquev6"},"created_at":"2026-03-02T14:23:20.949Z","updated_at":"2026-03-02T14:23:20.949Z","awardable_id":3124015530,"awardable_type":"Note","url":null}]'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"caaa6909552b2fb86967fff412e57331"
      Link:
      - <https://gitlab.com/api/v4/projects/79787061/merge_requests/1/notes/3124015530/award_emoji?id=79787061&merge_request_iid=1&page=1&per_page=20>;
        rel="first", <https://gitlab.com/api/v4/projects/79787061/merge_requests/1/notes/3124015530/award_emoji?id=79787061&merge_request_iid=1&page=1&per_page=20>;
        rel="last"
      gitlab-lb:
      - haproxy-main-17-lb-gprd
      gitlab-sv:
      - api-gke-us-east1-c
      ratelimit-limit:
      - '2000'
      ratelimit-name:
      - throttle_authenticated_api
      ratelimit-observed:
      - '1'
      ratelimit-remaining:
      - '1999'
      ratelimit-reset:
      - '1783934700'
      x-gitlab-meta:
      - '{"correlation_id":"a1a73c06fd4ada0a-CDG","version":"1"}'
      x-next-page:
      - ''
      x-page:
      - '1'
      x-per-page:
      - '20'
      x-prev-page:
      - ''
      x-total:
      - '2'
      x-total-pages:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: DELETE
    uri: https://gitlab.com/api/v4/projects/79787061/merge_requests/1/notes/3124015530/award_emoji/51433699
  response:
    body:
      string: ''
    headers:
      gitlab-lb:
      - haproxy-main-29-lb-gprd
      gitlab-sv:
      - gke-cny-api
      ratelimit-limit:
      - '2000'
      ratelimit-name:
      - throttle_authenticated_api
      ratelimit-observed:
      - '4'
      ratelimit-remaining:
      - '1996'
      ratelimit-reset:
      - '1783934700'
      x-gitlab-meta:
      - '{"correlation_id":"a1a73c0d7f320494-CDG","version":"1"}'
    status:
      code: 204
      message: No Content
[...]
