interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/src/main/README.md
  response:
    body:
      string: '# test-Sentry-Integration-Dev-jacquev6

        Test repo for my developments in Sentry''s GitHub App

        '
    headers:
      Atl-Request-Id:
      - 630233a4-d71a-4604-ab7f-07840ba83153
      Atl-Traceid:
      - 630233a4d71a4604ab7f07840ba83153
      Content-Type:
      - text/plain
      Etag:
      - '"de0b149472c7be8489d5fbbee7219dc8"'
      X-Accepted-Oauth-Scopes:
      - repository
      X-Asap-Succeeded:
      - 'True'
      X-Credential-Type:
      - api_token
      X-Dc-Location:
      - Micros-3
      X-Oauth-Scopes:
      - write:repository:bitbucket, read:gpg-key:bitbucket, write:pullrequest:bitbucket,
        read:package:bitbucket, read:project:bitbucket, write:test:bitbucket, read:wiki:bitbucket,
        read:ssh-key:bitbucket, read:user:bitbucket, read:workspace:bitbucket, read:snippet:bitbucket,
        read:webhook:bitbucket, read:pipeline:bitbucket, read:repository:bitbucket,
        read:permission:bitbucket, read:issue:bitbucket, read:pullrequest:bitbucket,
        write:issue:bitbucket, read:test:bitbucket, read:runner:bitbucket
      X-Render-Time:
      - '0.19598078727722168'
      X-Request-Count:
      - '2353'
      X-Static-Version:
      - a1ea9c7db4bd
      X-Token-Id:
      - b8861f3e-b291-47f3-8402-af161e75b2ca
      X-Usage-Input-Ops:
      - '24'
      X-Usage-Output-Ops:
      - '0'
      X-Usage-System-Time:
      - '0.009324'
      X-Usage-User-Time:
      - '0.085946'
      X-Used-Mesh:
      - 'False'
      X-Version:
      - a1ea9c7db4bd
      X-View-Name:
      - bitbucket.apps.repo2.api.v20.src.SourceHandler
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/refs/branches/topics/blah
  response:
    body:
      string: '{"name": "topics/blah", "target": {"type": "commit", "hash": "7497e018d01503b6abc3053b7896266115e631f6",
        "date": "2026-03-05T11:15:50+00:00", "author": {"type": "author", "raw": "Vincent
        Jacques <vincent@vincent-jacques.net>"}, "message": "Add content\n", "links":
        {"self": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/7497e018d01503b6abc3053b7896266115e631f6"},
        "html": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commits/7497e018d01503b6abc3053b7896266115e631f6"},
        "diff": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/diff/7497e018d01503b6abc3053b7896266115e631f6"},
        "approve": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/7497e018d01503b6abc3053b7896266115e631f6/approve"},
        "comments": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/7497e018d01503b6abc3053b7896266115e631f6/comments"},
        "statuses": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/7497e018d01503b6abc3053b7896266115e631f6/statuses"},
        "patch": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/patch/7497e018d01503b6abc3053b7896266115e631f6"}},
        "parents": [{"hash": "6d8ca33dae268d3c5835e721e5702ef9dcb43c8c", "links":
        {"self": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/6d8ca33dae268d3c5835e721e5702ef9dcb43c8c"},
        "html": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commits/6d8ca33dae268d3c5835e721e5702ef9dcb43c8c"}},
        "type": "commit"}], "repository": {"type": "repository", "full_name": "jacquev6-sentry/test-sentry-integration-dev-jacquev6",
        "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6"},
        "html": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6"},
        "avatar": {"href": "https://bytebucket.org/ravatar/%7B3f35a240-0a4c-4f25-b27c-8d0b3e84c063%7D?ts=default"}},
        "name": "test-sentry-integration-dev-jacquev6", "uuid": "{3f35a240-0a4c-4f25-b27c-8d0b3e84c063}"}},
        "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/refs/branches/topics/blah"},
        "commits": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commits/topics/blah"},
        "html": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6/branch/topics/blah"},
        "pullrequest_create": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pull-requests/new?source=topics/blah&t=1"}},
        "type": "branch", "merge_strategies": ["merge_commit", "squash", "fast_forward",
        "squash_fast_forward", "rebase_fast_forward", "rebase_merge"], "sync_strategies":
        ["merge_commit", "rebase"], "default_merge_strategy": "merge_commit"}'
    headers:
      Atl-Request-Id:
      - 0d08263a-b4e1-4742-bd18-377dfab54a37
      Atl-Traceid:
      - 0d08263ab4e14742bd18377dfab54a37
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ad5b4b3a454a45164cc9c544647d57c5"
      X-Accepted-Oauth-Scopes:
      - repository
      X-Asap-Succeeded:
      - 'True'
      X-Credential-Type:
      - api_token
      X-Dc-Location:
      - Micros-3
      X-Oauth-Scopes:
      - write:test:bitbucket, rea[...]
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/src/7497e018d01503b6abc3053b7896266115e631f6/BLAH.md
  response:
    body:
      string: '1

        2

        3

        4

        5

        6

        7

        8

        9

        '
    headers:
      Atl-Request-Id:
      - a453f800-df0a-4860-a469-5f958a27ec20
      Atl-Traceid:
      - a453[...]
