interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/src/4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c/?max_depth=100&pagelen=100
  response:
    body:
      string: '{"values":[{"path":"a","commit":{"hash":"4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c","links":{"self":{"href":"https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c"},"html":{"href":"https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commits/4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c"}},"type":"commit"},"type":"commit_directory","links":{"self":{"href":"https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/src/4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c/a/"},"meta":{"href":"https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/src/4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c/a/?format=meta"}}},{"path":"d","commit":{"hash":"4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c","links":{"self":{"href":"https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c"},"html":{"href":"https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commits/4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c"}},"type":"commit"},"type":"commit_directory","links":{"self":{"href":"https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/src/4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c/d/"},"meta":{"href":"https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/src/4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c/d/?format=meta"}}},{"path":"README.md","commit":{"hash":"4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c","links":{"self":{"href":"https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c"},"html":{"href":"https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commits/4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c"}},"type":"commit"},"type":"commit_file","attributes":[],"escaped_path":"README.md","size":92,"mimetype":"text/markdown","links":{"self":{"href":"https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/src/4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c/README.md"},"meta":{"href":"https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/src/4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c/README.md?format=meta"},"history":{"href":"https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/filehistory/4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c/README.md"}}},{"path":"README2.md","commit":{"hash":"4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c","links":{"self":{"href":"https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c"},"html":{"href":"https://bitbucket.org/jacquev6-sentry/test-sentry-integratio[...]
[...]
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/src/4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c/
  response:
    body:
      string: '{"values":[{"path":"a","commit":{"hash":"4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c","links":{"self":{"href":"https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/4a7da3cf[...]
