interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: POST
    uri: https://api.github.com/app/installations/_/access_tokens
  response:
    body:
      string: '{"token": "SCRUBBED", "expires_at": "2026-07-08T15:13:24Z", "permissions":
        {"administration": "read", "checks": "write", "contents": "write", "issues":
        "write", "metadata": "read", "pull_requests": "write", "repository_hooks":
        "write", "statuses": "write", "workflows": "write"}, "repository_selection":
        "selected"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"b9032ea57cc942f882ee966e370a3938f7768588b051269266bbbbf34d34003b"'
      X-GitHub-Media-Type:
      - github.v3; format=json
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 201
      message: Created
- request:
    body: '{"commit_id": "7497e018d01503b6abc3053b7896266115e631f6", "event": "COMMENT",
      "comments": [{"path": "BLAH.md", "body": "A review comment on a line, made by
      the API on 2026-07-08 12:00:00.", "line": 5, "side": "RIGHT"}], "body": "A review,
      made by the API on 2026-07-08 12:00:00."}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - SCRUBBED
    method: POST
    uri: https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/pulls/2/reviews
  response:
    body:
      string: '{"id":4654962480,"node_id":"PRR_kwDORRhd7M8AAAABFXUXMA","user":{"login":"sentry-integration-dev-jacquev6[bot]","id":261902604,"node_id":"BOT_kgDOD5xRDA","avatar_url":"https://avatars.githubusercontent.com/u/327146?v=4","gravatar_id":"","url":"https://api.github.com/users/sentry-integration-dev-jacquev6%5Bbot%5D","html_url":"https://github.com/apps/sentry-integration-dev-jacquev6","followers_url":"https://api.github.com/users/sentry-integration-dev-jacquev6%5Bbot%5D/followers","following_url":"https://api.github.com/users/sentry-integration-dev-jacquev6%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/sentry-integration-dev-jacquev6%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/sentry-integration-dev-jacquev6%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sentry-integration-dev-jacquev6%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/sentry-integration-dev-jacquev6%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/sentry-integration-dev-jacquev6%5Bbot%5D/repos","events_url":"https://api.github.com/users/sentry-integration-dev-jacquev6%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/sentry-integration-dev-jacquev6%5Bbot%5D/received_events","type":"Bot","user_view_type":"public","site_admin":false},"body":"A
        review, made by the API on 2026-07-08 12:00:00.","state":"COMMENTED","html_url":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/pull/2#pullrequestreview-4654962480","pull_request_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/pulls/2","author_association":"NONE","_links":{"html":{"href":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/pull/2#pullrequestreview-4654962480"},"pull_request":{"href":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/pulls/2"}},"submitted_at":"2026-07-08T14:13:24Z","commit_id":"7497e018d01503b6abc3053b7896266115e631f6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"55df45fa4f8c10cae16e9d127766cae58f86a7770228189b7cfe6a17eca50478"
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4959'
      X-RateLimit-Reset:
      - '1783523568'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '41'
      x-accepted-github-permissions:
      - pull_requests=write
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
version: 1
