interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commits/6d8ca33dae268d3c5835e721e5702ef9dcb43c8c?exclude=0941ee0a9eac9914cfddf5adec7a9558a2f1c447
  response:
    body:
      string: '{"values": [{"type": "commit", "hash": "6d8ca33dae268d3c5835e721e5702ef9dcb43c8c",
        "date": "2026-02-26T08:47:45+00:00", "author": {"type": "author", "raw": "Vincent
        Jacques <vincent@vincent-jacques.net>"}, "message": "Add blah\n", "summary":
        {"type": "rendered", "raw": "Add blah\n", "markup": "markdown", "html": "<p>Add
        blah</p>"}, "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/6d8ca33dae268d3c5835e721e5702ef9dcb43c8c"},
        "html": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commits/6d8ca33dae268d3c5835e721e5702ef9dcb43c8c"},
        "diff": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/diff/6d8ca33dae268d3c5835e721e5702ef9dcb43c8c"},
        "approve": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/6d8ca33dae268d3c5835e721e5702ef9dcb43c8c/approve"},
        "comments": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/6d8ca33dae268d3c5835e721e5702ef9dcb43c8c/comments"},
        "statuses": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/6d8ca33dae268d3c5835e721e5702ef9dcb43c8c/statuses"},
        "patch": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/patch/6d8ca33dae268d3c5835e721e5702ef9dcb43c8c"}},
        "parents": [{"hash": "0941ee0a9eac9914cfddf5adec7a9558a2f1c447", "links":
        {"self": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/0941ee0a9eac9914cfddf5adec7a9558a2f1c447"},
        "html": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commits/0941ee0a9eac9914cfddf5adec7a9558a2f1c447"}},
        "type": "commit"}], "rendered": {"message": {"type": "rendered", "raw": "Add
        blah\n", "markup": "markdown", "html": "<p>Add blah</p>"}}, "repository":
        {"type": "repository", "full_name": "jacquev6-sentry/test-sentry-integration-dev-jacquev6",
        "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6"},
        "html": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6"},
        "avatar": {"href": "https://bytebucket.org/ravatar/%7B3f35a240-0a4c-4f25-b27c-8d0b3e84c063%7D?ts=default"}},
        "name": "test-sentry-integration-dev-jacquev6", "uuid": "{3f35a240-0a4c-4f25-b27c-8d0b3e84c063}"}}],
        "pagelen": 30}'
    headers:
      Atl-Request-Id:
      - 22cd8470-29a8-4c2e-93f1-ef5afc4f6905
      Atl-Traceid:
      - 22cd847029a84c2e93f1ef5afc4f6905
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"26f22c396238b62bfaa3fdff463a82d6"
      Last-Modified:
      - Wed, 08 Jul 2026 14:35:10 GMT
      X-Accepted-Oauth-Scopes:
      - repository
      X-Asap-Succeeded:
      - 'True'
      X-Credential-Type:
      - api_token
      X-Dc-Location:
      - Micros-3
      X-Oauth-Scopes:
      - write:repository:bitbucket, read:gpg-key:bitbucket, read:pipeline:bitbucket,
        read:project:bitbucket, read:workspace:bitbucket, read:package:bitbucket,
        read:wiki:bitbucket, read:ssh-key:bitbucket, read:test:bitbucket, read:snippet:bitbucket,
        read:runner:bitbucket, read:webhook:bitbucket, read:pullrequest:bitbucket,
        read:repository:bitbucket, read:user:bitbucket, read:permission:bitbucket,
        read:issue:bitbucket, write:test:bitbucket, write:issue:bitbucket, write:pullrequest:bitbucket
      X-Render-Time:
      - '0.4392380714416504'
      X-Request-Count:
      - '3298'
      X-Static-Version:
      - 20825b29ac86
      X-Token-Id:
      - b8861f3e-b291-47f3-8402-af161e75b2ca
      X-Usage-Input-Ops:
      - '72'
      X-Usage-Output-Ops:
      - '16'
      X-Usage-System-Time:
      - '0.025235'
      X-Usage-User-Time:
      - '0.119179'
      X-Used-Mesh:
      - 'True'
      X-Version:
      - 20825b29ac86
      X-View-Name:
      - bitbucket.apps.repo2.api.v20.commit.CommitsRevisionHandler
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/diffstat/6d8ca33dae268d3c5835e721e5702ef9dcb43c8c..0941ee0a9eac9914cfddf5adec7a9558a2f1c447?page=1
  response:
    body:
      string: '{"values":[{"type":"diffstat","lines_added":0,"lines_removed":0,"status":"added","old":null,"new":{"path":"BLAH.md","type":"commit_file","escaped_path":"BLAH.md","links":{"self":{"href":"https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/src/6d8ca33dae268d3c5835e721e5702ef9dcb43c8c/BLAH.md"}}}}],"pagelen":500,"size":1,"page":1}'
    headers:
      Atl-Request-Id:
      - 1acc7c1c-d353-4ce8-970e-c4c4b2207a92
      Atl-Traceid:
      - 1acc7c1cd3534ce8970ec4c4b2207a92
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a2bb4ef5d1d1042f0030b68bd5e9e02b0846747156d8bac11dc41006336a6300"'
      X-Accepted-Oauth-Scopes:
      - repository
      X-Asap-Succeeded:
      - 'True'
      X-Credential-Type:
      - api_token
      X-Dc-Location:
      - Micros-3
      X-Oauth-Scopes:
      - write:r[...]
