interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: POST
    uri: https://api.github.com/app/installations/_/access_tokens
  response:
    body:
      string: '{"token": "SCRUBBED", "expires_at": "2026-07-15T10:01:42Z", "permissions":
        {"administration": "read", "checks": "write", "contents": "write", "issues":
        "write", "metadata": "read", "pull_requests": "write", "repository_hooks":
        "write", "statuses": "write", "workflows": "write"}, "repository_selection":
        "selected"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"d22ea5ff972ee926f9b011380185ac6d388685551ab42b2b6bf70783642f487e"'
      X-GitHub-Media-Type:
      - github.v3; format=json
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/contents/a?ref=topics%2Fsubdirs
  response:
    body:
      string: '[{"name":"b","path":"a/b","sha":"cf8b3eaec626e780d80b482cb376893cab399509","size":0,"url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/contents/a/b?ref=topics/subdirs","html_url":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/tree/topics/subdirs/a/b","git_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/trees/cf8b3eaec626e780d80b482cb376893cab399509","download_url":null,"type":"dir","_links":{"self":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/contents/a/b?ref=topics/subdirs","git":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/trees/cf8b3eaec626e780d80b482cb376893cab399509","html":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/tree/topics/subdirs/a/b"}},{"name":"c","path":"a/c","sha":"62028f2714488ab682456129c47e7656f70708b2","size":0,"url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/contents/a/c?ref=topics/subdirs","html_url":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/tree/topics/subdirs/a/c","git_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/trees/62028f2714488ab682456129c47e7656f70708b2","download_url":null,"type":"dir","_links":{"self":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/contents/a/c?ref=topics/subdirs","git":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/trees/62028f2714488ab682456129c47e7656f70708b2","html":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/tree/topics/subdirs/a/c"}}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"7d5c71b0cb4e80c4826ad2dc2155880b87136eda"'
      Last-Modified:
      - Mon, 06 Jul 2026 08:59:44 GMT
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4994'
      X-RateLimit-Reset:
      - '1784107729'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '6'
      x-accepted-github-permissions:
      - contents=read
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/contents/d?ref=topics%2Fsubdirs
  response:
    body:
      string: '[{"name":"C.md","path":"d/C.md","sha":"3cc58df83752123644fef39faab2393af643b1d2","size":2,"url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/contents/d/C.md?ref=topics/subdirs","html_url":"https://github.com/jacquev6/test-S[...]
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/contents/README.md?ref=topics%2Fsubdirs
  response:
    body:
      string: '{"name":"README.md","path":"README.md","sha":"d96986775b6793cac0a358b35650de94752a9530","size":92,"url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/contents/README.md?ref=topics/subdirs","html_url":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/blob/topics/subdirs/README.md","git_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/blobs/d96986775b6793cac0a358b35650de94752a9530","download_url":"https://raw.githubusercontent.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/topics/subdirs/README.md","type":"file","content":"IyB0ZXN0LVNlbnRyeS1JbnRlZ3JhdGlvbi1EZXYtamFjcXVldjYKVGVzdCBy\nZXBvIGZvciBteSBkZXZlbG9wbWVudHMgaW4gU2VudHJ5J3MgR2l0SHViIEFw\ncAo=\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/contents/README.md?ref=topics/subdirs","git":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/blobs/d96986775b6793cac0a358b35650de94752a9530","html":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/blob/topics/subdirs/README.md"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"d96986775b6793cac0a358b35650de94752a9530"'
      Last-Modified:
      - Wed, 15 Jul 2026 08:22:38 GMT
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4992'
      X-RateLimit-Reset:
      - '1784107729'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '8'
      x-accepted-github-permissions:
      - contents=read
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
version: 1
