interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.github.com/app
  response:
    body:
      string: '{"id":2876513,"client_id":"Iv23liMNboKqr6ZJTtvn","slug":"sentry-integration-dev-jacquev6","node_id":"A_kwDOAAT96s4AK-Rh","owner":{"login":"jacquev6","id":327146,"node_id":"MDQ6VXNlcjMyNzE0Ng==","avatar_url":"https://avatars.githubusercontent.com/u/327146?v=4","gravatar_id":"","url":"https://api.github.com/users/jacquev6","html_url":"https://github.com/jacquev6","followers_url":"https://api.github.com/users/jacquev6/followers","following_url":"https://api.github.com/users/jacquev6/following{/other_user}","gists_url":"https://api.github.com/users/jacquev6/gists{/gist_id}","starred_url":"https://api.github.com/users/jacquev6/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jacquev6/subscriptions","organizations_url":"https://api.github.com/users/jacquev6/orgs","repos_url":"https://api.github.com/users/jacquev6/repos","events_url":"https://api.github.com/users/jacquev6/events{/privacy}","received_events_url":"https://api.github.com/users/jacquev6/received_events","type":"User","user_view_type":"public","site_admin":false},"name":"Sentry-Integration-Dev-jacquev6","description":"Don''t
        use. Only for me, jacquev6, to test my developments in the Sentry GitHub integration.","external_url":"https://washy-carlene-ignobly.ngrok-free.dev","html_url":"https://github.com/apps/sentry-integration-dev-jacquev6","created_at":"2026-02-16T10:48:10Z","updated_at":"2026-04-02T07:52:10Z","permissions":{"administration":"read","checks":"write","contents":"write","emails":"read","issues":"write","members":"read","metadata":"read","pull_requests":"write","repository_hooks":"write","statuses":"write","workflows":"write"},"events":["pull_request","push"],"installations_count":1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"e182f8423111bef714ded29c5a2c2d371ceab57c39f1307498bef0f978034277"
      X-GitHub-Media-Type:
      - github.v3; format=json
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: POST
    uri: https://api.github.com/app/installations/_/access_tokens
  response:
    body:
      string: '{"token": "SCRUBBED", "expires_at": "2026-07-13T10:49:50Z", "permissions":
        {"administration": "read", "checks": "write", "contents": "write", "issues":
        "write", "metadata": "read", "pull_requests": "write", "repository_hooks":
        "write", "statuses": "write", "workflows": "write"}, "repository_selection":
        "selected"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"31d16bbdd7e43548b366b8084676034b6ed58f3bd048c0d8cbf9a0296c57330f"'
      X-GitHub-Media-Type:
      - github.v3; format=json
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.github.com/users/sentry-integration-dev-jacquev6%5Bbot%5D
  response:
    body:
      string: '{"login":"sentry-integration-dev-jacquev6[bot]","id":261902604,"node_id":"BOT_kgDOD5xRDA","avatar_url":"https://avatars.githubusercontent.com/u/327146?v=4","gravatar_id":"","url":"https://api.github.com/users/sentry-integration-dev-jacquev6%5Bbot%5D","html_url":"https://github.com/apps/sent[...]
