interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: POST
    uri: https://api.github.com/app/installations/_/access_tokens
  response:
    body:
      string: '{"token": "SCRUBBED", "expires_at": "2026-07-08T15:13:16Z", "permissions":
        {"administration": "read", "checks": "write", "contents": "write", "issues":
        "write", "metadata": "read", "pull_requests": "write", "repository_hooks":
        "write", "statuses": "write", "workflows": "write"}, "repository_selection":
        "selected"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"4d4f542420524b5703a8723b5ae9c1c7617a7a4313d0c20cd26286925fb697ae"'
      X-GitHub-Media-Type:
      - github.v3; format=json
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/pulls/2/files
  response:
    body:
      string: '[{"sha":"07193989308c972f8a2d0f1b3a15c29ea4ac565b","filename":"BLAH.md","status":"added","additions":9,"deletions":0,"changes":9,"blob_url":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/blob/7497e018d01503b6abc3053b7896266115e631f6/BLAH.md","raw_url":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/raw/7497e018d01503b6abc3053b7896266115e631f6/BLAH.md","contents_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/contents/BLAH.md?ref=7497e018d01503b6abc3053b7896266115e631f6","patch":"@@
        -0,0 +1,9 @@\n+1\n+2\n+3\n+4\n+5\n+6\n+7\n+8\n+9"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b9976703311252b97ac8fd2c55f2e7defaf78539c4e9f9d86b81c901e10fdb80"
      Last-Modified:
      - Wed, 08 Jul 2026 14:13:04 GMT
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4967'
      X-RateLimit-Reset:
      - '1783523568'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '33'
      x-accepted-github-permissions:
      - pull_requests=read
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
version: 1
