interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: POST
    uri: https://api.github.com/app/installations/_/access_tokens
  response:
    body:
      string: '{"token": "SCRUBBED", "expires_at": "2026-07-08T15:13:25Z", "permissions":
        {"administration": "read", "checks": "write", "contents": "write", "issues":
        "write", "metadata": "read", "pull_requests": "write", "repository_hooks":
        "write", "statuses": "write", "workflows": "write"}, "repository_selection":
        "selected"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"840cee6dc89532840f15ceef388149a7d50eaa2985354647c5943ac9f9704314"'
      X-GitHub-Media-Type:
      - github.v3; format=json
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "Created via API 20260708 120000", "head_sha": "7497e018d01503b6abc3053b7896266115e631f6",
      "status": "queued"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - SCRUBBED
    method: POST
    uri: https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/check-runs
  response:
    body:
      string: '{"id":85891766333,"name":"Created via API 20260708 120000","node_id":"CR_kwDORRhd7M8AAAAT_4xYPQ","head_sha":"7497e018d01503b6abc3053b7896266115e631f6","external_id":"","url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/check-runs/85891766333","html_url":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/runs/85891766333","details_url":"https://washy-carlene-ignobly.ngrok-free.dev","status":"queued","conclusion":null,"started_at":"2026-07-08T14:13:25Z","completed_at":null,"output":{"title":null,"summary":null,"text":null,"annotations_count":0,"annotations_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/check-runs/85891766333/annotations"},"check_suite":{"id":59465056266},"app":{"id":2876513,"client_id":"Iv23liMNboKqr6ZJTtvn","slug":"sentry-integration-dev-jacquev6","node_id":"A_kwDOAAT96s4AK-Rh","owner":{"login":"jacquev6","id":327146,"node_id":"MDQ6VXNlcjMyNzE0Ng==","avatar_url":"https://avatars.githubusercontent.com/u/327146?v=4","gravatar_id":"","url":"https://api.github.com/users/jacquev6","html_url":"https://github.com/jacquev6","followers_url":"https://api.github.com/users/jacquev6/followers","following_url":"https://api.github.com/users/jacquev6/following{/other_user}","gists_url":"https://api.github.com/users/jacquev6/gists{/gist_id}","starred_url":"https://api.github.com/users/jacquev6/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jacquev6/subscriptions","organizations_url":"https://api.github.com/users/jacquev6/orgs","repos_url":"https://api.github.com/users/jacquev6/repos","events_url":"https://api.github.com/users/jacquev6/events{/privacy}","received_events_url":"https://api.github.com/users/jacquev6/received_events","type":"User","user_view_type":"public","site_admin":false},"name":"Sentry-Integration-Dev-jacquev6","description":"Don''t
        use. Only for me, jacquev6, to test my developments in the Sentry GitHub integration.","external_url":"https://washy-carlene-ignobly.ngrok-free.dev","html_url":"https://github.com/apps/sentry-integration-dev-jacquev6","created_at":"2026-02-16T10:48:10Z","updated_at":"2026-04-02T07:52:10Z","permissions":{"administration":"read","checks":"write","contents":"write","emails":"read","issues":"write","members":"read","metadata":"read","pull_requests":"write","repository_hooks":"write","statuses":"write","workflows":"write"},"events":["pull_request","push"]},"pull_requests":[{"url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/pulls/2","id":3329785233,"number":2,"head":{"ref":"topics/blah","sha":"7497e018d01503b6abc3053b7896266115e631f6","repo":{"id":1159224812,"url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6","name":"test-Sentry-Integration-Dev-jacquev6"}},"base":{"ref":"main","sha":"0941ee0a9eac9914cfddf5adec7a9558a2f1c447","repo":{"id":1159224812,"url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6","name":"test-Sentry-Integration-Dev-jacquev6"}}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"d55eba803695c51fda5cd32762f4a8dab8061364fa515a8c582a68f196a427dc"'
      Location:
      - https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/check-runs/85891766333
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4958'
      X-RateLimit-Reset:
      - '1783523568'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '42'
      x-accepted-github-permissions:
      - checks=write
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/check-runs/85891766333
  response:
    body:
      string: '{"id":85891766333,"name":"Created via API 20260708 120000","node_id":"CR_kwDORRhd7M8AAAAT_4xYPQ","head_sha":"7497e018d01503b6abc3053b7896266115e631f6","external_id":"","url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/check-runs/85[...]
[...]
