interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://gitlab.com/api/v4/projects/79787061/merge_requests/1/versions
  response:
    body:
      string: '[{"id":1692137080,"head_commit_sha":"7497e018d01503b6abc3053b7896266115e631f6","base_commit_sha":"0941ee0a9eac9914cfddf5adec7a9558a2f1c447","start_commit_sha":"0941ee0a9eac9914cfddf5adec7a9558a2f1c447","created_at":"2026-03-05T11:16:06.468Z","merge_request_id":459277081,"state":"collected","real_size":"1","patch_id_sha":"7e2de654ed21ae09a78ad51592379d8a582e90ff"},{"id":1682341969,"head_commit_sha":"6d8ca33dae268d3c5835e721e5702ef9dcb43c8c","base_commit_sha":"0941ee0a9eac9914cfddf5adec7a9558a2f1c447","start_commit_sha":"0941ee0a9eac9914cfddf5adec7a9558a2f1c447","created_at":"2026-02-26T08:48:23.979Z","merge_request_id":459277081,"state":"collected","real_size":"1","patch_id_sha":"f86adf0229d6ac6d77ac8d2087cd5fae3cc052d8"}]'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"c06439a8c56f71c8e40feb9fd73897c1"
      Link:
      - <https://gitlab.com/api/v4/projects/79787061/merge_requests/1/versions?id=79787061&merge_request_iid=1&page=1&per_page=20>;
        rel="first", <https://gitlab.com/api/v4/projects/79787061/merge_requests/1/versions?id=79787061&merge_request_iid=1&page=1&per_page=20>;
        rel="last"
      gitlab-lb:
      - haproxy-main-16-lb-gprd
      gitlab-sv:
      - api-gke-us-east1-b
      ratelimit-limit:
      - '2000'
      ratelimit-name:
      - throttle_authenticated_api
      ratelimit-observed:
      - '1'
      ratelimit-remaining:
      - '1999'
      ratelimit-reset:
      - '1783946040'
      x-gitlab-meta:
      - '{"correlation_id":"a1a851199d499edf-CDG","version":"1"}'
      x-next-page:
      - ''
      x-page:
      - '1'
      x-per-page:
      - '20'
      x-prev-page:
      - ''
      x-total:
      - '2'
      x-total-pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"body": "A review comment, on a file, made by the API on 2026-07-08 12:00:00.",
      "position": {"position_type": "file", "base_sha": "0941ee0a9eac9914cfddf5adec7a9558a2f1c447",
      "head_sha": "7497e018d01503b6abc3053b7896266115e631f6", "start_sha": "0941ee0a9eac9914cfddf5adec7a9558a2f1c447",
      "new_path": "BLAH.md", "old_path": "BLAH.md"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - SCRUBBED
    method: POST
    uri: https://gitlab.com/api/v4/projects/79787061/merge_requests/1/discussions
  response:
    body:
      string: '{"id":"0d02f285dc3986d506473e728c7d8c0cebe39974","individual_note":false,"resolvable":true,"resolved":false,"notes":[{"id":3551916106,"type":"DiffNote","body":"A
        review comment, on a file, made by the API on 2026-07-08 12:00:00.","author":{"id":150871,"username":"jacquev6","public_email":"","name":"Vincent
        Jacques","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/64b276c831d40984ef60c18f9d8d046cffc9b20292e357df709b929a4dc3c188?s=80\u0026d=identicon","web_url":"https://gitlab.com/jacquev6"},"created_at":"2026-07-13T12:33:34.538Z","updated_at":"2026-07-13T12:33:34.538Z","system":false,"noteable_id":459277081,"noteable_type":"MergeRequest","project_id":79787061,"commit_id":null,"position":{"base_sha":"0941ee0a9eac9914cfddf5adec7a9558a2f1c447","start_sha":"0941ee0a9eac9914cfddf5adec7a9558a2f1c447","head_sha":"7497e018d01503b6abc3053b7896266115e631f6","old_path":"BLAH.md","new_path":"BLAH.md","position_type":"file"},"resolvable":true,"resolved":false,"resolved_by":null,"resolved_at":null,"suggestions":[],"confidential":false,"internal":false,"imported":false,"imported_from":"none","noteable_iid":1,"commands_changes":{}}]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"c38e79897960034e815472ea4bc068b0"
      gitlab-lb:
      - haproxy-main-57-lb-gprd
      gitlab-sv:
      - api-gke-us-east1-d
      ratelimit-limit:
      - '2000'
      ratelimit-name:
      - throttle_authenticated_api
      ratelimit-observed:
      - '2'
      ratelimit-remaining:
      - '1998'
      ratelimit-reset:
      - '1783946040'
      x-gitlab-meta:
      - '{"correlation_id":"a1a8511bfb342a74-CDG","version":"1"}'
      x-gitlab-namespace:
      - jacquev6-sentry
      x-gitlab-score-gitaly:
      - '22'
    status:
      code: 201
      message: Created
- request:
    body: '{"body": "A reply to the previous comment, made by the API on 2026-07-08
      12:00:00."}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - SCRUBBED
    method: POST
    uri: https://gitlab.com/api/v4/projects/79787061/merge_requests/1/discussions/0d02f285dc3986d506473e728c7d8c0cebe39974/notes
  response:
    body:
      string: '{"id":3551916173,"type":"DiffNote","body":"A reply to the previous
        comment, made by the API on 2026[...]
[...]
- request:
    body: '{"body": "A review comment, on a line, made by the API on 2026-07-08 12:00:00.",
      "position": {"position_type": "text", "base_sha": "0941ee0a9eac9914cfddf5adec7a9558a2f1c447",
      "head_sha": "7497e018d01503b6abc3053b7896266115e631f6", "start_sha": "0941ee0a9eac9914cfddf5adec7a9558a2f1c447",
      "new_path": "BLAH.md", "old_path": "BLAH.md", "new_line": 5}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - SCRUBBED
    method: POST
    uri: https://gitlab.com/api/v4/projects/79787061/merge_requests/1/discussions
  response:
    body:
      string: '{"id":"777db63ab6c69c1fc53c9c9e04401443b81fb4cc","individual_note":false,"resolvable":true,"resolved":false,"notes":[{"id":3551916278,"type":"DiffNote","body":"A
        review comment, on a line, made by the API on 2026-07-08 12:00:00.","author":{"id":150871,"username":"jacquev6","public_email":"","name":"Vincent
        Jacques","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/64b276c831d40984ef60c18f9d8d046cffc9b20292e357df709b929a4dc3c188?s=80\u0026d=identicon","web_url":"https://gitlab.com/jacquev6"},"created_at":"2026-07-13T12:33:36.605Z","updated_at":"2026-07-13T12:33:36.605Z","system":false,"noteable_id":459277081,"noteable_type":"MergeRequest","project_id":79787061,"commit_id":null,"position":{"base_sha":"0941ee0a9eac9914cfddf5adec7a9558a2f1c447","start_sha":"0941ee0a9eac9914cfddf5adec7a9558a2f1c447","head_sha":"7497e018d01503b6abc3053b7896266115e631f6","old_path":"BLAH.md","new_path":"BLAH.md","position_type":"text","old_line":null,"new_line":5,"line_range":null},"resolvable":true,"resolved":false,"resolved_by":null,"resolved_at":null,"suggestions":[],"confidential":false,"internal":false,"imported":false,"imported_from":"none","noteable_iid":1,"commands_changes":{}}]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"baab6b68a0c1ba5b83b44342108c7599"
      gitlab-lb:
      - haproxy-main-60-lb-gprd
      gitlab-sv:
      - gke-cny-api
      ratelimit-limit:
      - '2000'
      ratelimit-name:
      - throttle_authenticated_api
      ratelimit-observed:
      - '5'
      ratelimit-remaining:
      - '1995'
      ratelimit-reset:
      - '1783946040'
      x-gitlab-meta:
      - '{"correlation_id":"a1a8512839a03cf3-CDG","version":"1"}'
      x-gitlab-namespace:
      - jacquev6-sentry
      x-gitlab-score-gitaly:
      - '60'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"body": "A review comment, on multiple lines, made by the API on 2026-07-08
      12:00:00.", "position": {"position_type": "text", "base_sha": "0941ee0a9eac9914cfddf5adec7a9558a2f1c447",
      "head_sha": "7497e018d01503b6abc3053b7896266115e631f6", "start_sha": "0941ee0a9eac9914cfddf5adec7a9558a2f1c447",
      "new_path": "BLAH.md", "old_path": "BLAH.md", "new_line": 7, "line_range": {"start":
      {"new_line": 5, "type": "new"}, "end": {"new_line": 7, "type": "new"}}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - SCRUBBED
    method: POST
    uri: https://gitlab.com/api/v4/projects/79787061/merge_requests/1/discussions
  response:
    body:
      string: '{"id":"ef11d21abbf07c282790ff56790173aa806ee31a","individual_note":false,"resolvable":true,"resolved":false,"notes":[{"id":3551916430,"type":"DiffNote","body":"A
        review comment, on multiple lines, made by the API on 2026-07-[...]
[...]
- request:
    body: '{"body": "An edited review comment, made by the API on 2026-07-08 12:00:00."}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - SCRUBBED
    method: PUT
    uri: https://gitlab.com/api/v4/projects/79787061/merge_requests/1/discussions/0d02f285dc3986d506473e728c7d8c0cebe39974/notes/3551916106
  response:
    body:
      string: '{"id":3551916106,"type":"DiffNote","body":"An edited review comment,
        made by the API on 2026-07-08 12:[...]
[...]
- request:
    body: '{"resolved": true}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - SCRUBBED
    method: PUT
    uri: https://gitlab.com/api/v4/projects/79787061/merge_requests/1/discussions/0d02f285dc3986d506473e728c7d8c0cebe39974
  response:
    body:
      string: '{"id":"0d02f285dc3986d506473e728c7d8c0cebe39974","individual_note":false,"resolvable":true,"resolved":true,"notes":[{"id":3551916106,"type":"DiffNote","body":"An
        edited review co[...]
[...]
