interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: POST
    uri: https://api.github.com/app/installations/_/access_tokens
  response:
    body:
      string: '{"token": "SCRUBBED", "expires_at": "2026-07-08T15:13:15Z", "permissions":
        {"administration": "read", "checks": "write", "contents": "write", "issues":
        "write", "metadata": "read", "pull_requests": "write", "repository_hooks":
        "write", "statuses": "write", "workflows": "write"}, "repository_selection":
        "selected"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"3628266a002f1ec3e4822081f83bd965f9c7a5dc83d26f52267d68790ec0f313"'
      X-GitHub-Media-Type:
      - github.v3; format=json
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/commits/6d8ca33dae268d3c5835e721e5702ef9dcb43c8c
  response:
    body:
      string: '{"sha":"6d8ca33dae268d3c5835e721e5702ef9dcb43c8c","node_id":"C_kwDORRhd7NoAKDZkOGNhMzNkYWUyNjhkM2M1ODM1ZTcyMWU1NzAyZWY5ZGNiNDNjOGM","commit":{"author":{"name":"Vincent
        Jacques","email":"vincent@vincent-jacques.net","date":"2026-02-26T08:47:45Z"},"committer":{"name":"Vincent
        Jacques","email":"vincent@vincent-jacques.net","date":"2026-02-26T08:47:45Z"},"message":"Add
        blah","tree":{"sha":"a08e464dfb108b530a1f4e325a3015c3c594b907","url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/trees/a08e464dfb108b530a1f4e325a3015c3c594b907"},"url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/commits/6d8ca33dae268d3c5835e721e5702ef9dcb43c8c","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null,"verified_at":null}},"url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/commits/6d8ca33dae268d3c5835e721e5702ef9dcb43c8c","html_url":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/commit/6d8ca33dae268d3c5835e721e5702ef9dcb43c8c","comments_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/commits/6d8ca33dae268d3c5835e721e5702ef9dcb43c8c/comments","author":{"login":"jacquev6","id":327146,"node_id":"MDQ6VXNlcjMyNzE0Ng==","avatar_url":"https://avatars.githubusercontent.com/u/327146?v=4","gravatar_id":"","url":"https://api.github.com/users/jacquev6","html_url":"https://github.com/jacquev6","followers_url":"https://api.github.com/users/jacquev6/followers","following_url":"https://api.github.com/users/jacquev6/following{/other_user}","gists_url":"https://api.github.com/users/jacquev6/gists{/gist_id}","starred_url":"https://api.github.com/users/jacquev6/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jacquev6/subscriptions","organizations_url":"https://api.github.com/users/jacquev6/orgs","repos_url":"https://api.github.com/users/jacquev6/repos","events_url":"https://api.github.com/users/jacquev6/events{/privacy}","received_events_url":"https://api.github.com/users/jacquev6/received_events","type":"User","user_view_type":"public","site_admin":false},"committer":{"login":"jacquev6","id":327146,"node_id":"MDQ6VXNlcjMyNzE0Ng==","avatar_url":"https://avatars.githubusercontent.com/u/327146?v=4","gravatar_id":"","url":"https://api.github.com/users/jacquev6","html_url":"https://github.com/jacquev6","followers_url":"https://api.github.com/users/jacquev6/followers","following_url":"https://api.github.com/users/jacquev6/following{/other_user}","gists_url":"https://api.github.com/users/jacquev6/gists{/gist_id}","starred_url":"https://api.github.com/users/jacquev6/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jacquev6/subscriptions","organizations_url":"https://api.github.com/users/jacquev6/orgs","repos_url":"https://api.github.com/users/jacquev6/repos","events_url":"https://api.github.com/users/jacquev6/events{/privacy}","received_events_url":"https://api.github.com/users/jacquev6/received_events","type":"User","user_view_type":"public","site_admin":false},"parents":[{"sha":"0941ee0a9eac9914cfddf5adec7a9558a2f1c447","url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/commits/0941ee0a9eac9914cfddf5adec7a9558a2f1c447","html_url":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/commit/0941ee0a9eac9914cfddf5adec7a9558a2f1c447"}],"stats":{"total":0,"additions":0,"deletions":0},"files":[{"sha":"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391","filename":"BLAH.md","status":"added","additions":0,"deletions":0,"changes":0,"blob_url":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/blob/6d8ca33dae268d3c5835e721e5702ef9dcb43c8c/BLAH.md","raw_url":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/raw/6d8ca33dae268d3c5835e721e5702ef9dcb43c8c/BLAH.md","contents_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/contents/BLAH.md?ref=6d8ca33dae268d3c5835e721e5702ef9dcb43c8c"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"e86ec3833f28dcef7ce2773e9f1278a9a112b2e63c89736e9d336dd68353031d"
      Last-Modified:
      - Thu, 26 Feb 2026 08:47:45 GMT
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4968'
      X-RateLimit-Reset:
      - '1783523568'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '32'
      x-accepted-github-permissions:
      - contents=read
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
version: 1
