interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: POST
    uri: https://api.github.com/app/installations/_/access_tokens
  response:
    body:
      string: '{"token": "SCRUBBED", "expires_at": "2026-07-08T15:13:04Z", "permissions":
        {"administration": "read", "checks": "write", "contents": "write", "issues":
        "write", "metadata": "read", "pull_requests": "write", "repository_hooks":
        "write", "statuses": "write", "workflows": "write"}, "repository_selection":
        "selected"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"63eca9119824b904bed820badf428eacdc49e805388f7659c9c063c34e0ec765"'
      X-GitHub-Media-Type:
      - github.v3; format=json
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/branches/topics/blah
  response:
    body:
      string: '{"name":"topics/blah","commit":{"sha":"7497e018d01503b6abc3053b7896266115e631f6","node_id":"C_kwDORRhd7NoAKDc0OTdlMDE4ZDAxNTAzYjZhYmMzMDUzYjc4OTYyNjYxMTVlNjMxZjY","commit":{"author":{"name":"Vincent
        Jacques","email":"vincent@vincent-jacques.net","date":"2026-03-05T11:15:50Z"},"committer":{"name":"Vincent
        Jacques","email":"vincent@vincent-jacques.net","date":"2026-03-05T11:15:50Z"},"message":"Add
        content","tree":{"sha":"7edec7e37a13d2fb3d4ea4f1fdd5fa568b4824f1","url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/trees/7edec7e37a13d2fb3d4ea4f1fdd5fa568b4824f1"},"url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/commits/7497e018d01503b6abc3053b7896266115e631f6","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null,"verified_at":null}},"url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/commits/7497e018d01503b6abc3053b7896266115e631f6","html_url":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/commit/7497e018d01503b6abc3053b7896266115e631f6","comments_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/commits/7497e018d01503b6abc3053b7896266115e631f6/comments","author":{"login":"jacquev6","id":327146,"node_id":"MDQ6VXNlcjMyNzE0Ng==","avatar_url":"https://avatars.githubusercontent.com/u/327146?v=4","gravatar_id":"","url":"https://api.github.com/users/jacquev6","html_url":"https://github.com/jacquev6","followers_url":"https://api.github.com/users/jacquev6/followers","following_url":"https://api.github.com/users/jacquev6/following{/other_user}","gists_url":"https://api.github.com/users/jacquev6/gists{/gist_id}","starred_url":"https://api.github.com/users/jacquev6/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jacquev6/subscriptions","organizations_url":"https://api.github.com/users/jacquev6/orgs","repos_url":"https://api.github.com/users/jacquev6/repos","events_url":"https://api.github.com/users/jacquev6/events{/privacy}","received_events_url":"https://api.github.com/users/jacquev6/received_events","type":"User","user_view_type":"public","site_admin":false},"committer":{"login":"jacquev6","id":327146,"node_id":"MDQ6VXNlcjMyNzE0Ng==","avatar_url":"https://avatars.githubusercontent.com/u/327146?v=4","gravatar_id":"","url":"https://api.github.com/users/jacquev6","html_url":"https://github.com/jacquev6","followers_url":"https://api.github.com/users/jacquev6/followers","following_url":"https://api.github.com/users/jacquev6/following{/other_user}","gists_url":"https://api.github.com/users/jacquev6/gists{/gist_id}","starred_url":"https://api.github.com/users/jacquev6/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jacquev6/subscriptions","organizations_url":"https://api.github.com/users/jacquev6/orgs","repos_url":"https://api.github.com/users/jacquev6/repos","events_url":"https://api.github.com/users/jacquev6/events{/privacy}","received_events_url":"https://api.github.com/users/jacquev6/received_events","type":"User","user_view_type":"public","site_admin":false},"parents":[{"sha":"6d8ca33dae268d3c5835e721e5702ef9dcb43c8c","url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/commits/6d8ca33dae268d3c5835e721e5702ef9dcb43c8c","html_url":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/commit/6d8ca33dae268d3c5835e721e5702ef9dcb43c8c"}]},"_links":{"self":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/branches/topics/blah","html":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/tree/topics/blah"},"protected":false,"protection":{"enabled":false,"required_status_checks":{"enforcement_level":"off","contexts":[],"checks":[]}},"protection_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/branches/topics/blah/protection"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"deaf4b4dda6a86743f0883f3b8ef5f96af229b1e7c81a14018ea769713912b64"
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4975'
      X-RateLimit-Reset:
      - '1783523568'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '25'
      x-accepted-github-permissions:
      - contents=read
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
- request:
    body: '{"ref": "refs/heads/tests/20260708-120000", "sha": "0941ee0a9eac9914cfddf5adec7a9558a2f1c447"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - SCRUBBED
    method: POST
    uri: https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/refs
  response:
    body:
      string: '{"ref":"refs/heads/tests/20260708-120000","node_id":"REF_kwDORRhd7NoAIHJlZnMvaGVhZHMvdGVzdHMvMjAyNjA3MDgtMTIwMDAw","url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/refs/heads/tests/20260708-120000","object":{"sha":"0941ee0a9eac9914cfddf5adec7a9558a2f1c447","type":"commit","url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/commits/0941ee0a9eac9914cfddf5adec7a9558a2f1c447"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"937c86086f499e0548f9479a719a1e127e46f3d73ce345bd67cb300cd163733b"'
      Location:
      - https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/refs/heads/tests/20260708-120000
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4974'
      X-RateLimit-Reset:
      - '1783523568'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '26'
      x-accepted-github-permissions:
      - contents=write; contents=write,workflows=write
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/branches/tests/20260708-120000
  response:
    body:
      string: '{"name":"tests/20260708-120000","commit":{"sha":"0941ee0a9eac9914cfddf5adec7a9558a2f1c447","node_id":"C_kwDORRhd7NoAKDA5NDFlZTBhOWVhYzk5MTRjZmRkZjVhZGVjN2E5NTU4YTJmMWM0NDc","commit":{"author":{"name":"Vincent
        Jacques","email":"vincent@vincent-jacq[...]
- request:
    body: '{"sha": "6d8ca33dae268d3c5835e721e5702ef9dcb43c8c", "force": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - SCRUBBED
    method: PATCH
    uri: https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/refs/heads/tests/20260708-120000
  response:
    body:
      string: '{"ref":"refs/heads/tests/20260708-120000","node_id":"REF_kwDORRhd7NoAIHJlZnMvaGVhZHMvdGVzdHMvMjAyNjA3MDgtMTIwMDAw","url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/refs/heads/tests/20260708-120000","object":{"sha":"6d8ca33dae268d3c5835e721e5702ef9dcb43c8c","type":"commit","url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/commits/6d8ca33dae268d3c5835e721e5702ef9dcb43c8c"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"2f5e74e9a3f9bbed805ffbdea2a98ea4ffd65b055d8f1f2cf0897c31aa62dfbd"
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4972'
      X-RateLimit-Reset:
      - '1783523568'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '28'
      x-accepted-github-permissions:
      - contents=write; contents=write,workflows=write
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/branches/tests/20260708-120000
  response:
    body:
      string: '{"message":"Branch not found","documentation_url":"https://docs.github.com/rest/branches/branches#get-a-branch","status":"404"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4998'
      X-RateLimit-Reset:
      - '1783523588'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '2'
      x-accepted-github-permissions:
      - contents=read
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 404
      message: Not Found
version: 1
