interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://gitlab.com/api/v4/projects/79787061/repository/files/README.md?ref=main
  response:
    body:
      string: '{"file_name":"README.md","file_path":"README.md","size":92,"encoding":"base64","content_sha256":"34ecd6d09e3a9b3c386fcac36a83339c744154b3713d8d44d75fb0cd82f0b26a","ref":"main","blob_id":"d96986775b6793cac0a358b35650de94752a9530","commit_id":"0941ee0a9eac9914cfddf5adec7a9558a2f1c447","last_commit_id":"1403774c82d64068af027d0b5d0cc4f52473b6f2","execute_filemode":false,"content":"IyB0ZXN0LVNlbnRyeS1JbnRlZ3JhdGlvbi1EZXYtamFjcXVldjYKVGVzdCByZXBvIGZvciBteSBkZXZlbG9wbWVudHMgaW4gU2VudHJ5J3MgR2l0SHViIEFwcAo="}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"6c73db86f4495eb8733682a7cc385ca1"
      gitlab-lb:
      - haproxy-main-20-lb-gprd
      gitlab-sv:
      - api-gke-us-east1-c
      ratelimit-limit:
      - '2000'
      ratelimit-name:
      - throttle_authenticated_api
      ratelimit-observed:
      - '1'
      ratelimit-remaining:
      - '1999'
      ratelimit-reset:
      - '1783949880'
      x-gitlab-blob-id:
      - d96986775b6793cac0a358b35650de94752a9530
      x-gitlab-commit-id:
      - 0941ee0a9eac9914cfddf5adec7a9558a2f1c447
      x-gitlab-content-sha256:
      - 34ecd6d09e3a9b3c386fcac36a83339c744154b3713d8d44d75fb0cd82f0b26a
      x-gitlab-encoding:
      - base64
      x-gitlab-execute-filemode:
      - 'false'
      x-gitlab-file-name:
      - README.md
      x-gitlab-file-path:
      - README.md
      x-gitlab-last-commit-id:
      - 1403774c82d64068af027d0b5d0cc4f52473b6f2
      x-gitlab-meta:
      - '{"correlation_id":"a1a8af23fd70d09f-CDG","version":"1"}'
      x-gitlab-namespace:
      - jacquev6-sentry
      x-gitlab-ref:
      - main
      x-gitlab-score-gitaly:
      - '6'
      x-gitlab-size:
      - '92'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://gitlab.com/api/v4/projects/79787061/repository/files/BLAH.md?ref=topics%2Fblah
  response:
    body:
      string: '{"file_name":"BLAH.md","file_path":"BLAH.md","size":18,"encoding":"base64","content_sha256":"90cdaf13f564e4d2e76706f84226a554a2bbdb2542c2e48764d16bffd17bb38a","ref":"topics/blah","blob_id":"07193989308c972f8a2d0f1b3a15c29ea4ac565b","commit_id":"7497e018d01503b6abc3053b78962[...]
