interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/refs/branches/topics/subdirs
  response:
    body:
      string: '{"name": "topics/subdirs", "target": {"type": "commit", "hash": "4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c",
        "date": "2026-07-15T08:22:38+00:00", "author": {"type": "author", "raw": "Vincent
        Jacques <vincent@vincent-jacques.net>"}, "message": "Add some sub-directories\n",
        "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c"},
        "html": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commits/4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c"},
        "diff": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/diff/4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c"},
        "approve": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c/approve"},
        "comments": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c/comments"},
        "statuses": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c/statuses"},
        "patch": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/patch/4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c"}},
        "parents": [{"hash": "0941ee0a9eac9914cfddf5adec7a9558a2f1c447", "links":
        {"self": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/0941ee0a9eac9914cfddf5adec7a9558a2f1c447"},
        "html": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commits/0941ee0a9eac9914cfddf5adec7a9558a2f1c447"}},
        "type": "commit"}], "repository": {"type": "repository", "full_name": "jacquev6-sentry/test-sentry-integration-dev-jacquev6",
        "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6"},
        "html": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6"},
        "avatar": {"href": "https://bytebucket.org/ravatar/%7B3f35a240-0a4c-4f25-b27c-8d0b3e84c063%7D?ts=default"}},
        "name": "test-sentry-integration-dev-jacquev6", "uuid": "{3f35a240-0a4c-4f25-b27c-8d0b3e84c063}"}},
        "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/refs/branches/topics/subdirs"},
        "commits": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commits/topics/subdirs"},
        "html": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6/branch/topics/subdirs"},
        "pullrequest_create": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pull-requests/new?source=topics/subdirs&t=1"}},
        "type": "branch", "merge_strategies": ["merge_commit", "squash", "fast_forward",
        "squash_fast_forward", "rebase_fast_forward", "rebase_merge"], "sync_strategies":
        ["merge_commit", "rebase"], "default_merge_strategy": "merge_commit"}'
    headers:
      Atl-Request-Id:
      - 9ae61cac-bf34-4aeb-bd65-dead1cb6768c
      Atl-Traceid:
      - 9ae61cacbf344aebbd65dead1cb6768c
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d062a01354ea43a500a4ad13a68ac079"
      X-Accepted-Oauth-Scopes:
      - repository
      X-Asap-Succeeded:
      - 'True'
      X-Credential-Type:
      - api_token
      X-Dc-Location:
      - Micros-3
      X-Oauth-Scopes:
      - write:repository:bitbucket, read:gpg-key:bitbucket, write:pullrequest:bitbucket,
        read:package:bitbucket, read:workspace:bitbucket, read:test:bitbucket, read:runner:bitbucket,
        read:wiki:bitbucket, read:project:bitbucket, read:ssh-key:bitbucket, read:snippet:bitbucket,
        read:webhook:bitbucket, read:repository:bitbucket, read:permission:bitbucket,
        read:issue:bitbucket, read:pullrequest:bitbucket, write:issue:bitbucket, write:test:bitbucket,
        read:user:bitbucket, read:pipeline:bitbucket
      X-Render-Time:
      - '0.23573803901672363'
      X-Request-Count:
      - '2606'
      X-Static-Version:
      - 7cc8689747e8
      X-Token-Id:
      - b8861f3e-b291-47f3-8402-af161e75b2ca
      X-Usage-Input-Ops:
      - '32'
      X-Usage-Output-Ops:
      - '0'
      X-Usage-System-Time:
      - '0.005257'
      X-Usage-User-Time:
      - '0.090061'
      X-Used-Mesh:
      - 'False'
      X-Version:
      - 7cc8689747e8
      X-View-Name:
      - bitbucket.apps.repo2.api.v20.refs.BranchHandler
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/src/4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c/a
  response:
    body:
      string: '{"values":[{"path":"a/b","commit":{"hash":"4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c","links":{"self":{"href":"https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c"},"html":{"href":"https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commits/4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c"}},"type":"commit"},"type":"commit_directory","links":{"self":{"href":"https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/src/4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c/a/b/"},"meta":{"href":"https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/src/4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c/a/b/?format=meta"}}},{"path":"a/c","commit":{"hash":"4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c","links":{"self":{"href":"https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c"},"html":{"href":"https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commits/4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c"}},"type":"commit"},"type":"commit_directory","links":{"self":{"href":"https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/src/4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c/a/c/"},"meta":{"href":"https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/src/4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c/a/c/?format=meta"}}}],"pagelen":10,"page":1}'
    headers:
      Atl-Request-Id:
      - 956eeb89-a5f3-43e6-8a89-439a8d51438d
      Atl-Traceid:
      - 956eeb89a5f343e68a89439a8d51438d
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cset:1:a440ac97f62fda9700a4cdd25aaacd7f458b9a0d"
      X-Accepted-Oauth-Scopes:
      - repository
      X-Asap-Succeeded:
      - 'True'
      X-Credential-Type:
      - api_token
      X-Dc-Location:
      - Micros-3
      X-Oauth-Scopes:
      - read:test:bitbucket, rea[...]
[...]
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/src/4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c/d
  response:
    body:
      string: '{"values":[{"path":"d/C.md","commit":{"hash":"4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c","links":{"self":{"href":"https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c"},"html":{"href":"https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commits/4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c"}},"type":"commit"},"type":"commit_file","attributes":[],"escaped_path":"d/C.md","size":2,"mimetype":"text/markdown","links":{"self":{"href":"https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/src/4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c/d/C.md"},"meta":{"href":"https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/src/4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c/d/C.md?format=meta"},"history":{"href":"https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/filehistory/4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c/d/C.md"}}},{"path":"d/E.md","commit":{"hash":"4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c","links":{"self":{"href":"https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c"},"html":{"href":"https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-j[...]
[...]
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/src/4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c/README.md
  response:
    body:
      string: '# test-Sentry-Integration-Dev-jacquev6

        Test repo for my developments in Sentry''s GitHub App

        '
    headers:
      Atl-Request-Id:
      - 90caa969-e2e8-4d63-8c41-aabed2b48cb5
      Atl-Traceid[...]
