interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://gitlab.com/api/v4/projects/79787061/merge_requests?state=opened
  response:
    body:
      string: '[{"id":459277081,"iid":1,"project_id":79787061,"title":"Add blah","description":"Blah
        blah blah.","state":"opened","created_at":"2026-02-26T08:48:23.151Z","updated_at":"2026-07-08T13:04:08.950Z","merged_by":null,"merge_user":null,"merged_at":null,"closed_by":null,"closed_at":null,"target_branch":"main","source_branch":"topics/blah","user_notes_count":91,"upvotes":0,"downvotes":1,"author":{"id":150871,"username":"jacquev6","public_email":"","name":"Vincent
        Jacques","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/64b276c831d40984ef60c18f9d8d046cffc9b20292e357df709b929a4dc3c188?s=80\u0026d=identicon","web_url":"https://gitlab.com/jacquev6"},"assignees":[],"assignee":null,"reviewers":[],"source_project_id":79787061,"target_project_id":79787061,"labels":[],"draft":false,"imported":false,"imported_from":"none","work_in_progress":false,"milestone":null,"merge_when_pipeline_succeeds":false,"merge_status":"can_be_merged","detailed_merge_status":"mergeable","merge_after":null,"sha":"7497e018d01503b6abc3053b7896266115e631f6","merge_commit_sha":null,"squash_commit_sha":null,"discussion_locked":null,"should_remove_source_branch":null,"force_remove_source_branch":true,"prepared_at":"2026-02-26T08:48:30.331Z","reference":"!1","references":{"short":"!1","relative":"!1","full":"jacquev6-sentry/test-sentry-integration-dev-jacquev6!1"},"web_url":"https://gitlab.com/jacquev6-sentry/test-sentry-integration-dev-jacquev6/-/merge_requests/1","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"squash":false,"squash_on_merge":false,"task_completion_status":{"count":0,"completed_count":0},"has_conflicts":false,"blocking_discussions_resolved":true,"approvals_before_merge":null}]'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"c94094a4087c4a56643fec7fa3fc6ffa"
      Link:
      - <https://gitlab.com/api/v4/projects/79787061/merge_requests?id=79787061&order_by=created_at&page=1&per_page=20&sort=desc&state=opened&with_labels_details=false&with_merge_status_recheck=false>;
        rel="first", <https://gitlab.com/api/v4/projects/79787061/merge_requests?id=79787061&order_by=created_at&page=1&per_page=20&sort=desc&state=opened&with_labels_details=false&with_merge_status_recheck=false>;
        rel="last"
      gitlab-lb:
      - haproxy-main-27-lb-gprd
      gitlab-sv:
      - api-gke-us-east1-d
      ratelimit-limit:
      - '2000'
      ratelimit-name:
      - throttle_authenticated_api
      ratelimit-observed:
      - '1'
      ratelimit-remaining:
      - '1999'
      ratelimit-reset:
      - '1783520280'
      x-gitlab-meta:
      - '{"correlation_id":"a17fb660bb9d60df-CDG","version":"1"}'
      x-next-page:
      - ''
      x-page:
      - '1'
      x-per-page:
      - '20'
      x-prev-page:
      - ''
      x-total:
      - '1'
      x-total-pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://gitlab.com/api/v4/projects/79787061/merge_requests/1
  response:
    body:
      string: '{"id":459277081,"iid":1,"project_id":79787061,"title":"Add blah","description":"Blah
        blah blah.","state":"opened","created_at":"2026-02-26T08:48:23.151Z","updated_at":"2026-07-08T13:04:08.950Z","merged_by":null,"merge_user":null,"merged_at":null,"closed_by":null,"closed_at":null,"target_bran[...]
[...]
- request:
    body: '{"title": "PR from API 2026-07-08 12:00:00", "description": "Another PR,
      made through the API.", "source_branch": "topics/blih", "target_branch": "main"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - SCRUBBED
    method: POST
    uri: https://gitlab.com/api/v4/projects/79787061/merge_requests
  response:
    body:
      string: '{"id":504927842,"iid":107,"project_id":79787061,"title":"PR from API
        2026-07-08 12:00:00","[...]
[...]
- request:
    body: '{"state_event": "close"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - SCRUBBED
    method: PUT
    uri: https://gitlab.com/api/v4/projects/79787061/merge_requests/107
  response:
    body:
      string: '{"id":504927842,"iid":107,"project_id":79787061,"title":"PR from API
        2026-07-08 12:00:00","description":"Another PR, made through the API.","state":"closed","created_at":"2026-07-08T14:17:30.916Z","updated_at":"2026-07-08T14:17:32.361Z","merged_by":null,"merge[...]
[...]
