interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: POST
    uri: https://api.github.com/app/installations/_/access_tokens
  response:
    body:
      string: '{"token": "SCRUBBED", "expires_at": "2026-07-15T10:42:08Z", "permissions":
        {"administration": "read", "checks": "write", "contents": "write", "issues":
        "write", "metadata": "read", "pull_requests": "write", "repository_hooks":
        "write", "statuses": "write", "workflows": "write"}, "repository_selection":
        "selected"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"17ee27288dcbbc49ed74a0933ea24a9858291da3618866b4c8124ca781638228"'
      X-GitHub-Media-Type:
      - github.v3; format=json
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/commits/0941ee0a9eac9914cfddf5adec7a9558a2f1c447
  response:
    body:
      string: '{"sha":"0941ee0a9eac9914cfddf5adec7a9558a2f1c447","node_id":"C_kwDORRhd7NoAKDA5NDFlZTBhOWVhYzk5MTRjZmRkZjVhZGVjN2E5NTU4YTJmMWM0NDc","url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/commits/0941ee0a9eac9914cfddf5adec7a9558a2f1c447","html_url":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/commit/0941ee0a9eac9914cfddf5adec7a9558a2f1c447","author":{"name":"Vincent
        Jacques","email":"vincent@vincent-jacques.net","date":"2026-02-26T08:01:54Z"},"committer":{"name":"Vincent
        Jacques","email":"vincent@vincent-jacques.net","date":"2026-02-26T08:01:54Z"},"tree":{"sha":"3ea2b15f1a12c76f42580435e98543a2b7ddb809","url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/trees/3ea2b15f1a12c76f42580435e98543a2b7ddb809"},"message":"Another","parents":[{"sha":"1403774c82d64068af027d0b5d0cc4f52473b6f2","url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/commits/1403774c82d64068af027d0b5d0cc4f52473b6f2","html_url":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/commit/1403774c82d64068af027d0b5d0cc4f52473b6f2"}],"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null,"verified_at":null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"a7078cbc5f6977661600de7d6ea559ed56f8cbd235045fa2f101e57d6470c209"
      Last-Modified:
      - Thu, 26 Feb 2026 08:01:54 GMT
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4999'
      X-RateLimit-Reset:
      - '1784112128'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '1'
      x-accepted-github-permissions:
      - contents=read
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
- request:
    body: '{"tree": [{"path": "e2e/one.txt", "mode": "100644", "type": "blob", "content":
      "one\n"}, {"path": "e2e/two.txt", "mode": "100644", "type": "blob", "content":
      "two\n"}], "base_tree": "3ea2b15f1a12c76f42580435e98543a2b7ddb809"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - SCRUBBED
    method: POST
    uri: https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/trees
  response:
    body:
      string: '{"sha":"b720e92541f290eb6ab5fde780c750e5863dc50a","url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/trees/b720e92541f290eb6ab5fde780c750e5863dc50a","tree":[{"path":"README.md","mode":"100644","type":"blob","sha":"d96986775b6793cac0a358b35650de94752a9530","size":92,"url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/blobs/d96986775b6793cac0a358b35650de94752a9530"},{"path":"README2.md","mode":"100644","type":"blob","sha":"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391","size":0,"url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/blobs/e69de29bb2d1d6434b8b29ae775ad8c2e48c5391"},{"path":"e2e","mode":"040000","type":"tree","sha":"efa4c546776cd5539cb54969a5e1c110b3232ee2","url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/trees/efa4c546776cd5539cb54969a5e1c110b3232ee2"}],"truncated":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"9576c393faa65219b87cf87a1251b8216a8d7cb2bb9ef3a95c9b561d000188b7"'
      Location:
      - https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/trees/b720e92541f290eb6ab5fde780c750e5863dc50a
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4998'
      X-RateLimit-Reset:
      - '1784112128'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '2'
      x-accepted-github-permissions:
      - contents=write
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 201
      message: Created
- request:
    body: '{"message": "e2e: create two files", "tree": "b720e92541f290eb6ab5fde780c750e5863dc50a",
      "parents": ["0941ee0a9eac9914cfddf5adec7a9558a2f1c447"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - SCRUBBED
    method: POST
    uri: https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/commits
  response:
    body:
      string: '{"sha":"89e34f6c2d6f641418e1bc858e4c3ac0623dd82a","node_id":"C_kwDORRhd7NoAKDg5[...]
- request:
    body: '{"sha": "89e34f6c2d6f641418e1bc858e4c3ac0623dd82a", "force": true}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - SCRUBBED
    method: PATCH
    uri: https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/refs/heads/topics/create-commit-test
  response:
    body:
      string: '{"ref":"refs/heads/topics/create-commit-test","node_id":"REF_kwDORRhd7NoAJHJlZnMvaGVhZHMvdG9waWNzL2NyZWF0ZS1jb21taXQtdGVzdA","url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/refs/heads/topics/create-commit-test","object":{"sha":"89e34f6c2d6f641418e1bc858e4c3ac0623dd82a","type":"commit","url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/commits/89e34f6c2d6f641418e1bc858e4c3ac0623dd82a"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"137e16a4ee102f469370aa420a60b0c0cb2333b6b7b32a1529e1fb283641e8d3"
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4996'
      X-RateLimit-Reset:
      - '1784112128'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '4'
      x-accepted-github-permissions:
      - contents=write; contents=write,workflows=write
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/commits/89e34f6c2d6f641418e1bc858e4c3ac0623dd82a
  response:
    body:
      string: '{"sha":"89e34f6c2d6f641418e1bc858e4c3ac0623dd82a","node_id":"C_kwDORRhd7NoAKDg5ZTM0ZjZjMmQ2ZjY0MTQxOGUxYmM4NThlNGMzYWMwNjIzZGQ4MmE","commit":{"author":{"name":"sentry-integration-dev-jacquev6[bot]","email":"261902604+sentry-integration-dev-jacquev6[bot]@users.noreply.github.com","date":"2026-07-15T09:42:09Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2026-07-15T09:42:09Z"},"message":"e2e:
        create two files","tree":{"sha":"b720e92541f290eb6ab5fde780c750e5863dc50a","url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/trees/b720e92541f290eb6ab5fde780c750e5863dc50a"},"url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/commits/89e34f6c2d6f641418e1bc858e4c3ac0623dd82a","comment_count":0,"verification":{"verified":true,"reason":"valid","signature":"-----BEGIN
        PGP SIGNATURE-----\n\nwsFcBAABCAAQBQJqV1XxCRC1aQ7uu5UhlAAAQckQAGcSYovMux651DGj1yX2Sy5n\nwjNQq+jl2CE/Q2TpswS+YYJj9JaDubgy15RRcyZ2gk5umhExWkZa6BMyjrLEEBAa\nD5mFhm4HvSE79BBGSy/LblLrMJsAgLZh/sT+xv0sUNbPUbEsFTbXQ3PR41dO9Pv0\n0GMgu6Wxl4/uWd979ldNqs8406t0zlWSCW3u+XQhtUvBK/Tyx2KhByZLkimMHt13\ndhZuoMpGgEghgUIZPZ/aaqZfSYr+dBk+f1FN7TzMs1/DKgeb7jver+x899pE4/9Z\njMVAWatCHxY7K4rFXKlY2yVRe9kY6FaNw+AxFTPxGOH+1OWRcYpR+HDOEt0sQIzq\[...]
