interactions:
- request:
    body: '{"content": {"raw": "A review comment, on a file, made by the API on 2026-07-08
      12:00:00."}, "inline": {"path": "BLAH.md"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - SCRUBBED
    method: POST
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pullrequests/1/comments
  response:
    body:
      string: '{"id": 823484464, "created_on": "2026-07-08T14:35:14.139552+00:00",
        "updated_on": "2026-07-08T14:35:14.145797+00:00", "content": {"type": "rendered",
        "raw": "A review comment, on a file, made by the API on 2026-07-08 12:00:00.",
        "markup": "markdown", "html": "<p>A review comment, on a file, made by the
        API on 2026-07-08 12:00:00.</p>"}, "user": {"display_name": "Vincent Jacques",
        "links": {"self": {"href": "https://api.bitbucket.org/2.0/users/%7Bb116ba0e-54b0-48c1-8118-77624b8c8d33%7D"},
        "avatar": {"href": "https://secure.gravatar.com/avatar/d20cb9a4fcfed3bb0a5f0a2f1ffb51f9?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FVJ-3.png"},
        "html": {"href": "https://bitbucket.org/%7Bb116ba0e-54b0-48c1-8118-77624b8c8d33%7D/"}},
        "type": "user", "uuid": "{b116ba0e-54b0-48c1-8118-77624b8c8d33}", "account_id":
        "557058:657aa95a-39b4-47ed-94ae-643c19a32a3c", "nickname": "jacquev6"}, "deleted":
        false, "inline": {"from": null, "to": null, "path": "BLAH.md", "start_from":
        null, "start_to": null, "outdated": false, "context_lines": "", "src_rev":
        "7497e018d015", "dest_rev": "0941ee0a9eac", "base_rev": null}, "pending":
        false, "type": "pullrequest_comment", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pullrequests/1/comments/823484464"},
        "html": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pull-requests/1/_/diff#comment-823484464"},
        "code": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/diff/jacquev6-sentry/test-sentry-integration-dev-jacquev6:7497e018d015..0941ee0a9eac?path=BLAH.md"}},
        "pullrequest": {"type": "pullrequest", "id": 1, "title": "Add blah", "draft":
        false, "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pullrequests/1"},
        "html": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pull-requests/1"}},
        "queued": false}}'
    headers:
      Atl-Request-Id:
      - 2572f309-657c-4b35-9126-99ae9ad22019
      Atl-Traceid:
      - 2572f309657c4b35912699ae9ad22019
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pullrequests/1/comments/823484464
      X-Accepted-Oauth-Scopes:
      - pullrequest
      X-Asap-Succeeded:
      - 'True'
      X-Credential-Type:
      - api_token
      X-Dc-Location:
      - Micros-3
      X-Oauth-Scopes:
      - read:gpg-key:bitbucket, read:pipeline:bitbucket, read:permission:bitbucket,
        read:issue:bitbucket, write:issue:bitbucket, read:project:bitbucket, read:workspace:bitbucket,
        read:package:bitbucket, read:wiki:bitbucket, read:ssh-key:bitbucket, read:test:bitbucket,
        read:snippet:bitbucket, read:webhook:bitbucket, read:runner:bitbucket, read:pullrequest:bitbucket,
        read:repository:bitbucket, read:user:bitbucket, write:test:bitbucket, write:pullrequest:bitbucket,
        write:repository:bitbucket
      X-Render-Time:
      - '0.3845188617706299'
      X-Request-Count:
      - '2141'
      X-Static-Version:
      - 20825b29ac86
      X-Token-Id:
      - b8861f3e-b291-47f3-8402-af161e75b2ca
      X-Usage-Input-Ops:
      - '0'
      X-Usage-Output-Ops:
      - '0'
      X-Usage-System-Time:
      - '0.011299'
      X-Usage-User-Time:
      - '0.186880'
      X-Used-Mesh:
      - 'False'
      X-Version:
      - 20825b29ac86
      X-View-Name:
      - bitbucket.apps.pullrequests.api.v20.handlers.PullRequestCommentsV20Handler
    status:
      code: 201
      message: Created
- request:
    body: '{"content": {"raw": "A reply to the previous comment, made by the API on
      2026-07-08 12:00:00."}, "parent": {"id": 823484464}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - SCRUBBED
    method: POST
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pullrequests/1/comments
  response:
    body:
      string: '{"id": 823484473, "created_on": "2026-07-08T14:35:14.724315+00:00",
        "updated_on": "2026-07-08T14:35:14.735113+00:00", "content": {"type": "rendered",
        "raw": "A reply to the previous co[...]
[...]
