interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/6d8ca33dae268d3c5835e721e5702ef9dcb43c8c
  response:
    body:
      string: '{"type": "commit", "hash": "6d8ca33dae268d3c5835e721e5702ef9dcb43c8c",
        "date": "2026-02-26T08:47:45+00:00", "author": {"type": "author", "raw": "Vincent
        Jacques <vincent@vincent-jacques.net>"}, "message": "Add blah\n", "summary":
        {"type": "rendered", "raw": "Add blah\n", "markup": "markdown", "html": "<p>Add
        blah</p>"}, "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/6d8ca33dae268d3c5835e721e5702ef9dcb43c8c"},
        "html": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commits/6d8ca33dae268d3c5835e721e5702ef9dcb43c8c"},
        "diff": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/diff/6d8ca33dae268d3c5835e721e5702ef9dcb43c8c"},
        "approve": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/6d8ca33dae268d3c5835e721e5702ef9dcb43c8c/approve"},
        "comments": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/6d8ca33dae268d3c5835e721e5702ef9dcb43c8c/comments"},
        "statuses": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/6d8ca33dae268d3c5835e721e5702ef9dcb43c8c/statuses"},
        "patch": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/patch/6d8ca33dae268d3c5835e721e5702ef9dcb43c8c"}},
        "parents": [{"hash": "0941ee0a9eac9914cfddf5adec7a9558a2f1c447", "links":
        {"self": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/0941ee0a9eac9914cfddf5adec7a9558a2f1c447"},
        "html": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commits/0941ee0a9eac9914cfddf5adec7a9558a2f1c447"}},
        "type": "commit"}], "rendered": {"message": {"type": "rendered", "raw": "Add
        blah\n", "markup": "markdown", "html": "<p>Add blah</p>"}}, "repository":
        {"type": "repository", "full_name": "jacquev6-sentry/test-sentry-integration-dev-jacquev6",
        "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6"},
        "html": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6"},
        "avatar": {"href": "https://bytebucket.org/ravatar/%7B3f35a240-0a4c-4f25-b27c-8d0b3e84c063%7D?ts=default"}},
        "name": "test-sentry-integration-dev-jacquev6", "uuid": "{3f35a240-0a4c-4f25-b27c-8d0b3e84c063}"},
        "participants": []}'
    headers:
      Atl-Request-Id:
      - 4c9312fa-4817-4b9d-848b-6404233dd4bd
      Atl-Traceid:
      - 4c9312fa48174b9d848b6404233dd4bd
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cset:1:60fb5e69c4d3849515dc173a52bebb7ff810e04a"
      Last-Modified:
      - Wed, 08 Jul 2026 14:35:10 GMT
      X-Accepted-Oauth-Scopes:
      - repository
      X-Asap-Succeeded:
      - 'True'
      X-Credential-Type:
      - api_token
      X-Dc-Location:
      - Micros-3
      X-Oauth-Scopes:
      - write:repository:bitbucket, read:test:bitbucket, read:gpg-key:bitbucket, write:pullrequest:bitbucket,
        read:permission:bitbucket, read:issue:bitbucket, read:runner:bitbucket, write:issue:bitbucket,
        read:workspace:bitbucket, read:user:bitbucket, read:project:bitbucket, read:wiki:bitbucket,
        read:ssh-key:bitbucket, read:package:bitbucket, read:snippet:bitbucket, read:webhook:bitbucket,
        write:test:bitbucket, read:repository:bitbucket, read:pullrequest:bitbucket,
        read:pipeline:bitbucket
      X-Render-Time:
      - '0.19842076301574707'
      X-Request-Count:
      - '2411'
      X-Static-Version:
      - 20825b29ac86
      X-Token-Id:
      - b8861f3e-b291-47f3-8402-af161e75b2ca
      X-Usage-Input-Ops:
      - '16'
      X-Usage-Output-Ops:
      - '0'
      X-Usage-System-Time:
      - '0.005260'
      X-Usage-User-Time:
      - '0.095752'
      X-Used-Mesh:
      - 'False'
      X-Version:
      - 20825b29ac86
      X-View-Name:
      - bitbucket.apps.repo2.api.v20.commit.CommitHandler
    status:
      code: 200
      message: OK
version: 1
