interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: POST
    uri: https://api.github.com/app/installations/_/access_tokens
  response:
    body:
      string: '{"token": "SCRUBBED", "expires_at": "2026-07-08T15:13:14Z", "permissions":
        {"administration": "read", "checks": "write", "contents": "write", "issues":
        "write", "metadata": "read", "pull_requests": "write", "repository_hooks":
        "write", "statuses": "write", "workflows": "write"}, "repository_selection":
        "selected"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"3b6fbb1585aefd5727e3c9f5c3887d2eb1477b06925ead9461437924b896a7ed"'
      X-GitHub-Media-Type:
      - github.v3; format=json
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/compare/0941ee0a9eac9914cfddf5adec7a9558a2f1c447...6d8ca33dae268d3c5835e721e5702ef9dcb43c8c
  response:
    body:
      string: '{"url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/compare/0941ee0a9eac9914cfddf5adec7a9558a2f1c447...6d8ca33dae268d3c5835e721e5702ef9dcb43c8c","html_url":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/compare/0941ee0a9eac9914cfddf5adec7a9558a2f1c447...6d8ca33dae268d3c5835e721e5702ef9dcb43c8c","permalink_url":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/compare/jacquev6:0941ee0...jacquev6:6d8ca33","diff_url":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/compare/0941ee0a9eac9914cfddf5adec7a9558a2f1c447...6d8ca33dae268d3c5835e721e5702ef9dcb43c8c.diff","patch_url":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/compare/0941ee0a9eac9914cfddf5adec7a9558a2f1c447...6d8ca33dae268d3c5835e721e5702ef9dcb43c8c.patch","base_commit":{"sha":"0941ee0a9eac9914cfddf5adec7a9558a2f1c447","node_id":"C_kwDORRhd7NoAKDA5NDFlZTBhOWVhYzk5MTRjZmRkZjVhZGVjN2E5NTU4YTJmMWM0NDc","commit":{"author":{"name":"Vincent
        Jacques","email":"vincent@vincent-jacques.net","date":"2026-02-26T08:01:54Z"},"committer":{"name":"Vincent
        Jacques","email":"vincent@vincent-jacques.net","date":"2026-02-26T08:01:54Z"},"message":"Another","tree":{"sha":"3ea2b15f1a12c76f42580435e98543a2b7ddb809","url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/trees/3ea2b15f1a12c76f42580435e98543a2b7ddb809"},"url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/commits/0941ee0a9eac9914cfddf5adec7a9558a2f1c447","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null,"verified_at":null}},"url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/commits/0941ee0a9eac9914cfddf5adec7a9558a2f1c447","html_url":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/commit/0941ee0a9eac9914cfddf5adec7a9558a2f1c447","comments_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/commits/0941ee0a9eac9914cfddf5adec7a9558a2f1c447/comments","author":{"login":"jacquev6","id":327146,"node_id":"MDQ6VXNlcjMyNzE0Ng==","avatar_url":"https://avatars.githubusercontent.com/u/327146?v=4","gravatar_id":"","url":"https://api.github.com/users/jacquev6","html_url":"https://github.com/jacquev6","followers_url":"https://api.github.com/users/jacquev6/followers","following_url":"https://api.github.com/users/jacquev6/following{/other_user}","gists_url":"https://api.github.com/users/jacquev6/gists{/gist_id}","starred_url":"https://api.github.com/users/jacquev6/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jacquev6/subscriptions","organizations_url":"https://api.github.com/users/jacquev6/orgs","repos_url":"https://api.github.com/users/jacquev6/repos","events_url":"https://api.github.com/users/jacquev6/events{/privacy}","received_events_url":"https://api.github.com/users/jacquev6/received_events","type":"User","user_view_type":"public","site_admin":false},"committer":{"login":"jacquev6","id":327146,"node_id":"MDQ6VXNlcjMyNzE0Ng==","avatar_url":"https://avatars.githubusercontent.com/u/327146?v=4","gravatar_id":"","url":"https://api.github.com/users/jacquev6","html_url":"https://github.com/jacquev6","followers_url":"https://api.github.com/users/jacquev6/followers","following_url":"https://api.github.com/users/jacquev6/following{/other_user}","gists_url":"https://api.github.com/users/jacquev6/gists{/gist_id}","starred_url":"https://api.github.com/users/jacquev6/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jacquev6/subscriptions","organizations_url":"https://api.github.com/users/jacquev6/orgs","repos_url":"https://api.github.com/users/jacquev6/repos","events_url":"https://api.github.com/users/jacquev6/events{/privacy}","received_events_url":"https://api.github.com/users/jacquev6/received_events","type":"User","user_view_type":"public","site_admin":false},"parents":[{"sha":"1403774c82d64068af027d0b5d0cc4f52473b6f2","url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/commits/1403774c82d64068af027d0b5d0cc4f52473b6f2","html_url":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/commit/1403774c82d64068af027d0b5d0cc4f52473b6f2"}]},"merge_base_commit":{"sha":"0941ee0a9eac9914cfddf5adec7a9558a2f1c447","node_id":"C_kwDORRhd7NoAKDA5NDFlZTBhOWVhYzk5MTRjZmRkZjVhZGVjN2E5NTU4YTJmMWM0NDc","commit":{"author":{"name":"Vincent
        Jacques","email":"vincent@vincent-jacques.net","date":"2026-02-26T08:01:54Z"},"committer":{"name":"Vincent
        Jacques","email":"vincent@vincent-jacques.net","date":"2026-02-26T08:01:54Z"},"message":"Another","tree":{"sha":"3ea2b15f1a12c76f42580435e98543a2b7ddb809","url":"https://api.github.com/repos/jacquev6/test-Sent[...]
