interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://gitlab.com/api/v4/projects/79787061/repository/files/README.md?ref=main
  response:
    body:
      string: '{"file_name":"README.md","file_path":"README.md","size":92,"encoding":"base64","content_sha256":"34ecd6d09e3a9b3c386fcac36a83339c744154b3713d8d44d75fb0cd82f0b26a","ref":"main","blob_id":"d96986775b6793cac0a358b35650de94752a9530","commit_id":"0941ee0a9eac9914cfddf5adec7a9558a2f1c447","last_commit_id":"1403774c82d64068af027d0b5d0cc4f52473b6f2","execute_filemode":false,"content":"IyB0ZXN0LVNlbnRyeS1JbnRlZ3JhdGlvbi1EZXYtamFjcXVldjYKVGVzdCByZXBvIGZvciBteSBkZXZlbG9wbWVudHMgaW4gU2VudHJ5J3MgR2l0SHViIEFwcAo="}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"6c73db86f4495eb8733682a7cc385ca1"
      gitlab-lb:
      - haproxy-main-29-lb-gprd
      gitlab-sv:
      - api-gke-us-east1-c
      ratelimit-limit:
      - '2000'
      ratelimit-name:
      - throttle_authenticated_api
      ratelimit-observed:
      - '27'
      ratelimit-remaining:
      - '1973'
      ratelimit-reset:
      - '1783520280'
      x-gitlab-blob-id:
      - d96986775b6793cac0a358b35650de94752a9530
      x-gitlab-commit-id:
      - 0941ee0a9eac9914cfddf5adec7a9558a2f1c447
      x-gitlab-content-sha256:
      - 34ecd6d09e3a9b3c386fcac36a83339c744154b3713d8d44d75fb0cd82f0b26a
      x-gitlab-encoding:
      - base64
      x-gitlab-execute-filemode:
      - 'false'
      x-gitlab-file-name:
      - README.md
      x-gitlab-file-path:
      - README.md
      x-gitlab-last-commit-id:
      - 1403774c82d64068af027d0b5d0cc4f52473b6f2
      x-gitlab-meta:
      - '{"correlation_id":"a17fb6c9cf16213d-CDG","version":"1"}'
      x-gitlab-namespace:
      - jacquev6-sentry
      x-gitlab-ref:
      - main
      x-gitlab-score-gitaly:
      - '4'
      x-gitlab-size:
      - '92'
    status:
      code: 200
      message: OK
version: 1
