interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commits?include=1403774c82d64068af027d0b5d0cc4f52473b6f2
  response:
    body:
      string: '{"values": [{"type": "commit", "hash": "1403774c82d64068af027d0b5d0cc4f52473b6f2",
        "date": "2026-02-16T13:24:18+00:00", "author": {"type": "author", "raw": "Vincent
        Jacques <vincent@vincent-jacques.net>"}, "message": "Initial commit", "summary":
        {"type": "rendered", "raw": "Initial commit", "markup": "markdown", "html":
        "<p>Initial commit</p>"}, "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/1403774c82d64068af027d0b5d0cc4f52473b6f2"},
        "html": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commits/1403774c82d64068af027d0b5d0cc4f52473b6f2"},
        "diff": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/diff/1403774c82d64068af027d0b5d0cc4f52473b6f2"},
        "approve": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/1403774c82d64068af027d0b5d0cc4f52473b6f2/approve"},
        "comments": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/1403774c82d64068af027d0b5d0cc4f52473b6f2/comments"},
        "statuses": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/1403774c82d64068af027d0b5d0cc4f52473b6f2/statuses"},
        "patch": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/patch/1403774c82d64068af027d0b5d0cc4f52473b6f2"}},
        "parents": [], "rendered": {"message": {"type": "rendered", "raw": "Initial
        commit", "markup": "markdown", "html": "<p>Initial commit</p>"}}, "repository":
        {"type": "repository", "full_name": "jacquev6-sentry/test-sentry-integration-dev-jacquev6",
        "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6"},
        "html": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6"},
        "avatar": {"href": "https://bytebucket.org/ravatar/%7B3f35a240-0a4c-4f25-b27c-8d0b3e84c063%7D?ts=default"}},
        "name": "test-sentry-integration-dev-jacquev6", "uuid": "{3f35a240-0a4c-4f25-b27c-8d0b3e84c063}"}}],
        "pagelen": 30}'
    headers:
      Atl-Request-Id:
      - f443be79-2028-4222-96a0-b1bdb34a1538
      Atl-Traceid:
      - f443be792028422296a0b1bdb34a1538
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"be28c0d0153a7b2ee767b89a062bad36"
      Last-Modified:
      - Wed, 08 Jul 2026 14:35:17 GMT
      X-Accepted-Oauth-Scopes:
      - repository
      X-Asap-Succeeded:
      - 'True'
      X-Credential-Type:
      - api_token
      X-Dc-Location:
      - Micros-3
      X-Oauth-Scopes:
      - read:snippet:bitbucket, read:pipeline:bitbucket, read:pullrequest:bitbucket,
        read:webhook:bitbucket, read:repository:bitbucket, read:permission:bitbucket,
        read:issue:bitbucket, read:test:bitbucket, write:issue:bitbucket, read:runner:bitbucket,
        write:pullrequest:bitbucket, read:user:bitbucket, write:repository:bitbucket,
        read:gpg-key:bitbucket, read:project:bitbucket, read:workspace:bitbucket,
        read:package:bitbucket, write:test:bitbucket, read:wiki:bitbucket, read:ssh-key:bitbucket
      X-Render-Time:
      - '0.28069043159484863'
      X-Request-Count:
      - '2476'
      X-Static-Version:
      - 20825b29ac86
      X-Token-Id:
      - b8861f3e-b291-47f3-8402-af161e75b2ca
      X-Usage-Input-Ops:
      - '32'
      X-Usage-Output-Ops:
      - '0'
      X-Usage-System-Time:
      - '0.010728'
      X-Usage-User-Time:
      - '0.111413'
      X-Used-Mesh:
      - 'True'
      X-Version:
      - 20825b29ac86
      X-View-Name:
      - bitbucket.apps.repo2.api.v20.commit.CommitsHandler
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/filehistory/1403774c82d64068af027d0b5d0cc4f52473b6f2/README.md
  response:
    body:
      string: '{"values": [{"path": "README.md", "commit": {"hash": "1403774c82d64068af027d0b5d0cc4f52473b6f2",
        "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/1403774c82d64068af027d0b5d0cc4f52473b6f2"},
        "html": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commits/1403774c82d64068af027d0b5d0cc4f52473b6f2"}},
        "type": "commit"}, "type": "commit_file", "attributes": [], "size": 92, "links":
        {"self": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/src/1403774c82d64068af027d0b5d0cc4f52473b6f2/README.md"},
        "meta": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/src/1403774c82d64068af027d0b5d0cc4f52473b6f2/README.md?format=meta"},
        "history": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/filehistory/1403774c82d64068af027d0b5d0cc4f52473b6f2/README.md"}}}],
        "pagelen": 50, "page": 1}'
    headers:
      Atl-Request-Id:
      - d67c0d04-5297-42b7-b440-c4f7f54f3476
      Atl-Traceid:
      - d67c0d04529742b7b440c4f7f54f3476
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cset:1:c459190dd31afd19f560b5f2ce3a2ed699b6fdc2"
      X-Accepted-Oauth-Scopes:
      - repository
      X-Asap-Succeeded:
      - 'True'
      X-Credential-Type:
      - api_token
      X-Dc-Location:
      - Micros-3
      X-Oauth-Scopes:
      - write:issue:bitbucket, [...]
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/1403774c82d64068af027d0b5d0cc4f52473b6f2
  response:
    body:
      string: '{"type": "commit", "hash": "1403774c82d64068af027d0b5d0cc4f52473b6f2",
        "date": "2026-02-16T13:24:18+00:00", "author": {"type": "author", "raw": "Vincent
        Jacques <vincent@vincent-jacques.net>"}, "messag[...]
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6
  response:
    body:
      string: '{"type": "repository", "full_name": "jacquev6-sentry/test-sentry-integration-dev-jacquev6",
        "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6"},
        "html": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6"},
        "avatar": {"href": "https://bytebucket.org/ravatar/%7B3f35a240-0a4c-4f25-b27c-8d0b3e84c063%7D?ts=default"},
        "pullrequests": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pullrequests"},
        "commits": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commits"},
        "forks": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/forks"},
        "watchers": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/watchers"},
        "branches": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/refs/branches"},
        "tags": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/refs/tags"},
        "downloads": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/downloads"},
        "source": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/src"},
        "clone": [{"name": "https", "href": "https://jacquev6@bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6.git"},
        {"name": "ssh", "href": "git@bitbucket.org:jacquev6-sentry/test-sentry-integration-dev-jacquev6.git"}],
        "hooks": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/hooks"}},
        "name": "test-sentry-integration-dev-jacquev6", "slug": "test-sentry-integration-dev-jacquev6",
        "description": "Test repo for my developments in Sentry''s App", "scm": "git",
        "website": null, "owner": {"display_name": "jacquev6-sentry", "links": {"self":
        {"href": "https://api.bitbucket.org/2.0/workspaces/%7B99f3f866-2f72-4c46-bdf1-0a9b8fe76e9e%7D"},
        "avatar": {"href": "https://bitbucket.org/account/jacquev6-sentry/avatar/"},
        "html": {"href": "https://bitbucket.org/%7B99f3f866-2f72-4c46-bdf1-0a9b8fe76e9e%7D/"}},
        "type": "team", "uuid": "{99f3f866-2f72-4c46-bdf1-0a9b8fe76e9e}", "username":
        "jacquev6-sentry"}, "workspace": {"type": "workspace", "uuid": "{99f3f866-2f72-4c46-bdf1-0a9b8fe76e9e}",
        "name": "jacquev6-sentry", "slug": "jacquev6-sentry", "links": {"avatar":
        {"href": "https://bitbucket.org/workspaces/jacquev6-sentry/avatar/?ts=1782911447"},
        "html": {"href": "https://bitbucket.org/jacquev6-sentry/"}, "self": {"href":
        "https://api.bitbucket.org/2.0/workspaces/jacquev6-sentry"}}}, "is_private":
        false, "project": {"type": "project", "key": "DEV", "uuid": "{229ca137-2f9b-4770-b9e7-22d0f0dff48c}",
        "name": "Dev", "links": {"self": {"href": "https://api.bitbucket.org/2.0/workspaces/jacquev6-sentry/projects/DEV"},
        "html": {"href": "https://bitbucket.org/jacquev6-sentry/workspace/projects/DEV"},
        "avatar": {"href": "https://bitbucket.org/jacquev6-sentry/workspace/projects/DEV/avatar/32?ts=1783329026"}}},
        "fork_policy": "allow_forks", "created_on": "2026-07-01T13:12:31.403351+00:00",
        "updated_on": "2026-07-08T14:35:17.017674+00:00", "size": 5164, "language":
        "", "uuid": "{3f35a240-0a4c-4f25-b27c-8d0b3e84c063}", "mainbranch": {"name":
        "main", "type": "branch"}, "override_settings": {"default_merge_strategy":
        true, "branching_model": true}, "parent": null, "enforced_signed_commits":
        null}'
    headers:
      Atl-Request-Id:
      - 4d441812-2630-407c-851f-7ce81ecd0b82
      Atl-Traceid:
      - 4d4418122630407c851f7ce81ecd0b82
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a620dd43f71a92e8d1f27de2e338358c"
      X-Accepted-Oauth-Scopes:
      - repository
      X-Asap-Succeeded:
      - 'True'
      X-Credential-Type:
      - api_token
      X-Dc-Location:
      - Micros-3
      X-Oauth-Scopes:
      - write:repository:bitbucket,[...]
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/filehistory/main/README.md
  response:
    body:
      string: '{"values": [{"path": "README.md", "commit": {"hash": "1403774c82d64068af027d0b5d0cc4f52473b6f2",
        "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/14[...]
[...]
