interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://gitlab.com/api/v4/projects/79787061/repository/tree?path=a&ref=topics%2Fsubdirs
  response:
    body:
      string: '[{"id":"cf8b3eaec626e780d80b482cb376893cab399509","name":"b","type":"tree","path":"a/b","mode":"040000"},{"id":"62028f2714488ab682456129c47e7656f70708b2","name":"c","type":"tree","path":"a/c","mode":"040000"}]'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"4c67dd6c060850eb0a86be9fdae81de1"
      Link:
      - <https://gitlab.com/api/v4/projects/79787061/repository/tree?id=79787061&page=1&pagination=legacy&path=a&per_page=20&recursive=false&ref=topics%2Fsubdirs>;
        rel="first", <https://gitlab.com/api/v4/projects/79787061/repository/tree?id=79787061&page=1&pagination=legacy&path=a&per_page=20&recursive=false&ref=topics%2Fsubdirs>;
        rel="last"
      gitlab-lb:
      - haproxy-main-15-lb-gprd
      gitlab-sv:
      - api-gke-us-east1-d
      ratelimit-limit:
      - '2000'
      ratelimit-name:
      - throttle_authenticated_api
      ratelimit-observed:
      - '1'
      ratelimit-remaining:
      - '1999'
      ratelimit-reset:
      - '1784106120'
      x-gitlab-meta:
      - '{"correlation_id":"a1b7958baaecbb70-CDG","version":"1"}'
      x-gitlab-namespace:
      - jacquev6-sentry
      x-gitlab-score-gitaly:
      - '8'
      x-next-page:
      - ''
      x-page:
      - '1'
      x-per-page:
      - '20'
      x-prev-page:
      - ''
      x-total:
      - '2'
      x-total-pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://gitlab.com/api/v4/projects/79787061/repository/tree?path=d&ref=topics%2Fsubdirs
  response:
    body:
      string: '[{"id":"3cc58df83752123644fef39faab2393af643b1d2","name":"C.md","type":"blob","path":"d/C.md","mode":"100644"},{"id":"1c507261389e25abfe3620ddd348c73f4eb3b91e","name":"E.md","type":"blob","path":"d/E.md","mode":"100644"}]'
    headers:
      Content-Type:
      - applicati[...]
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://gitlab.com/api/v4/projects/79787061/repository/tree?path=README.md&ref=topics%2Fsubdirs
  response:
    body:
      string: '{"message":"404 path not treeish Not Found"}'
    headers:
      Content-Type:
      - application/json
      gitlab-lb:
      - haproxy-main-33-lb-gprd
      gitlab-sv:
      - api-gke-us-east1-d
      ratelimit-limit:
      - '2000'
      ratelimit-name:
      - throttle_authenticated_api
      ratelimit-observed:
      - '3'
      ratelimit-remaining:
      - '1997'
      ratelimit-reset:
      - '1784106120'
      x-gitlab-meta:
      - '{"correlation_id":"a1b795919b99d716-CDG","version":"1"}'
      x-gitlab-namespace:
      - jacquev6-sentry
      x-gitlab-score-gitaly:
      - '4'
    status:
      code: 404
      message: Not Found
version: 1
