interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: POST
    uri: https://api.github.com/app/installations/_/access_tokens
  response:
    body:
      string: '{"token": "SCRUBBED", "expires_at": "2026-07-13T10:18:01Z", "permissions":
        {"administration": "read", "checks": "write", "contents": "write", "issues":
        "write", "metadata": "read", "pull_requests": "write", "repository_hooks":
        "write", "statuses": "write", "workflows": "write"}, "repository_selection":
        "selected"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"125b1bba732fe98e5b1a675c9e5c81e309bf1819a220f6f9286185124d8f6575"'
      X-GitHub-Media-Type:
      - github.v3; format=json
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/issues/comments/3983150774/reactions
  response:
    body:
      string: '[{"id":334443540,"node_id":"REA_lALORRhd7M7tag62zhPvNBQ","user":{"login":"jacquev6","id":327146,"node_id":"MDQ6VXNlcjMyNzE0Ng==","avatar_url":"https://avatars.githubusercontent.com/u/327146?v=4","gravatar_id":"","url":"https://api.github.com/users/jacquev6","html_url":"https://github.com/jacquev6","followers_url":"https://api.github.com/users/jacquev6/followers","following_url":"https://api.github.com/users/jacquev6/following{/other_user}","gists_url":"https://api.github.com/users/jacquev6/gists{/gist_id}","starred_url":"https://api.github.com/users/jacquev6/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jacquev6/subscriptions","organizations_url":"https://api.github.com/users/jacquev6/orgs","repos_url":"https://api.github.com/users/jacquev6/repos","events_url":"https://api.github.com/users/jacquev6/events{/privacy}","received_events_url":"https://api.github.com/users/jacquev6/received_events","type":"User","user_view_type":"public","site_admin":false},"content":"+1","created_at":"2026-03-02T10:39:36Z"},{"id":334443546,"node_id":"REA_lALORRhd7M7tag62zhPvNBo","user":{"login":"jacquev6","id":327146,"node_id":"MDQ6VXNlcjMyNzE0Ng==","avatar_url":"https://avatars.githubusercontent.com/u/327146?v=4","gravatar_id":"","url":"https://api.github.com/users/jacquev6","html_url":"https://github.com/jacquev6","followers_url":"https://api.github.com/users/jacquev6/followers","following_url":"https://api.github.com/users/jacquev6/following{/other_user}","gists_url":"https://api.github.c[...]
[...]
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: DELETE
    uri: https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/issues/comments/3983150774/reactions/381825165
  response:
    body:
      string: ''
    headers:
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4996'
      X-RateLimit-Reset:
      - '1783937882'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '4'
      x-accepted-github-permissions:
      - issues=write
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 204
      message: No Content
[...]
