interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: POST
    uri: https://api.github.com/app/installations/_/access_tokens
  response:
    body:
      string: '{"token": "SCRUBBED", "expires_at": "2026-07-08T15:13:13Z", "permissions":
        {"administration": "read", "checks": "write", "contents": "write", "issues":
        "write", "metadata": "read", "pull_requests": "write", "repository_hooks":
        "write", "statuses": "write", "workflows": "write"}, "repository_selection":
        "selected"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"ab614e2d157c3b9d75c4a61a757315cbf68d92dd33f294e586d1ce9402f8dcf4"'
      X-GitHub-Media-Type:
      - github.v3; format=json
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/contents/README.md?ref=main
  response:
    body:
      string: '{"name":"README.md","path":"README.md","sha":"d96986775b6793cac0a358b35650de94752a9530","size":92,"url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/contents/README.md?ref=main","html_url":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/blob/main/README.md","git_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/blobs/d96986775b6793cac0a358b35650de94752a9530","download_url":"https://raw.githubusercontent.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/main/README.md","type":"file","content":"IyB0ZXN0LVNlbnRyeS1JbnRlZ3JhdGlvbi1EZXYtamFjcXVldjYKVGVzdCBy\nZXBvIGZvciBteSBkZXZlbG9wbWVudHMgaW4gU2VudHJ5J3MgR2l0SHViIEFw\ncAo=\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/contents/README.md?ref=main","git":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/blobs/d96986775b6793cac0a358b35650de94752a9530","html":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/blob/main/README.md"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"d96986775b6793cac0a358b35650de94752a9530"'
      Last-Modified:
      - Thu, 26 Feb 2026 08:01:54 GMT
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4970'
      X-RateLimit-Reset:
      - '1783523568'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '30'
      x-accepted-github-permissions:
      - contents=read
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
version: 1
