interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://gitlab.com/api/v4/projects/79787061/issues/1/notes
  response:
    body:
      string: '[{"id":3123861269,"type":null,"body":"A comment!","author":{"id":150871,"username":"jacquev6","public_email":"","name":"Vincent
        Jacques","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/64b276c831d40984ef60c18f9d8d046cffc9b20292e357df709b929a4dc3c188?s=80\u0026d=identicon","web_url":"https://gitlab.com/jacquev6"},"created_at":"2026-03-02T09:24:34.040Z","updated_at":"2026-04-16T14:49:42.591Z","system":false,"noteable_id":185129497,"noteable_type":"Issue","project_id":79787061,"resolvable":false,"confidential":false,"internal":false,"imported":false,"imported_from":"none","noteable_iid":1,"commands_changes":{}}]'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"e71b333617ac21e2235c3c475a83cde8"
      Link:
      - <https://gitlab.com/api/v4/projects/79787061/issues/1/notes?activity_filter=all_notes&id=79787061&noteable_id=1&order_by=created_at&page=1&per_page=20&sort=desc>;
        rel="first", <https://gitlab.com/api/v4/projects/79787061/issues/1/notes?activity_filter=all_notes&id=79787061&noteable_id=1&order_by=created_at&page=1&per_page=20&sort=desc>;
        rel="last"
      gitlab-lb:
      - haproxy-main-24-lb-gprd
      gitlab-sv:
      - api-gke-us-east1-d
      ratelimit-limit:
      - '2000'
      ratelimit-name:
      - throttle_authenticated_api
      ratelimit-observed:
      - '16'
      ratelimit-remaining:
      - '1984'
      ratelimit-reset:
      - '1783520280'
      x-gitlab-meta:
      - '{"correlation_id":"a17fb6a11cabd161-CDG","version":"1"}'
      x-next-page:
      - ''
      x-page:
      - '1'
      x-per-page:
      - '20'
      x-prev-page:
      - ''
      x-total:
      - '1'
      x-total-pages:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: DELETE
    uri: https://gitlab.com/api/v4/projects/79787061/issues/1/notes/3537328258
  response:
    body:
      string: ''
    headers:
      gitlab-lb:
      - haproxy-main-17-lb-gprd
      gitlab-sv:
      - api-gke-us-east1-c
      ratelimit-limit:
      - '2000'
      ratelimit-name:
      - throttle_authenticated_api
      ratelimit-observed:
      - '19'
      ratelimit-remaining:
      - '1981'
      ratelimit-reset:
      - '1783520280'
      x-gitlab-meta:
      - '{"correlation_id":"a17fb6aa6c2d02e2-CDG","version":"1"}'
    status:
      code: 204
      message: No Content
[...]
