interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: POST
    uri: https://api.github.com/app/installations/_/access_tokens
  response:
    body:
      string: '{"token": "SCRUBBED", "expires_at": "2026-07-08T15:12:48Z", "permissions":
        {"administration": "read", "checks": "write", "contents": "write", "issues":
        "write", "metadata": "read", "pull_requests": "write", "repository_hooks":
        "write", "statuses": "write", "workflows": "write"}, "repository_selection":
        "selected"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"9d042a414eb0de3cbacd6ed9a5b865a2ad67fc2a87cc0c692af8ca1050720f75"'
      X-GitHub-Media-Type:
      - github.v3; format=json
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/pulls?state=open
  response:
    body:
      string: '[{"url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/pulls/2","id":3329785233,"node_id":"PR_kwDORRhd7M7GeH2R","html_url":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/pull/2","diff_url":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/pull/2.diff","patch_url":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/pull/2.patch","issue_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/issues/2","number":2,"state":"open","locked":false,"title":"Add
        blah","user":{"login":"jacquev6","id":327146,"node_id":"MDQ6VXNlcjMyNzE0Ng==","avatar_url":"https://avatars.githubusercontent.com/u/327146?v=4","gravatar_id":"","url":"https://api.github.com/users/jacquev6","html_url":"https://github.com/jacquev6","followers_url":"https://api.github.com/users/jacquev6/followers","following_url":"https://api.github.com/users/jacquev6/following{/other_user}","gists_url":"https://api.github.com/users/jacquev6/gists{/gist_id}","starred_url":"https://api.github.com/users/jacquev6/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jacquev6/subscriptions","organizations_url":"https://api.github.com/users/jacquev6/orgs","repos_url":"https://api.github.com/users/jacquev6/repos","events_url":"https://api.github.com/users/jacquev6/events{/privacy}","received_events_url":"https://api.github.com/users/jacquev6/received_events","type":"User","user_view_type":"public","site_admin":false},"body":"Blah
        blah blah.","created_at":"2026-02-26T08:48:04Z","updated_at":"2026-07-08T13:04:15Z","closed_at":null,"merged_at":null,"merge_commit_sha":"44d89c91ca537a49bcea0c1cca4877600a88db59","assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/pulls/2/commits","review_comments_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/pulls/2/comments","review_comment_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/pulls/comments{/number}","comments_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/issues/2/comments","statuses_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/statuses/7497e018d01503b6abc3053b7896266115e631f6","head":{"label":"jacquev6:topics/blah","ref":"topics/blah","sha":"7497e018d01503b6abc3053b7896266115e631f6","user":{"login":"jacquev6","id":327146,"node_id":"MDQ6VXNlcjMyNzE0Ng==","avatar_url":"https://avatars.githubusercontent.com/u/327146?v=4","gravatar_id":"","url":"https://api.github.com/users/jacquev6","html_url":"https://github.com/jacquev6","followers_url":"https://api.github.com/users/jacquev6/followers","following_url":"https://api.github.com/users/jacquev6/following{/other_user}","gists_url":"https://api.github.com/users/jacquev6/gists{/gist_id}","starred_url":"https://api.github.com/users/jacquev6/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jacquev6/subscriptions","organizations_url":"https://api.github.com/users/jacquev6/orgs","repos_url":"https://api.github.com/users/jacquev6/repos","events_url":"https://api.github.com/users/jacquev6/events{/privacy}","received_events_url":"https://api.github.com/users/jacquev6/received_events","type":"User","user_view_type":"public","site_admin":false},"repo":{"id":1159224812,"node_id":"R_kgDORRhd7A","name":"test-Sentry-Integration-Dev-jacquev6","full_name":"jacquev6/test-Sentry-Integration-Dev-jacquev6","private":false,"owner":{"login":"jacquev6","id":327146,"node_id":"MDQ6VXNlcjMyNzE0Ng==","avatar_url":"https://avatars.githubusercontent.com/u/327146?v=4","gravatar_id":"","url":"https://api.github.com/users/jacquev6","html_url":"https://github.com/jacquev6","followers_url":"https://api.github.com/users/jacquev6/followers","following_url":"https://api.github.com/users/jacquev6/following{/other_user}","gists_url":"https://api.github.com/users/jacquev6/gists{/gist_id}","starred_url":"https://api.github.com/users/jacquev6/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jacquev6/subscriptions","organizations_url":"https://api.github.com/users/jacquev6/orgs","repos_url":"https://api.github.com/users/jacquev6/repos","events_url":"https://api.github.com/users/jacquev6/events{/privacy}","received_events_url":"https://api.github.com/users/jacquev6/received_events","type":"User","user_view_type":"public","site_admin":false},"html_url":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6","description":"Test
        repo for my developments in Sentry''s App","fork":false,"url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6","forks_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/forks","keys_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/keys{/key_id}","collaborators_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/teams","hooks_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/hooks","issue_events_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/issues/events{/number}","events_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/events","assignees_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/assignees{/user}","branches_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/branches{/branch}","tags_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/tags","blobs_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/refs{/sha}","trees_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/trees{/sha}","statuses_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/statuses/{sha}","languages_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/languages","stargazers_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/stargazers","contributors_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/contributors","subscribers_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/subscribers","subscription_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/subscription","commits_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/commits{/sha}","git_commits_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/commits{/sha}","comments_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/comments{/number}","issue_comment_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/issues/comments{/number}","contents_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/contents/{+path}","compare_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/compare/{base}...{head}","merges_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/merges","archive_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/downloads","issues_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/issues{/number}","pulls_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/pulls{/number}","milestones_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/milestones{/number}","notifications_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/labels{/name}","releases_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/releases{/id}","deployments_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/deployments","created_at":"2026-02-16T13:24:18Z","updated_at":"2026-07-06T08:59:44Z","pushed_at":"2026-07-08T13:03:40Z","git_url":"git://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6.git","ssh_url":"git@github.com:jacquev6/test-Sentry-Integration-Dev-jacquev6.git","clone_url":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6.git","svn_url":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6","homepage":"","size":1,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":2,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"has_pull_requests":true,"pull_request_creation_policy":"all","topics":[],"visibility":"public","forks":0,"open_issues":2,"watchers":0,"default_branch":"main"}},"base":{"label":"jacquev6:main","ref":"main","sha":"0941ee0a9eac9914cfddf5adec7a9558a2f1c447","user":{"login":"jacquev6","id":327146,"node_id":"MDQ6VXNlcjMyNzE0Ng==","avatar_url":"https://avatars.githubusercontent.com/u/327146?v=4","gravatar_id":"","url":"https://api.github.com/users/jacquev6","html_url":"https://github.com/jacquev6","followers_url":"https://api.github.com/users/jacquev6/followers","following_url":"https://api.github.com/users/jacquev6/following{/other_user}","gists_url":"https://api.g[...]
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/pulls/2
  response:
    body:
      string: '{"url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/pulls/2","id":3329785233,"node_id":"PR_kwDORRhd7M7GeH2R","html_url":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/pull/2","diff_url":"https://github.com/jacquev6/test-Sentry-I[...]
[...]
- request:
    body: '{"title": "PR from API 2026-07-08 12:00:00", "body": "Another PR, made
      through the API.", "head": "topics/blih", "base": "main"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - SCRUBBED
    method: POST
    uri: https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/pulls
  response:
    body:
      string: '{"url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/pulls/61","id":4015[...]
[...]
