interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://gitlab.com/api/v4/projects/79787061/merge_requests?state=closed
  response:
    body:
      string: '[{"id":504927842,"iid":107,"project_id":79787061,"title":"PR from API
        2026-07-08 12:00:00","description":"Another PR, made through the API.","state":"closed","created_at":"2026-07-08T14:17:30.916Z","updated_at":"2026-07-08T14:17:32.361Z","merged_by":null,"merge_user":null,"merged_at":null,"closed_by":{"id":150871,"username":"jacquev6","public_email":"","name":"Vincent
        Jacques","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/64b276c831d40984ef60c18f9d8d046cffc9b20292e357df709b929a4dc3c188?s=80\u0026d=identicon","web_url":"https://gitlab.com/jacquev6"},"closed_at":"2026-07-08T14:17:32.239Z","target_branch":"main","source_branch":"topics/blih","user_notes_count":0,"upvotes":0,"downvotes":0,"author":{"id":150871,"username":"jacquev6","public_email":"","name":"Vincent
        Jacques","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/64b276c831d40984ef60c18f9d8d046cffc9b20292e357df709b929a4dc3c188?s=80\u0026d=identicon","web_url":"https://gitlab.com/jacquev6"},"assignees":[],"assignee":null,"reviewers":[],"source_project_id":79787061,"target_project_id":79787061,"labels":[],"draft":false,"imported":false,"imported_from":"none","work_in_progress":false,"milestone":null,"merge_when_pipeline_succeeds":false,"merge_status":"can_be_merged","detailed_merge_status":"not_open","merge_after":null,"sha":"6d8ca33dae268d3c5835e721e5702ef9dcb43c8c","merge_commit_sha":null,"squash_commit_sha":null,"discussion_locked":null,"should_remove_source_branch":null,"force_remove_source_branch":true,"prepared_at":"2026-07-08T14:17:32.051Z","reference":"!107","references":{"short":"!107","relative":"!107","full":"jacquev6-sentry/test-sentry-integration-dev-jacquev6!107"},"web_url":"https://gitlab.com/jacquev6-sentry/test-sentry-integration-dev-jacquev6/-/merge_requests/107","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"squash":false,"squash_on_merge":false,"task_completion_status":{"count":0,"completed_count":0},"has_conflicts":false,"blocking_discussions_resolved":true,"approvals_before_merge":null},{"id":504889173,"iid":106,"project_id":79787061,"title":"PR
        from API 2026-07-08 15:03:08.181564","description":"Another PR, made through
        the API.","state":"closed","created_at":"2026-07-08T13:03:08.632Z","updated_at":"2026-07-08T13:03:10.364Z","merged_by":null,"merge_user":null,"merged_at":null,"closed_by":{"id":150871,"username":"jacquev6","public_email":"","name":"Vincent
        Jacques","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/64b[...]
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://gitlab.com/api/v4/projects/79787061/merge_requests?state=merged
  response:
    body:
      string: '[{"id":464363971,"iid":27,"project_id":79787061,"title":"Add blah","description":"","state":"merged","created_at":"2026-03-16T10:51:17.718Z","updated_at":"2026-03-16T10:52:00.413Z","merged_by":{"id":150871,"username":"jacquev6","public_email":"","name":"Vincent
        Jacques","state":"a[...]
