interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pullrequests/1/comments?q=deleted=false
  response:
    body:
      string: '{"values": [{"id": 823492210, "created_on": "2026-07-08T14:49:13.528616+00:00",
        "updated_on": "2026-07-08T14:49:13.540744+00:00", "content": {"type": "rendered",
        "raw": "A great comment!", "markup": "markdown", "html": "<p>A great comment!</p>"},
        "user": {"display_name": "Vincent Jacques", "links": {"self": {"href": "https://api.bitbucket.org/2.0/users/%7Bb116ba0e-54b0-48c1-8118-77624b8c8d33%7D"},
        "avatar": {"href": "https://secure.gravatar.com/avatar/d20cb9a4fcfed3bb0a5f0a2f1ffb51f9?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FVJ-3.png"},
        "html": {"href": "https://bitbucket.org/%7Bb116ba0e-54b0-48c1-8118-77624b8c8d33%7D/"}},
        "type": "user", "uuid": "{b116ba0e-54b0-48c1-8118-77624b8c8d33}", "account_id":
        "557058:657aa95a-39b4-47ed-94ae-643c19a32a3c", "nickname": "jacquev6"}, "deleted":
        false, "pending": false, "type": "pullrequest_comment", "links": {"self":
        {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pullrequests/1/comments/823492210"},
        "html": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pull-requests/1/_/diff#comment-823492210"}},
        "pullrequest": {"type": "pullrequest", "id": 1, "title": "Add blah", "draft":
        false, "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pullrequests/1"},
        "html": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pull-requests/1"}},
        "queued": false}}], "pagelen": 10, "size": 1, "page": 1}'
    headers:
      Atl-Request-Id:
      - 15304b9c-3300-4440-868b-51f7cf3bba60
      Atl-Traceid:
      - 15304b9c33004440868b51f7cf3bba60
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cef296987408a28b7bceaa66661b45fe"
      X-Accepted-Oauth-Scopes:
      - pullrequest
      X-Asap-Succeeded:
      - 'True'
      X-Credential-Type:
      - api_token
      X-Dc-Location:
      - Micros-3
      X-Oauth-Scopes:
      - write:repository:bitbucket, read:permission:bitbucket, read:gpg-key:bitbucket,
        write:pullrequest:bitbucket, read:issue:bitbucket, write:test:bitbucket, write:issue:bitbucket,
        read:workspace:bitbucket, read:pipeline:bitbucket, read:project:bitbucket,
        read:wiki:bitbucket, read:ssh-key:bitbucket, read:user:bitbucket, read:package:bitbucket,
        read:snippet:bitbucket, read:webhook:bitbucket, read:repository:bitbucket,
        read:pullrequest:bitbucket, read:test:bitbucket, read:runner:bitbucket
      X-Render-Time:
      - '0.3504018783569336'
      X-Request-Count:
      - '3685'
      X-Static-Version:
      - 20825b29ac86
      X-Token-Id:
      - b8861f3e-b291-47f3-8402-af161e75b2ca
      X-Usage-Input-Ops:
      - '8'
      X-Usage-Output-Ops:
      - '0'
      X-Usage-System-Time:
      - '0.004243'
      X-Usage-User-Time:
      - '0.142107'
      X-Used-Mesh:
      - 'False'
      X-Version:
      - 20825b29ac86
      X-View-Name:
      - bitbucket.apps.pullrequests.api.v20.handlers.PullRequestCommentsV20Handler
    status:
      code: 200
      message: OK
- request:
    body: '{"content": {"raw": "Another comment, made through the API."}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - SCRUBBED
    method: POST
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pullrequests/1/comments
  response:
    body:
      string: '{"id": 823496427, "created_on": "2026-07-08T14:57:21.219658+00:00",
        "updated_on": "2026-07-08T14:57:21.228634+00:00", "content"[...]
[...]
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: DELETE
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pullrequests/1/comments/823496427
  response:
    body:
      string: ''
    headers:
      Atl-Request-Id:
      - e9840b0d-75c3-46a5-a96c-ebb8d2247f2b
      Atl-Traceid:
      - e9840b0d75c346a5a96cebb8d2247f2b
      Content-Type:
      - text/html; charset=utf-8
      X-Accepted-Oauth-Scopes:
  [...]
[...]
