interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pullrequests/1/diffstat
  response:
    body:
      string: ''
    headers:
      Atl-Request-Id:
      - 76e87138-67c0-4738-a754-faa3ddebb48f
      Atl-Traceid:
      - 76e8713867c04738a754faa3ddebb48f
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/diffstat/jacquev6-sentry/test-sentry-integration-dev-jacquev6:7497e018d015%0D0941ee0a9eac?from_pullrequest_id=1&topic=true
      X-Accepted-Oauth-Scopes:
      - pullrequest
      X-Asap-Succeeded:
      - 'True'
      X-Credential-Type:
      - api_token
      X-Dc-Location:
      - Micros-3
      X-Oauth-Scopes:
      - read:project:bitbucket, read:wiki:bitbucket, read:ssh-key:bitbucket, read:package:bitbucket,
        read:permission:bitbucket, read:test:bitbucket, read:issue:bitbucket, read:snippet:bitbucket,
        read:webhook:bitbucket, write:issue:bitbucket, read:runner:bitbucket, read:repository:bitbucket,
        read:pullrequest:bitbucket, read:user:bitbucket, write:test:bitbucket, write:repository:bitbucket,
        read:gpg-key:bitbucket, write:pullrequest:bitbucket, read:pipeline:bitbucket,
        read:workspace:bitbucket
      X-Render-Time:
      - '0.15147638320922852'
      X-Request-Count:
      - '2951'
      X-Static-Version:
      - 20825b29ac86
      X-Token-Id:
      - b8861f3e-b291-47f3-8402-af161e75b2ca
      X-Usage-Input-Ops:
      - '0'
      X-Usage-Output-Ops:
      - '0'
      X-Usage-System-Time:
      - '0.001965'
      X-Usage-User-Time:
      - '0.086414'
      X-Used-Mesh:
      - 'False'
      X-Version:
      - 20825b29ac86
      X-View-Name:
      - bitbucket.apps.pullrequests.api.v20.handlers.PullRequestDiffStatHandler
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/diffstat/jacquev6-sentry/test-sentry-integration-dev-jacquev6:7497e018d015%0D0941ee0a9eac?from_pullrequest_id=1&topic=true
  response:
    body:
      string: '{"values":[{"type":"diffstat","lines_added":9,"lines_removed":0,"status":"added","old":null,"new":{"path":"BLAH.md","type":"commit_file","escaped_path":"BLAH.md","links":{"self":{"href":"https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/src/7497e018d01503b6abc3053b7896266115e631f6/BLAH.md"}}}}],"pagelen":500,"size":1,"page":1}'
    headers:
      Atl-Request-Id:
      - 0c4aa71e-c3fc-443d-98bf-f1ef9f8586c1
      Atl-Traceid:
      - 0c4aa71ec3fc443d98bff1ef9f8586c1
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"5ce3a45034f6b4352343d95c91f6f563b47e2bffdbf946d00819e698c398c234"'
      X-Accepted-Oauth-Scopes:
      - repository
      X-Asap-Succeeded:
      - 'True'
      X-Credential-Type:
      - api_token
      X-Dc-Location:
      - Micros-3
      X-Oauth-Scopes:
      - read:pipeline:bitbucket, read:workspace:bitbucket, write:pullrequest:bitbucket,
        read:wiki:bitbucket, read:ssh-key:bitbucket, read:test:bitbucket, read:snippet:bitbucket,
        read:project:bitbucket, read:webhook:bitbucket, read:runner:bitbucket, read:package:bitbucket,
        read:repository:bitbucket, read:pullrequest:bitbucket, read:permission:bitbucket,
        read:issue:bitbucket, write:issue:bitbucket, write:test:bitbucket, read:user:bitbucket,
        write:repository:bitbucket, read:gpg-key:bitbucket
      X-Render-Time:
      - '0.21517300605773926'
      X-Request-Count:
      - '776'
      X-Static-Version:
      - 20825b29ac86
      X-Token-Id:
      - b8861f3e-b291-47f3-8402-af161e75b2ca
      X-Usage-Input-Ops:
      - '16'
      X-Usage-Output-Ops:
      - '0'
      X-Usage-System-Time:
      - '0.006816'
      X-Usage-User-Time:
      - '0.080109'
      X-Used-Mesh:
      - 'False'
      X-Version:
      - 20825b29ac86
      X-View-Name:
      - bitbucket.apps.repo2.api.v20.diff.DiffStatHandler
    status:
      code: 200
      message: OK
version: 1
