interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://gitlab.com/api/v4/projects/79787061/issues/1/notes/3123861269/award_emoji
  response:
    body:
      string: '[{"id":43909506,"name":"thumbsup","user":{"id":150871,"username":"jacquev6","public_email":"","name":"Vincent
        Jacques","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/64b276c831d40984ef60c18f9d8d046cffc9b20292e357df709b929a4dc3c188?s=80\u0026d=identicon","web_url":"https://gitlab.com/jacquev6"},"created_at":"2026-03-02T10:42:08.895Z","updated_at":"2026-03-02T10:42:08.895Z","awardable_id":3123861269,"awardable_type":"Note","url":null},{"id":43909515,"name":"eyes","user":{"id":150871,"username":"jacquev6","public_email":"","name":"Vincent
        Jacques","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/64b276c831d40984ef60c18f9d8d046cffc9b20292e357df709b929a4dc3c188?s=80\u0026d=identicon","web_url":"https://gitlab.com/jacquev6"},"created_at":"2026-03-02T10:42:18.466Z","updated_at":"2026-03-02T10:42:18.466Z","awardable_id":3123861269,"awardable_type":"Note","url":null},{"id":43909523,"name[...]
- request:
    body: '{"name": "rocket"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - SCRUBBED
    method: POST
    uri: https://gitlab.com/api/v4/projects/79787061/issues/1/notes/3123861269/award_emoji
  response:
    body:
      string: '{"id":51433264,"name":"rocket","user":{"id":150871,"username":"jacquev6","public_email":"","name":"Vincent
        Jacques","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/64b276c831d40984ef60c18f9d8d046cffc9b20292e357df709b929a4dc3c188?s=80\u0026d=identicon","web_url":"https://gitlab.com/jacquev6"},"created_at":"2026-07-13T09:19:20.422Z","updated_at":"2026-07-13T09:19:20.422Z","awardable_id":3123861269,"awardable_type":"Note","url":null}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"55dc40e0fef52113282082aff640813f"
      gitlab-lb:
      - haproxy-main-08-lb-gprd
      gitlab-sv:
      - api-gke-us-east1-c
      ratelimit-limit:
      - '2000'
      ratelimit-name:
      - throttle_authenticated_api
      ratelimit-observed:
      - '2'
      ratelimit-remaining:
      - '1998'
      ratelimit-reset:
      - '1783934400'
      x-gitlab-meta:
      - '{"correlation_id":"a1a734976adff18f-CDG","version":"1"}'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: DELETE
    uri: https://gitlab.com/api/v4/projects/79787061/issues/1/notes/3123861269/award_emoji/51433264
  response:
    body:
      string: ''
    headers:
      gitlab-lb:
      - haproxy-main-53-lb-gprd
      gitlab-sv:
      - api-gke-us-east1-c
      ratelimit-limit:
      - '2000'
      ratelimit-name:
      - throttle_authenticated_api
      ratelimit-observed:
      - '4'
      ratelimit-remaining:
      - '1996'
      ratelimit-reset:
      - '1783934400'
      x-gitlab-meta:
      - '{"correlation_id":"a1a7349c8d86e0ad-CDG","version":"1"}'
    status:
      code: 204
      message: No Content
[...]
