interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: POST
    uri: https://api.github.com/app/installations/_/access_tokens
  response:
    body:
      string: '{"token": "SCRUBBED", "expires_at": "2026-07-08T15:13:17Z", "permissions":
        {"administration": "read", "checks": "write", "contents": "write", "issues":
        "write", "metadata": "read", "pull_requests": "write", "repository_hooks":
        "write", "statuses": "write", "workflows": "write"}, "repository_selection":
        "selected"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"d2534d41497a54bbbc62359aa2f9a1046f7ad7365e3a703df6fbd05ec355656c"'
      X-GitHub-Media-Type:
      - github.v3; format=json
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 201
      message: Created
- request:
    body: '{"body": "A review comment, on a file, made by the API on 2026-07-08 12:00:00.",
      "commit_id": "7497e018d01503b6abc3053b7896266115e631f6", "path": "BLAH.md",
      "side": "RIGHT", "subject_type": "file"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - SCRUBBED
    method: POST
    uri: https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/pulls/2/comments
  response:
    body:
      string: '{"url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/pulls/comments/3544675226","pull_request_review_id":4654961615,"id":3544675226,"node_id":"PRRC_kwDORRhd7M7TR3Oa","diff_hunk":"","path":"BLAH.md","commit_id":"7497e018d01503b6abc3053b7896266115e631f6","original_commit_id":"7497e018d01503b6abc3053b7896266115e631f6","user":{"login":"sentry-integration-dev-jacquev6[bot]","id":261902604,"node_id":"BOT_kgDOD5xRDA","avatar_url":"https://avatars.githubusercontent.com/u/327146?v=4","gravatar_id":"","url":"https://api.github.com/users/sentry-integration-dev-jacquev6%5Bbot%5D","html_url":"https://github.com/apps/sentry-integration-dev-jacquev6","followers_url":"https://api.github.com/users/sentry-integration-dev-jacquev6%5Bbot%5D/followers","following_url":"https://api.github.com/users/sentry-integration-dev-jacquev6%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/sentry-integration-dev-jacquev6%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/sentry-integration-dev-jacquev6%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sentry-integration-dev-jacquev6%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/sentry-integration-dev-jacquev6%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/sentry-integration-dev-jacquev6%5Bbot%5D/repos","events_url":"https://api.github.com/users/sentry-integration-dev-jacquev6%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/sentry-integration-dev-jacquev6%5Bbot%5D/received_events","type":"Bot","user_view_type":"public","site_admin":false},"body":"A
        review comment, on a file, made by the API on 2026-07-08 12:00:00.","created_at":"2026-07-08T14:13:18Z","updated_at":"2026-07-08T14:13:18Z","html_url":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/pull/2#discussion_r3544675226","pull_request_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/pulls/2","_links":{"self":{"href":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/pulls/comments/3544675226"},"html":{"href":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/pull/2#discussion_r3544675226"},"pull_request":{"href":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/pulls/2"}},"reactions":{"url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/pulls/comments/3544675226/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"start_line":null,"original_start_line":null,"start_side":null,"line":1,"original_line":1,"side":"RIGHT","author_association":"NONE","original_position":1,"position":1,"subject_type":"file"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"3a9bdeb82f28336918be5885645a76191f203db7d69d0852861781540c2d2196"'
      Location:
      - https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/pulls/comments/3544675226
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4965'
      X-RateLimit-Reset:
      - '1783523568'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '35'
      x-accepted-github-permissions:
      - pull_requests=write
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 201
      message: Created
- request:
    body: '{"body": "A reply to the previous comment, made by the API on 2026-07-08
      12:00:00.", "in_reply_to": 3544675226}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - SCRUBBED
    method: POST
    uri: https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/pulls/2/comments
  response:
    body:
      string: '{"url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/pulls/comments/3544675357","pull_request_review_id":4654961777,"id":3544675357,"node_id":"PRRC_kwDORRhd7M7TR3Qd","diff_hunk":"","path":"BLAH.md","commit[...]
[...]
