interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://gitlab.com/api/v4/projects/79787061/repository/tree?ref=4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c&recursive=true&per_page=100
  response:
    body:
      string: '[{"id":"5105eb153744b1240e9a6494aad9005c98c1c7f8","name":"a","type":"tree","path":"a","mode":"040000"},{"id":"cf8b3eaec626e780d80b482cb376893cab399509","name":"b","type":"tree","path":"a/b","mode":"040000"},{"id":"62028f2714488ab682456129c47e7656f70708b2","name":"c","type":"tree","path":"a/c","mode":"040000"},{"id":"2b7cb3bfc4e26e6cab55d6febac511e03da7272a","name":"d","type":"tree","path":"d","mode":"040000"},{"id":"d96986775b6793cac0a358b35650de94752a9530","name":"README.md","type":"blob","path":"README.md","mode":"100644"},{"id":"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391","name":"README2.md","type":"blob","path":"README2.md","mode":"100644"},{"id":"f70f10e4db19068f79bc43844b49f3eece45c4e8","name":"A.md","type":"blob","path":"a/b/A.md","mode":"100644"},{"id":"178481050188cf00d7d9cd5a11e43ab8fab9294f","name":"D.md","type":"blob","path":"a/b/D.md","mode":"100644"},{"id":"223b7836fb19fdf64ba2d3cd6173c6a283141f78","name":"B.md","type":"blob","path":"a/c/B.md","mode":"100644"},{"id":"3cc58df83752123644fef39faab2393af643b1d2","name":"C.md","type":"blob","path":"d/C.md","mode":"100644"},{"id":"1c507261389e25abfe3620ddd348c73f4eb3b91e","name":"E.md","type":"blob","path":"d/E.md","mode":"100644"}]'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"0dad4ba1bbf2ad910ab151d223cf6b8a"
      Link:
      - <https://gitlab.com/api/v4/projects/79787061/repository/tree?id=79787061&page=1&pagination=legacy&per_page=100&recursive=true&ref=4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c>;
        rel="first", <https://gitlab.com/api/v4/projects/79787061/repository/tree?id=79787061&page=1&pagination=legacy&per_page=100&recursive=true&ref=4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c>;
        rel="last"
      gitlab-lb:
      - haproxy-main-31-lb-gprd
      gitlab-sv:
      - api-gke-us-east1-b
      ratelimit-limit:
      - '2000'
      ratelimit-name:
      - throttle_authenticated_api
      ratelimit-observed:
      - '1'
      ratelimit-remaining:
      - '1999'
      ratelimit-reset:
      - '1784105400'
      x-gitlab-meta:
      - '{"correlation_id":"a1b78406891a8634-CDG","version":"1"}'
      x-gitlab-namespace:
      - jacquev6-sentry
      x-gitlab-score-gitaly:
      - '6'
      x-next-page:
      - ''
      x-page:
      - '1'
      x-per-page:
      - '100'
      x-prev-page:
      - ''
      x-total:
      - '11'
      x-total-pages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://gitlab.com/api/v4/projects/79787061/repository/tree?ref=4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c&recursive=true&per_page=100&page=1
  response:
    body:
      string: '[{"id":"5105eb153744b1240e9a6494aad9005c98c1c7f8","name":"a","type":"tree","path":"a","mode":"040000"},{"id":"cf8b3eaec626e780d80b482cb376893cab399509","name":"b","type":"tree","path":"a/b","mode":"040000"},{"id":"62028f2[...]
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://gitlab.com/api/v4/projects/79787061/repository/tree?ref=4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c
  response:
    body:
      string: '[{"id":"5105eb153744b1240e9a6494aad9005c98c1c7f8","name":"a","type":"tree","path":"a","mode":"040000"},{"id":"2b7cb3bfc4e26e6cab55d6febac511e03da7272a","name":"d","type":"tree","path":"d","mode":"040000"},{"id":"d96986775b6793cac0a358b35650de94752a9530","n[...]
