interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: POST
    uri: https://api.github.com/app/installations/_/access_tokens
  response:
    body:
      string: '{"token": "SCRUBBED", "expires_at": "2026-07-15T09:49:44Z", "permissions":
        {"administration": "read", "checks": "write", "contents": "write", "issues":
        "write", "metadata": "read", "pull_requests": "write", "repository_hooks":
        "write", "statuses": "write", "workflows": "write"}, "repository_selection":
        "selected"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"e0c3450b53fbbd8b764df2223f1562c3c340f2785b73e93f6d917572e87e2849"'
      X-GitHub-Media-Type:
      - github.v3; format=json
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/trees/4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c?recursive=1
  response:
    body:
      string: '{"sha":"4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c","url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/trees/4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c","tree":[{"path":"README.md","mode":"100644","type":"blob","sha":"d96986775b6793cac0a358b35650de94752a9530","size":92,"url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/blobs/d96986775b6793cac0a358b35650de94752a9530"},{"path":"README2.md","mode":"100644","type":"blob","sha":"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391","size":0,"url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/blobs/e69de29bb2d1d6434b8b29ae775ad8c2e48c5391"},{"path":"a","mode":"040000","type":"tree","sha":"5105eb153744b1240e9a6494aad9005c98c1c7f8","url":"https://api.github.c[...]
[...]
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/trees/4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c
  response:
    body:
      string: '{"sha":"4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c","url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/trees/4a7da3cfe581f2a96233cd6dbb16a76472cb0a6c","tree":[{"path":"README.md","mode":"100644","type":"blob","sha":"d96986775b6793cac0a358b35650de94752a9530","size":92,"url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/blobs/d96986775b6793cac0a358b35650de94752a9530"},{"path":"README2.md","mode":"100644","type":"blob","sha":"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391","size":0,"url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/blobs/e69de29bb2d1d6434b8b29ae775ad8c2e48c5391"},{"path":"a","mode":"040000","type":"tree","sha":"5105eb153744b1240e9a6494aad9005c98c1c7f8","url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/trees/5105eb153744b1240e9a6494aad9005c98c1c7f8"},{"path":"d","mode":"040000","type":"tree","sha":"2b7cb3bfc4e26e6cab55d6febac511e03da7272a","url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/trees/2b7cb3bfc4e26e6cab55d6febac511e03da7272a"}],"truncated":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1181d93e3481644bd4415963e5448ca8be4c22ff129f8bcd15d02652389aebe1"
      Last-Modified:
      - Mon, 06 Jul 2026 08:59:44 GMT
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4995'
      X-RateLimit-Reset:
      - '1784107729'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '5'
      x-accepted-github-permissions:
      - contents=read
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
version: 1
