interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: POST
    uri: https://api.github.com/app/installations/_/access_tokens
  response:
    body:
      string: '{"token": "SCRUBBED", "expires_at": "2026-07-13T14:12:16Z", "permissions":
        {"administration": "read", "checks": "write", "contents": "write", "issues":
        "write", "metadata": "read", "pull_requests": "write", "repository_hooks":
        "write", "statuses": "write", "workflows": "write"}, "repository_selection":
        "selected"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"d9144816b78e672e5a4b8d47ca5d720a5639690f36f866ae48cf73a9a2173a5f"'
      X-GitHub-Media-Type:
      - github.v3; format=json
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/contents/.github?ref=topics%2Ftemplates&per_page=50&page=1
  response:
    body:
      string: '[{"name":"pull_request_template.md","path":".github/pull_request_template.md","sha":"02265a34ba8b183402e26de771eed34775283fcf","size":21,"url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/contents/.github/pull_request_template.md?ref=topics/templates","html_url":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/blob/topics/templates/.github/pull_request_template.md","git_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/blobs/02265a34ba8b183402e26de771eed34775283fcf","download_url":"https://raw.githubusercontent.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/topics/templates/.github/pull_request_template.md","type":"file","_links":{"self":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/contents/.github/pull_request_template.md?ref=topics/templates","git":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/blobs/02265a34ba8b183402e26de771eed34775283fcf","html":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/blob/topics/templates/.github/pull_request_template.md"}}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"418c6ab494a3db1befa01db3bd6ea42dd2c2ddd7"'
      Last-Modified:
      - Mon, 06 Jul 2026 08:59:44 GMT
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4976'
      X-RateLimit-Reset:
      - '1783948438'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '24'
      x-accepted-github-permissions:
      - contents=read
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/contents/.github/pull_request_template.md?ref=topics%2Ftemplates
  response:
    body:
      string: '{"name":"pull_request_template.md","path":".github/pull_request_template.md","sha":"02265a34ba8b183402e26de771eed34775283fcf","size":21,"url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/contents/.github/pull_request_template.md?ref=topics/templates","html_url":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/blob/topics/templates/.github/pull_request_template.md","git_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/blobs/02265a34ba8b183402e26de771eed34775283fcf","download_url":"https://raw.githubusercontent.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/topics/templates/.github/pull_request_template.md","type":"file","content":"VGVtcGxhdGUgZm9yIGdpdGh1Yi4K\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/contents/.github/pull_request_template.md?ref=topics/templates","git":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/git/blobs/02265a34ba8b183402e26de771eed34775283fcf","html":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/blob/topics/templates/.github/pull_request_template.md"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"02265a34ba8b183402e26de771eed34775283fcf"'
      Last-Modified:
      - Mon, 13 Jul 2026 13:10:26 GMT
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4975'
      X-RateLimit-Reset:
      - '1783948438'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '25'
      x-accepted-github-permissions:
      - contents=read
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/contents/?ref=topics%2Ftemplates&per_page=50&page=1
  response:
    body:
      string: '[{"name":".bitbucket","path":".bitbucket","sha":"61078c4b800c4514e3863f8fdc388c5a02450caa","size":0,"url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/contents/.bitbucket?ref=topics/templates","html_url"[...]
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/contents/docs?ref=topics%2Ftemplates&per_page=50&page=1
  response:
    body:
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/repos/contents#get-repository-content","status":"404"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4973'
      X-RateLimit-Reset:
      - '1783948438'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '27'
      x-accepted-github-permissions:
      - contents=read
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 404
      message: Not Found
version: 1
