interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: POST
    uri: https://api.github.com/app/installations/_/access_tokens
  response:
    body:
      string: '{"token": "SCRUBBED", "expires_at": "2026-07-13T13:43:40Z", "permissions":
        {"administration": "read", "checks": "write", "contents": "write", "issues":
        "write", "metadata": "read", "pull_requests": "write", "repository_hooks":
        "write", "statuses": "write", "workflows": "write"}, "repository_selection":
        "selected"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"8c0be0a51da8018f6c62dc816398f2b5265a91b275b4b3336fc16b5604de424d"'
      X-GitHub-Media-Type:
      - github.v3; format=json
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/pulls/2/files
  response:
    body:
      string: '[{"sha":"07193989308c972f8a2d0f1b3a15c29ea4ac565b","filename":"BLAH.md","status":"added","additions":9,"deletions":0,"changes":9,"blob_url":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/blob/7497e018d01503b6abc3053b7896266115e631f6/BLAH.md","raw_url":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/raw/7497e018d01503b6abc3053b7896266115e631f6/BLAH.md","contents_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/contents/BLAH.md?ref=7497e018d01503b6abc3053b7896266115e631f6","patch":"@@
        -0,0 +1,9 @@\n+1\n+2\n+3\n+4\n+5\n+6\n+7\n+8\n+9"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"fa09d9a1f7ea023aa972f0c87b0561bb7f033cf785e2403c143fb1e53214c6f4"
      Last-Modified:
      - Mon, 13 Jul 2026 12:33:23 GMT
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4978'
      X-RateLimit-Reset:
      - '1783948438'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '22'
      x-accepted-github-permissions:
      - pull_requests=read
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/pulls/2
  response:
    body:
      string: 'diff --git a/BLAH.md b/BLAH.md

        new file mode 100644

        index 0000000..0719398

        --- /dev/null

        +++ b/BLAH.md

        @@ -0,0 +1,9 @@

        +1

        +2

        +3

        +4

        +5

        +6

        +7

        +8

        +9

        '
    headers:
      Content-Type:
      - application/vnd.github.v3.diff; charset=utf-8
      ETag:
      - '"c8f77f9c6a8e7b5a007121a396670ecdacf34474dfa065b123d768ea6bf0feb1"'
      Last-Modified:
      - Mon, 13 Jul 2026 12:33:23 GMT
      X-GitHub-Media-Type:
      - github.v3; param=diff
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4977'
      X-RateLimit-Reset:
      - '1783948438'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '23'
      x-accepted-github-permissions:
      - pull_requests=read; contents=read
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
version: 1
