interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: POST
    uri: https://api.github.com/app/installations/_/access_tokens
  response:
    body:
      string: '{"token": "SCRUBBED", "expires_at": "2026-07-08T15:12:47Z", "permissions":
        {"administration": "read", "checks": "write", "contents": "write", "issues":
        "write", "metadata": "read", "pull_requests": "write", "repository_hooks":
        "write", "statuses": "write", "workflows": "write"}, "repository_selection":
        "selected"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"e3af1f04ad7ea3872792610c1bf6fe795ffd902690fd496c1b91dcc7645c334c"'
      X-GitHub-Media-Type:
      - github.v3; format=json
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/tarball/main
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://codeload.github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/legacy.tar.gz/refs/heads/main
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '5000'
      X-RateLimit-Reset:
      - '1783523567'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '0'
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/zipball/main
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://codeload.github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/legacy.zip/refs/heads/main
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '5000'
      X-RateLimit-Reset:
      - '1783523568'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '0'
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 302
      message: Found
version: 1
