interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://gitlab.com/api/v4/projects/79787061/issues/1/award_emoji
  response:
    body:
      string: '[{"id":43923647,"name":"thumbsup","user":{"id":150871,"username":"jacquev6","public_email":"","name":"Vincent
        Jacques","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/64b276c831d40984ef60c18f9d8d046cffc9b20292e357df709b929a4dc3c188?s=80\u0026d=identicon","web_url":"https://gitlab.com/jacquev6"},"created_at":"2026-03-02T14:52:40.410Z","updated_at":"2026-03-02T14:52:40.410Z","awardable_id":185129497,"awardable_type":"Issue","url":null},{"id":43923656,"name":"dart","user":{"id":150871,"username":"jacquev6","public_email":"","name":"Vincent
        Jacques","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/64b276c831d40984ef60c18f9d8d046cffc9b20292e357df709b929a4dc3c188?s=80\u0026d=identicon","web_url":"https://gitlab.com/jacquev6"},"created_at":"2026-03-02T14:52:47.638Z","updated_at":"2026-03-02T14:52:47.638Z","awardable_id":185129497,"awardable_type":"Issue","url":null},{"id":43923674,"name":"tada","user":{"id":150871,"username":"jacquev6","public_email":"","name":"Vincent
        Jacques","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/64b276c831d40984ef60c18f9d8d046cffc9b20292e357df709b929a4dc3c188?s=80\u0026d=identicon","web_url":"https://gitlab.com/jacquev6"},"created_at":"2026-03-02T14:53:00.711Z","updated_at":"2026-03-02T14:53:00.711Z","awardable_id":185129497,"awardable_type":"Issue","url":null}]'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"8243a33c16e06464630c2914b5f36f95"
      Link:
      - <https://gitlab.com/api/v4/projects/79787061/issues/1/award_emoji?id=79787061&issue_iid=1&page=1&per_page=20>;
        rel="first", <https://gitlab.com/api/v4/projects/79787061/issues/1/award_emoji?id=79787061&issue_iid=1&page=1&per_page=20>;
        rel="last"
      gitlab-lb:
      - haproxy-main-43-lb-gprd
      gitlab-sv:
      - api-gke-us-east1-b
      ratelimit-limit:
      - '2000'
      ratelimit-name:
      - throttle_authenticated_api
      ratelimit-observed:
      - '6'
      ratelimit-remaining:
      - '1994'
      ratelimit-reset:
      - '1783934700'
      x-gitlab-meta:
      - '{"correlation_id":"a1a73c23bc699a9e-CDG","version":"1"}'
      x-next-page:
      - ''
      x-page:
      - '1'
      x-per-page:
      - '20'
      x-prev-page:
      - ''
      x-total:
      - '3'
      x-total-pages:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: DELETE
    uri: https://gitlab.com/api/v4/projects/79787061/issues/1/award_emoji/51433708
  response:
    body:
      string: ''
    headers:
      gitlab-lb:
      - haproxy-main-25-lb-gprd
      gitlab-sv:
      - api-gke-us-east1-b
      ratelimit-limit:
      - '2000'
      ratelimit-name:
      - throttle_authenticated_api
      ratelimit-observed:
      - '9'
      ratelimit-remaining:
      - '1991'
      ratelimit-reset:
      - '1783934700'
      x-gitlab-meta:
      - '{"correlation_id":"a1a73c29ec5b6f0f-CDG","version":"1"}'
    status:
      code: 204
      message: No Content
[...]
