interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pullrequests?state=OPEN
  response:
    body:
      string: '{"values": [{"comment_count": 26, "task_count": 0, "type": "pullrequest",
        "id": 1, "title": "Add blah", "description": "Blah blah blah.", "state": "OPEN",
        "draft": false, "merge_commit": null, "close_source_branch": false, "closed_by":
        null, "author": {"display_name": "Vincent Jacques", "links": {"self": {"href":
        "https://api.bitbucket.org/2.0/users/%7Bb116ba0e-54b0-48c1-8118-77624b8c8d33%7D"},
        "avatar": {"href": "https://secure.gravatar.com/avatar/d20cb9a4fcfed3bb0a5f0a2f1ffb51f9?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FVJ-3.png"},
        "html": {"href": "https://bitbucket.org/%7Bb116ba0e-54b0-48c1-8118-77624b8c8d33%7D/"}},
        "type": "user", "uuid": "{b116ba0e-54b0-48c1-8118-77624b8c8d33}", "account_id":
        "557058:657aa95a-39b4-47ed-94ae-643c19a32a3c", "nickname": "jacquev6"}, "reason":
        "", "created_on": "2026-07-06T09:48:28.727972+00:00", "updated_on": "2026-07-08T13:04:22.788933+00:00",
        "destination": {"branch": {"name": "main"}, "commit": {"hash": "0941ee0a9eac",
        "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/0941ee0a9eac"},
        "html": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commits/0941ee0a9eac"}},
        "type": "commit"}, "repository": {"type": "repository", "full_name": "jacquev6-sentry/test-sentry-integration-dev-jacquev6",
        "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6"},
        "html": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6"},
        "avatar": {"href": "https://bytebucket.org/ravatar/%7B3f35a240-0a4c-4f25-b27c-8d0b3e84c063%7D?ts=default"}},
        "name": "test-sentry-integration-dev-jacquev6", "uuid": "{3f35a240-0a4c-4f25-b27c-8d0b3e84c063}"}},
        "source": {"branch": {"name": "topics/blah", "links": {}}, "commit": {"hash":
        "7497e018d015", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/7497e018d015"},
        "html": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commits/7497e018d015"}},
        "type": "commit"}, "repository": {"type": "repository", "full_name": "jacquev6-sentry/test-sentry-integration-dev-jacquev6",
        "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6"},
        "html": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6"},
        "avatar": {"href": "https://bytebucket.org/ravatar/%7B3f35a240-0a4c-4f25-b27c-8d0b3e84c063%7D?ts=default"}},
        "name": "test-sentry-integration-dev-jacquev6", "uuid": "{3f35a240-0a4c-4f25-b27c-8d0b3e84c063}"}},
        "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pullrequests/1"},
        "html": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pull-requests/1"},
        "commits": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pullrequests/1/commits"},
        "approve": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pullrequests/1/approve"},
        "request-changes": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pullrequests/1/request-changes"},
        "diff": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/diff/jacquev6-sentry/test-sentry-integration-dev-jacquev6:7497e018d015%0D0941ee0a9eac?from_pullrequest_id=1&topic=true"},
        "diffstat": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/diffstat/jacquev6-sentry/test-sentry-integration-dev-jacquev6:7497e018d015%0D0941ee0a9eac?from_pullrequest_id=1&topic=true"},
        "comments": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pullrequests/1/comments"},
        "activity": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pullrequests/1/activity"},
        "merge": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pullrequests/1/merge"},
        "decline": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pullrequests/1/decline"},
        "statuses": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pullrequests/1/statuses"}},
        "summary": {"type": "rendered", "raw": "Blah blah blah.", "markup": "markdown",
        "html": "<p>Blah blah blah.</p>"}, "queued": false}], "pagelen": 10, "size":
        1, "page": 1}'
    headers:
      Atl-Request-Id:
      - c21031a2-8f3f-4ae2-888a-a974b7b11998
      Atl-Traceid:
      - c21031a28f3f4ae2888aa974b7b11998
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"386233493b9d1d8576d0dc4cc209f799"
      X-Accepted-Oauth-Scopes:
      - pullrequest
      X-Asap-Succeeded:
      - 'True'
      X-Credential-Type:
      - api_token
      X-Dc-Location:
      - Micros-3
      X-Oauth-Scopes:
      - read:project:bitbucket, read:wiki:bitbucket, write:test:bitbucket, read:ssh-key:bitbucket,
        read:package:bitbucket, read:snippet:bitbucket, read:webhook:bitbucket, read:permission:bitbucket,
        read:issue:bitbucket, read:pipeline:bitbucket, read:repository:bitbucket,
        write:issue:bitbucket, read:pullrequest:bitbucket, read:user:bitbucket, read:test:bitbucket,
        read:runner:bitbucket, write:repository:bitbucket, read:gpg-key:bitbucket,
        write:pullrequest:bitbucket, read:workspace:bitbucket
      X-Render-Time:
      - '0.3317739963531494'
      X-Request-Count:
      - '2884'
      X-Static-Version:
      - 20825b29ac86
      X-Token-Id:
      - b8861f3e-b291-47f3-8402-af161e75b2ca
      X-Usage-Input-Ops:
      - '8'
      X-Usage-Output-Ops:
      - '0'
      X-Usage-System-Time:
      - '0.005754'
      X-Usage-User-Time:
      - '0.153422'
      X-Used-Mesh:
      - 'False'
      X-Version:
      - 20825b29ac86
      X-View-Name:
      - bitbucket.apps.pullrequests.api.v20.handlers.RepositoryPullRequestsHandler
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pullrequests/1
  response:
    body:
      string: '{"comment_count": 26, "task_count": 0, "type": "pullrequest", "id":
        1, "title": "Add blah", "description": "Blah blah blah.", "rendered": {"title":
        {"type": "rendered", "raw": "Add blah", "markup": "markdown", "html": "<p>Add
        blah</p>"}, "description": {"type": "rendered", "raw": "Blah blah blah.",
        "markup": "markdown", "html": "<p>Blah blah blah.</p>"}}, "state": "OPEN",
        "draft": false, "merge_commit": null, "close_source_branch": false, "closed_by":
        null, "author": {"display_name": "Vincent Jacques", "links": {"self": {"href":
        "https://api.bitbucket.org/2.0/users/%7Bb116ba0e-54b0-[...]
[...]
- request:
    body: '{"title": "PR from API 2026-07-08 12:00:00", "description": "Another PR,
      made through the API.", "source": {"branch": {"name": "topics/blih"}}, "destination":
      {"branch": {"name": "main"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - SCRUBBED
    method: POST
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pullrequests
  response:
    body:
      string: '{"commen[...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - SCRUBBED
    method: POST
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pullrequests/8/decline
  response:
    body:
      string: '{"comment_count": 0, "task_count": 0, "type": "pullrequest", "id":
        8, "title": "PR from API 2026-07-08 12:00:00", "description": "Another PR,
        made through the API.", "rendered": {"[...]
[...]
