interactions:
- request:
    body: '{"name": "Created via API 20260708 120000", "state": "pending"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - SCRUBBED
    method: POST
    uri: https://gitlab.com/api/v4/projects/79787061/statuses/7497e018d01503b6abc3053b7896266115e631f6
  response:
    body:
      string: '{"id":15247000793,"sha":"7497e018d01503b6abc3053b7896266115e631f6","ref":"topics/blah","status":"pending","name":"Created
        via API 20260708 120000","target_url":null,"description":null,"created_at":"2026-07-08T14:17:53.192Z","started_at":null,"finished_at":null,"allow_failure":false,"coverage":null,"pipeline_id":2658594297,"author":{"id":150871,"username":"jacquev6","public_email":"","name":"Vincent
        Jacques","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/64b276c831d40984ef60c18f9d8d046cffc9b20292e357df709b929a4dc3c188?s=80\u0026d=identicon","web_url":"https://gitlab.com/jacquev6"}}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"5889cd7806f64ddd47e65389769e707e"
      gitlab-lb:
      - haproxy-main-24-lb-gprd
      gitlab-sv:
      - api-gke-us-east1-d
      ratelimit-limit:
      - '2000'
      ratelimit-name:
      - throttle_authenticated_api
      ratelimit-observed:
      - '44'
      ratelimit-remaining:
      - '1956'
      ratelimit-reset:
      - '1783520280'
      x-gitlab-meta:
      - '{"correlation_id":"a17fb708e9d22a61-CDG","version":"1"}'
      x-gitlab-namespace:
      - jacquev6-sentry
      x-gitlab-score-gitaly:
      - '6'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://gitlab.com/api/v4/projects/79787061/repository/commits/7497e018d01503b6abc3053b7896266115e631f6/statuses?name=Created+via+API+20260708+120000
  response:
    body:
      string: '[{"id":15247000793,"sha":"7497e018d01503b6abc3053b7896266115e631f6","ref":"topics/blah","status":"pending","name":"Created
        via API 20260708 120000","target_url":null,"description":null,"created_at":"2026-07-08T14:17:53.192Z","started_at":null,"finished_at":null,"allow_failure":false,"coverage":null,"pipeline_id":2658594297,"author":{"id":150871,"username":"jacquev6","public_email":"","name":"Vincent
        Jacques","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/64b276c831d40984ef60c18f9d8d046cffc9b20292e357df709b929a4dc3c188?s=80\u0026d=identicon","web_url":"https://gitlab.com/jacquev6"}}]'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"53cdc83e30aa848530e28c252014ec17"
      Link:
      - <https://gitlab.com/api/v4/projects/79787061/repository/commits/7497e018d01503b6abc3053b7896266115e631f6/statuses?id=79787061&name=Created+via+API+20260708+120000&order_by=id&page=1&per_page=20&sha=7497e018d01503b6abc3053b7896266115e631f6>;
        rel="first", <https://gitlab.com/api/v4/projects/79787061/repository/commits/7497e018d01503b6abc3053b7896266115e631f6/statuses?id=79787061&name=Created+via+API+20260708+120000&order_by=id&page=1&per_page=20&sha=7497e018d01503b6abc3053b7896266115e631f6>;
        rel="last"
      gitlab-lb:
      - haproxy-main-44-lb-gprd
      gitlab-sv:
      - api-gke-us-east1-c
      ratelimit-limit:
      - '2000'
      ratelimit-name:
      - throttle_authenticated_api
      ratelimit-observed:
      - '45'
      ratelimit-remaining:
      - '1955'
      ratelimit-reset:
      - '1783520280'
      x-gitlab-meta:
      - '{"correlation_id":"a17fb70ca804005a-CDG","version":"1"}'
      x-gitlab-namespace:
      - jacquev6-sentry
      x-gitlab-score-gitaly:
      - '2'
      x-next-page:
      - ''
      x-page:
      - '1'
      x-per-page:
      - '20'
      x-prev-page:
      - ''
      x-total:
      - '1'
      x-total-pages:
      - '1'
    status:
      code: 200
      message: OK
[...]
