interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://gitlab.com/api/v4/projects/79787061/merge_requests/1/diffs
  response:
    body:
      string: '[{"diff":"@@ -0,0 +1,9 @@\n+1\n+2\n+3\n+4\n+5\n+6\n+7\n+8\n+9\n","collapsed":false,"too_large":false,"new_path":"BLAH.md","old_path":"BLAH.md","a_mode":"0","b_mode":"100644","new_file":true,"renamed_file":false,"deleted_file":false,"generated_file":false}]'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"0675bbbaee7b45103eb590e8ac7572e9"
      Link:
      - <https://gitlab.com/api/v4/projects/79787061/merge_requests/1/diffs?id=79787061&merge_request_iid=1&page=1&per_page=20&unidiff=false>;
        rel="first", <https://gitlab.com/api/v4/projects/79787061/merge_requests/1/diffs?id=79787061&merge_request_iid=1&page=1&per_page=20&unidiff=false>;
        rel="last"
      gitlab-lb:
      - haproxy-main-19-lb-gprd
      gitlab-sv:
      - gke-cny-api
      ratelimit-limit:
      - '2000'
      ratelimit-name:
      - throttle_authenticated_api
      ratelimit-observed:
      - '30'
      ratelimit-remaining:
      - '1970'
      ratelimit-reset:
      - '1783520280'
      x-gitlab-meta:
      - '{"correlation_id":"a17fb6d399a30198-CDG","version":"1"}'
      x-next-page:
      - ''
      x-page:
      - '1'
      x-per-page:
      - '20'
      x-prev-page:
      - ''
      x-total:
      - '1'
      x-total-pages:
      - '1'
    status:
      code: 200
      message: OK
version: 1
