interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pullrequests/1/diffstat
  response:
    body:
      string: ''
    headers:
      Atl-Request-Id:
      - 754c52b5-9558-494c-8ddf-37a538d30e5b
      Atl-Traceid:
      - 754c52b59558494c8ddf37a538d30e5b
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/diffstat/jacquev6-sentry/test-sentry-integration-dev-jacquev6:7497e018d015%0D0941ee0a9eac?from_pullrequest_id=1&topic=true
      X-Accepted-Oauth-Scopes:
      - pullrequest
      X-Asap-Succeeded:
      - 'True'
      X-Credential-Type:
      - api_token
      X-Dc-Location:
      - Micros-3
      X-Oauth-Scopes:
      - read:snippet:bitbucket, read:webhook:bitbucket, read:runner:bitbucket, read:repository:bitbucket,
        read:permission:bitbucket, read:issue:bitbucket, read:pullrequest:bitbucket,
        write:issue:bitbucket, read:user:bitbucket, write:test:bitbucket, write:repository:bitbucket,
        read:gpg-key:bitbucket, write:pullrequest:bitbucket, read:pipeline:bitbucket,
        read:package:bitbucket, read:workspace:bitbucket, read:project:bitbucket,
        read:wiki:bitbucket, read:ssh-key:bitbucket, read:test:bitbucket
      X-Render-Time:
      - '0.19645929336547852'
      X-Request-Count:
      - '638'
      X-Static-Version:
      - a1ea9c7db4bd
      X-Token-Id:
      - b8861f3e-b291-47f3-8402-af161e75b2ca
      X-Usage-Input-Ops:
      - '0'
      X-Usage-Output-Ops:
      - '0'
      X-Usage-System-Time:
      - '0.004706'
      X-Usage-User-Time:
      - '0.092262'
      X-Used-Mesh:
      - 'False'
      X-Version:
      - a1ea9c7db4bd
      X-View-Name:
      - bitbucket.apps.pullrequests.api.v20.handlers.PullRequestDiffStatHandler
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/diffstat/jacquev6-sentry/test-sentry-integration-dev-jacquev6:7497e018d015%0D0941ee0a9eac?from_pullrequest_id=1&topic=true
  response:
    body:
      string: '{"values":[{"type":"diffstat","lines_added":9,"lines_removed":0,"status":"added","old":null,"new":{"path":"BLAH.md","type":"commit_file","escaped_path":"BLAH.md","links":{"self":{"href":"https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/src/7497e018d01503b6abc3053b7896266115e631f6/BLAH.md"}}}}],"pagelen":500,"size":1,"page":1}'
    headers:
      Atl-Request-Id:
      - 69602570-8acd-49da-9892-ecdf3aed7ed2
      Atl-Traceid:
      - 696025708acd49da9892ecdf3aed7ed2
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"5ce3a45034f6b4352343d95c91f6f563b47e2bffdbf946d00819e698c398c234"'
      X-Accepted-Oauth-Scopes:
      - repository
      X-Asap-Succeeded:
      - 'True'
      X-Credential-Type:
      - api_token
      X-Dc-Location:
      - Micros-3
      X-Oauth-Scopes:
      - read:runner:bitbucket, read:user:bitbucket, write:repository:bitbucket, read:gpg-key:bitbucket,
        write:pullrequest:bitbucket, read:package:bitbucket, write:test:bitbucket,
        read:workspace:bitbucket, read:project:bitbucket, read:pipeline:bitbucket,
        read:wiki:bitbucket, read:ssh-key:bitbucket, read:snippet:bitbucket, read:webhook:bitbucket,
        read:repository:bitbucket, read:permission:bitbucket, read:issue:bitbucket,
        read:pullrequest:bitbucket, write:issue:bitbucket, read:test:bitbucket
      X-Render-Time:
      - '0.31084513664245605'
      X-Request-Count:
      - '283'
      X-Static-Version:
      - a1ea9c7db4bd
      X-Token-Id:
      - b8861f3e-b291-47f3-8402-af161e75b2ca
      X-Usage-Input-Ops:
      - '24'
      X-Usage-Output-Ops:
      - '0'
      X-Usage-System-Time:
      - '0.008177'
      X-Usage-User-Time:
      - '0.089611'
      X-Used-Mesh:
      - 'True'
      X-Version:
      - a1ea9c7db4bd
      X-View-Name:
      - bitbucket.apps.repo2.api.v20.diff.DiffStatHandler
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/pullrequests/1/diff
  response:
    body:
      string: ''
    headers:
      Atl-Request-Id:
      - 388b7dec-2903-46c6-a38b-35cc4c7e8e6b
      Atl-Traceid:
      - 388b7dec290346c6a38b35cc4c7e8e6b
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://api.bitbucket.org/[...]
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/diff/jacquev6-sentry/test-sentry-integration-dev-jacquev6:7497e018d015%0D0941ee0a9eac?from_pullrequest_id=1&topic=true
  response:
    body:
      string: 'diff --git a/BLAH.md b/BLAH.md

        new file mode 100644

        index 0000000..0719398

        --- /dev/null

        +++ b/BLAH.md

      [...]
