interactions:
- request:
    body: '{"key": "Created via API 20260708 120000", "state": "INPROGRESS", "name":
      "Created via API 20260708 120000", "url": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commits/7497e018d01503b6abc3053b7896266115e631f6"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - SCRUBBED
    method: POST
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/7497e018d01503b6abc3053b7896266115e631f6/statuses/build
  response:
    body:
      string: '{"key": "Created via API 20260708 120000", "type": "build", "state":
        "INPROGRESS", "name": "Created via API 20260708 120000", "refname": null,
        "commit": {"hash": "7497e018d01503b6abc3053b7896266115e631f6", "links": {"self":
        {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/7497e018d01503b6abc3053b7896266115e631f6"},
        "html": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commits/7497e018d01503b6abc3053b7896266115e631f6"}},
        "type": "commit"}, "url": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commits/7497e018d01503b6abc3053b7896266115e631f6",
        "repository": {"type": "repository", "full_name": "jacquev6-sentry/test-sentry-integration-dev-jacquev6",
        "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6"},
        "html": {"href": "https://bitbucket.org/jacquev6-sentry/test-sentry-integration-dev-jacquev6"},
        "avatar": {"href": "https://bytebucket.org/ravatar/%7B3f35a240-0a4c-4f25-b27c-8d0b3e84c063%7D?ts=default"}},
        "name": "test-sentry-integration-dev-jacquev6", "uuid": "{3f35a240-0a4c-4f25-b27c-8d0b3e84c063}"},
        "description": "", "created_on": "2026-07-08T13:04:21.931546+00:00", "updated_on":
        "2026-07-08T14:35:17.546380+00:00", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/7497e018d01503b6abc3053b7896266115e631f6/statuses/build/Created%20via%20API%2020260708%20120000"},
        "commit": {"href": "https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/7497e018d01503b6abc3053b7896266115e631f6"}}}'
    headers:
      Atl-Request-Id:
      - bd3322b9-c14a-45eb-8b92-d37f92af23e2
      Atl-Traceid:
      - bd3322b9c14a45eb8b92d37f92af23e2
      Content-Type:
      - application/json
      Location:
      - /2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/7497e018d01503b6abc3053b7896266115e631f6/statuses/build/Created%20via%20API%2020260708%20120000
      X-Accepted-Oauth-Scopes:
      - repository
      X-Asap-Succeeded:
      - 'True'
      X-Credential-Type:
      - api_token
      X-Dc-Location:
      - Micros-3
      X-Oauth-Scopes:
      - read:user:bitbucket, read:workspace:bitbucket, read:project:bitbucket, read:wiki:bitbucket,
        read:test:bitbucket, read:ssh-key:bitbucket, read:package:bitbucket, read:runner:bitbucket,
        read:snippet:bitbucket, read:webhook:bitbucket, read:repository:bitbucket,
        read:pullrequest:bitbucket, write:test:bitbucket, read:pipeline:bitbucket,
        read:permission:bitbucket, write:repository:bitbucket, read:issue:bitbucket,
        read:gpg-key:bitbucket, write:pullrequest:bitbucket, write:issue:bitbucket
      X-Render-Time:
      - '0.2466130256652832'
      X-Request-Count:
      - '3993'
      X-Static-Version:
      - 20825b29ac86
      X-Token-Id:
      - b8861f3e-b291-47f3-8402-af161e75b2ca
      X-Usage-Input-Ops:
      - '0'
      X-Usage-Output-Ops:
      - '0'
      X-Usage-System-Time:
      - '0.007632'
      X-Usage-User-Time:
      - '0.145639'
      X-Used-Mesh:
      - 'False'
      X-Version:
      - 20825b29ac86
      X-View-Name:
      - bitbucket.apps.commitstatus.api.v20.handlers.BuildStatusesHandler
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.bitbucket.org/2.0/repositories/jacquev6-sentry/test-sentry-integration-dev-jacquev6/commit/7497e018d01503b6abc3053b7896266115e631f6/statuses/build/Created%20via%20API%2020260708%20120000
  response:
    body:
      string: '{"key": "Created via API 20260708 120000", "type": "build", "state":
        "INPROGRESS", "name": "Created via API 20260708 120000", "refname": null,
        "co[...]
[...]
