interactions:
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: POST
    uri: https://api.github.com/app/installations/_/access_tokens
  response:
    body:
      string: '{"token": "SCRUBBED", "expires_at": "2026-07-15T11:09:46Z", "permissions":
        {"administration": "read", "checks": "write", "contents": "write", "issues":
        "write", "metadata": "read", "pull_requests": "write", "repository_hooks":
        "write", "statuses": "write", "workflows": "write"}, "repository_selection":
        "selected"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"33adf287db1e997f9db6d4e9961aabe5dc1adfeb49bda539df8cbb6268d73c5f"'
      X-GitHub-Media-Type:
      - github.v3; format=json
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 201
      message: Created
- request:
    body: '{"body": "A review comment, on a file, made by the API on 2026-07-08 12:00:00.",
      "commit_id": "7497e018d01503b6abc3053b7896266115e631f6", "path": "BLAH.md",
      "side": "RIGHT", "subject_type": "file"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - SCRUBBED
    method: POST
    uri: https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/pulls/2/comments
  response:
    body:
      string: '{"url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/pulls/comments/3586332997","pull_request_review_id":4703073738,"id":3586332997,"node_id":"PRRC_kwDORRhd7M7VwxlF","diff_hunk":"","path":"BLAH.md","commit_id":"7497e018d01503b6abc3053b7896266115e631f6","original_commit_id":"7497e018d01503b6abc3053b7896266115e631f6","user":{"login":"sentry-integration-dev-jacquev6[bot]","id":261902604,"node_id":"BOT_kgDOD5xRDA","avatar_url":"https://avatars.githubusercontent.com/u/327146?v=4","gravatar_id":"","url":"https://api.github.com/users/sentry-integration-dev-jacquev6%5Bbot%5D","html_url":"https://github.com/apps/sentry-integration-dev-jacquev6","followers_url":"https://api.github.com/users/sentry-integration-dev-jacquev6%5Bbot%5D/followers","following_url":"https://api.github.com/users/sentry-integration-dev-jacquev6%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/sentry-integration-dev-jacquev6%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/sentry-integration-dev-jacquev6%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sentry-integration-dev-jacquev6%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/sentry-integration-dev-jacquev6%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/sentry-integration-dev-jacquev6%5Bbot%5D/repos","events_url":"https://api.github.com/users/sentry-integration-dev-jacquev6%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/sentry-integration-dev-jacquev6%5Bbot%5D/received_events","type":"Bot","user_view_type":"public","site_admin":false},"body":"A
        review comment, on a file, made by the API on 2026-07-08 12:00:00.","created_at":"2026-07-15T10:09:47Z","updated_at":"2026-07-15T10:09:47Z","html_url":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/pull/2#discussion_r3586332997","pull_request_url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/pulls/2","_links":{"self":{"href":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/pulls/comments/3586332997"},"html":{"href":"https://github.com/jacquev6/test-Sentry-Integration-Dev-jacquev6/pull/2#discussion_r3586332997"},"pull_request":{"href":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/pulls/2"}},"reactions":{"url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/pulls/comments/3586332997/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"start_line":null,"original_start_line":null,"start_side":null,"line":1,"original_line":1,"side":"RIGHT","author_association":"NONE","original_position":1,"position":1,"subject_type":"file"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"aaa1fc4417363cdbc32e30b44ab0aa5b0a69485e746e593240a553f80f9aa448"'
      Location:
      - https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/pulls/comments/3586332997
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4985'
      X-RateLimit-Reset:
      - '1784112128'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '15'
      x-accepted-github-permissions:
      - pull_requests=write
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 201
      message: Created
- request:
    body: '{"body": "A reply to the previous comment, made by the API on 2026-07-08
      12:00:00.", "in_reply_to": 3586332997}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - SCRUBBED
    method: POST
    uri: https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/pulls/2/comments
  response:
    body:
      string: '{"url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/pulls/comments/3586333075","pull_request_review_id":4703073892,"id":3586333075,"node_id":"PRRC_kwDORRhd7M7VwxmT","diff_hunk":"","path":"BLAH.md","commit[...]
[...]
- request:
    body: '{"body": "An edited review comment, made by the API on 2026-07-08 12:00:00."}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - SCRUBBED
    method: PATCH
    uri: https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/pulls/comments/3586332997
  response:
    body:
      string: '{"url":"https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/pulls/comments/3586332997","pull_request_review_id":470[...]
[...]
- request:
    body: '{"query": "\nquery ReviewThreadByComment($owner: String!, $name: String!,
      $number: Int!, $cursor: String) {\n    repository(owner: $owner, name: $name)
      {\n        pullRequest(number: $number) {\n            reviewThreads(first:
      100, after: $cursor) {\n                pageInfo { hasNextPage endCursor }\n                nodes
      {\n                    id\n                    comments(first: 100) {\n                        pageInfo
      { hasNextPage endCursor }\n                        nodes { id }\n                    }\n                }\n            }\n        }\n    }\n}\n",
      "variables": {"owner": "jacquev6", "name": "test-Sentry-Integration-Dev-jacquev6",
      "number": 2, "cursor": null}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - SCRUBBED
    method: POST
    uri: https://api.github.com/graphql
  response:
    body:
      string: '{"data":{"repository":{"pullRequest":{"reviewThreads":{"pageInfo":{"hasNextPage":false,"endCursor":"Y3Vyc29yOnYyOpK0MjAyNi0wNy0xNVQxMDowOTo1M1rOkQ37Vw=="},"nodes":[{"id":"PRRT_kwDORRhd7M5yS87c","comments":{"pageInfo":{"hasNextPage":false,"endCursor":"Y3Vyc29yOnYyOpK0MjAyNi0wMy0wNVQxMDozNTowMlrOrDTMJA=="},"nodes":[{"id":"PRRC_kwDORRhd7M6sNMwk"}]}},{"id":"PRRT_kwDORRhd7M5yS9MB","comments":{"pageInfo":{"hasNextPage":false,"endCursor":"Y3Vyc29yOnYyOpK0MjAyNi0wMy0wNVQxMDozNToxOVrOrDTRxw=="},"nodes":[{"id":"PRRC_kwDORRhd7M6sNNHH"}]}},{"id":"PRRT_kwDORRhd7M5yTIm2","comments":{"pageInfo":{"hasNextPage":false,"endCursor":"Y3Vyc29yOnYyOpK0MjAyNi0wMy0wNVQxMDo0NzozOVrOrDXLmg=="},"nodes":[{"id":"PRRC_kwDORRhd[...]
[...]
- request:
    body: '{"query": "\nmutation ResolveReviewThread($threadId: ID!) {\n    resolveReviewThread(input:
      {threadId: $threadId}) {\n        thread { isResolved }\n    }\n}\n", "variables":
      {"threadId": "PRRT_kwDORRhd7M6RDflW"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - SCRUBBED
    method: POST
    uri: https://api.github.com/graphql
  response:
    body:
      string: '{"data":{"resolveReviewThread":{"thread":{"isResolved":true}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v4; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4989'
      X-RateLimit-Reset:
      - '1784113584'
      X-RateLimit-Resource:
      - graphql
      X-RateLimit-Used:
      - '11'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - SCRUBBED
    method: GET
    uri: https://api.github.com/repos/jacquev6/test-Sentry-Integration-Dev-jacquev6/installation
  response:
    body:
      string: '{"id":120833184,"client_id":"Iv23liMNboKqr6ZJTtvn","account":{"login":"jacquev6","id":327146,"node_id":"MDQ6VXNlcjMyNzE0Ng==","avatar_url":"https://avatars.githubusercontent.com/u/327146?v=4","gravatar_id":"","url":"https://api.github.com/users/jacquev6","html_url":"https://github.com/jacquev6","followers_url":"https://api.github.com/users/jacquev6/followers","following_url":"https://api.github.com/users/jacquev6/following{/other_user}","gists_url":"https://api.github.com/users/jacquev6/gists{/gist_id}","starred_url":"https://api.github.com/users/jacquev6/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jacquev6/subscriptions","organizations_url":"https://api.github.com/users/jacquev6/orgs","repos_url":"https://api.github.com/users/jacquev6/repos","events_url":"https://api.github.com/users/jacquev6/events{/privacy}","received_events_url":"https://api.github.com/users/jacquev6/received_events","type":"User","user_view_type":"public","site_admin":false},"repository_selection":"selected","access_tokens_url":"https://api.github.com/app/installations/120833184/access_tokens","repositories_url":"https://api.github.com/installation/repositories","html_url":"https://github.com/settings/installations/120833184","app_id":2876513,"app_slug":"sentry-integration-dev-jacquev6","target_id":327146,"target_type":"User","permissions":{"checks":"write","issues":"write","contents":"write","metadata":"read","statuses":"write","workflows":"write","pull_requests":"write","administration":"read","repository_hooks":"write"},"events":["pull_request","push"],"created_at":"2026-04-02T08:31:48.000Z","updated_at":"2026-04-02T08:31:49.000Z","single_file_name":null,"has_multiple_single_files":false,"single_file_paths":[],"suspended_by":null,"suspended_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"0b4bb40e2aa39f96110dabef0e09a94d01e133ea80e09eafc32ef42eea6a2ddb"
      X-GitHub-Media-Type:
      - github.v3; format=json
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"query": "\nmutation UpdateAndResolvePullRequestReviewComment(\n    $commentId:
      ID!,\n    $body: String!,\n    $threadId: ID!\n) {\n    updatePullRequestReviewComment(\n        input:
      {pullRequestReviewCommentId: $commentId, body: $body}\n    ) {\n        pullRequestReviewComment
      {\n\n        id\n        fullDatabaseId\n        body\n        createdAt\n        updatedAt\n        author
      {\n            __typename\n            ... on User { databaseId login }\n            ...
      on Bot { login }\n            ... on Mannequin { login }\n        }\n        pullRequestReview
      { databaseId }\n\n        }\n    }\n    resolveReviewThread(input: {threadId:
      $threadId}) {\n        thread { isResolved }\n    }\n}\n", "variables": {"commentId":
      "PRRC_kwDORRhd7M7Vwxnr", "body": "An edited, then collapsed, review comment,
      made by the API on 2026-07-08 12:00:00.", "threadId": "PRRT_kwDORRhd7M6RDfnU"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - SCRUBBED
    method: POST
    uri: https://api.github.com/graphql
  response:
    body:
      string: '{"data":{"updatePullRequestReviewComment":{"pullRequestReviewComment":{"id":"PRRC_kwDORRhd7M7Vwxnr","fullDatabaseId":"3586333163","body":"An
        edited, then collapsed, review comment, made by the API on 2026-07-08 12:00:00.","createdAt":"2026-07-15T10:09:49Z","updatedAt":"2026-07-15T10:09:58Z","author":{"__typename":"Bot","login":"sentry-integration-dev-jacquev6"},"pullRequestReview":{"databaseId":4703074023}}},"resolveReviewThread":{"thread":{"isResolved":true}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v4; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4987'
      X-RateLimit-Reset:
      - '1784113584'
      X-RateLimit-Resource:
      - graphql
      X-RateLimit-Used:
      - '13'
    status:
      code: 200
      message: OK
[...]
